<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><a href="#" class="active">已注册会计信息</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="condition" id="condition" class="input input-normal"><option value='0'>所有</option></select><input type="text" id="content" class="input input-normal ml10"><button id="searchData" class="button button-success ml10">搜索</button></div>
					</div>
				</div>
			</div>
			<div id="currentTips" class="tips tips-warning" style="display: none;"></div>
			<table class="table center">
	    		<colgroup>
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:9%;">
	    			<col style="width:7%;">
	    			<col style="width:8%;">
	    			<col style="width:12%;">
	    		</colgroup>
	    		<thead id="records">
	    			<tr>
	    				<th>注册时间</th>
	    				<th>用户ID</th>
	    				<th>用户姓名</th>
	    				<th>联系电话</th>
	    				<th>工作年限</th>
	    				<th>工作行业</th>
	    				<th>工作证书</th>
	    				<th>工作地区</th>
	    				<th>头像预览</th>
	    				<th>审核状态</th>
	    				<th>操作</th>
	    			</tr>
	    		</thead>
	    		<tbody id='retData'>
	    		</tbody>
	    	</table>
	    	<div class="pagination"></div>
		</div>
	</div>
	<div id="contentImg" class="hide">
		<div class="imgviewwrap">
			<div id="imgviewWrap"></div>
			<div class="controls-wrap">
				<!-- <span class="resume"><i class="iconfont" title="原图">&#xe63b;</i>原图</span> -->
				<span class="zoom"><i class="iconfont" title="放大">&#xe618;</i>放大</span>
				<span class="micrify"><i class="iconfont" title="缩小">&#xe62c;</i>缩小</span>
			</div>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
<!--该js需要修改js路径及修改seajs路径-->
<script src="/js/webjs/jquery-1.11.1.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
<script src="/js/webjs/menuTree.js"></script>
<script type="text/javascript">
BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
	var modifyPwdForm = new Overlay.Dialog({
        title:'密码修改',
        width:600,
        height:280,
        contentId:'modifyPwd',
        success:function () {
          	this.close();
        },
        buttons : []
    });
	$('#setPwd').click(function(){
		modifyPwdForm.show();
	})
	$('#modify_pwd_button').click(function(){
		var oldPwd = $('#old_pwd').val();
		var newPwd = $('#new_pwd').val();
		var confirmNewPwd = $('#confirm_new_pwd').val();
		if(oldPwd == null || oldPwd == "") {
			BUI.Message.Alert('请输入旧密码！','warning');
			return;
		}
		if(newPwd == null || newPwd == "") {
			BUI.Message.Alert('请输新密码！','warning');
			return;
		}
		if(confirmNewPwd == null || confirmNewPwd == "") {
			BUI.Message.Alert('请输入新密码！','warning');
			return;
		}
		if(newPwd != confirmNewPwd) {
			BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
			return;
		}
		$.ajax({
			url : '/modifyPassword',
			type : "POST",
			data : {oldPwd:oldPwd, newPwd:newPwd},
			success : function(data) {
				if(data.error_code == "0") {
					BUI.Message.Alert('修改密码成功！','success');
				} else {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			},
			error : function(data) {
				BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
			}
		});
	})
});
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		var viewContent = new Imgview.ViewContent({
            render: "#imgviewWrap",
            autoRender: false, // 设置为true就自动渲染，默认为false！
            // 以下属性全部可以set来修改。
            width: 760,
            height: 480,
            imgSrc: "",
            //rotateTime: 300, // 旋转时间,默认300
            //scaleTime: 300, // 缩放时间,默认300
            overflowSize: 100, // 边界回弹像素,默认100,实际上是取Math.min(overflowSize,imgNowWidth,imgNowHeight)
            drag: true //是否可以拖动，默认为true
        });
		viewContent.render();
		$(".controls-wrap").on('click',function(e){
            var target = e.target;
            if($.contains(this,target)){
            var self = jQuery(target),
            cls = self.attr("class");
            if (cls == "viewImg") {
                self.attr({"href" : viewContent.get('imgSrc'),"target" : "_blank"});
                return true;
                } else if (cls == "drag1") {
                viewContent.set("drag", false);
                } else if (cls == "drag2") {
                viewContent.set("drag", true);
                } else if (cls == "chgImg1") {
                viewContent.set("imgSrc", "http://pic.sc.chinaz.com/files/pic/pic9/201505/apic11703.jpg");
                } else if (cls == "chgImg2") {
                viewContent.set("imgSrc", "http://b.hiphotos.baidu.com/image/pic/item/adaf2edda3cc7cd9840d6c923a01213fb80e915c.jpg");
                } else if (cls == "resize1") {
            var width = 800,height = 600;
            $("#img-preview-wrap").width(width).height(height);
            viewContent.resize({width : width,height : height});
            viewContent.set('width', width);
            viewContent.set('height', height);
            } else if (cls == "resize2") {
            // 测试resize
            var width = 400,height = 300;
            $("#img-preview-wrap").width(width).height(height);
            // viewContent.resize({width : width,height : height});
            viewContent.set('width', width);
            viewContent.set('height', height);
            }else{
            // 为了方便,直接根据className调用
            viewContent[cls]();
            }
            return false;
            }
        });
		
		var dialogForm = new Overlay.Dialog({
		    title:'会计头像预览',
		    width:880,
		    height:550,
		    contentId:'contentImg',
		    success:function () {
		        this.close();
		    },
		    buttons : []
		});
		
		function createDataList(data) {
			$('#retData').html("");
			if(data == null || data == "") return;
			data.sort(function(a,b){return a.date<b.date?1:-1});
			var container = $('#retData');
			for(var i=0; i<data.length; i++) {
				var trNode = $("<tr></tr>");
				var tdNode = $("<td>"+data[i].date+"</td><td width='15' style='word-break:break-all'>"+data[i].userId+"</td><td>"+data[i].userName+"</td><td>"+data[i].phone+"</td><td>"+data[i].workTime+"</td><td>"+data[i].workIndustry+"</td><td>"+data[i].workCertificate+"</td><td>"+data[i].workArea+"</td>");
			    var imgNode = $("<td><a href='javascript:void(0);'>点击查看</a></td>");
			    if(data[i].image == null || data[i].image == "none") {
			    	imgNode = $("<td>未设定</td>");
			    } else {
			    	imgNode.attr("file-src", data[i].image);
				    imgNode.click(function(event) {
				    	viewContent.set('imgSrc', $(this).attr("file-src"));
					    dialogForm.show();
				    });
			    }
			    
			    var tdNode2 = $("<td></td>");
			    var tdNode3 = $("<td>"+data[i].auditStatus+"</td>");
			    var operateAuditReject = $("<a href='javascript:void(0)'>审核拒绝</a>");
			    var operateAuditPass = $("<a href='javascript:void(0)'>审核通过</a>");
			    (function(tempData){
			    	operateAuditReject.click(function(event) {
			    		$.ajax({
			    			url : '/admin/auditUser',
			    			type : "POST",
			    			data : {userId:tempData.userId, auditStatus:2},
			    			success : function() {
			    				$.ajax({
			    					url : '/admin/getAllAccounterDetailInfo',
			    					type : "POST",
			    					data : {},
			    					success : function(data) {
			    						createDataList(data);
			    					}
			    				});
			    			}
			    		});
					});
			    	operateAuditPass.click(function(event) {
			    		$.ajax({
			    			url : '/admin/auditUser',
			    			type : "POST",
			    			data : {userId:tempData.userId, auditStatus:1},
			    			success : function() {
			    				$.ajax({
			    					url : '/admin/getAllAccounterDetailInfo',
			    					type : "POST",
			    					data : {},
			    					success : function(data) {
			    						createDataList(data);
			    					}
			    				});
			    			}
			    		});
					});
				}(data[i]));
			    
			    operateAuditReject.appendTo(tdNode2);
			    operateAuditPass.appendTo(tdNode2);
			    tdNode.appendTo(trNode);
			    imgNode.appendTo(trNode);
			    tdNode3.appendTo(trNode);
			    tdNode2.appendTo(trNode);
			    trNode.appendTo(container);
			}
		};
		$.ajax({
			url : '/admin/getAllAccounterDetailInfo',
			type : "POST",
			data : {},
			success : function(data) {
				createDataList(data);
			}
		});
		$('#searchData').click(function(){
			return;
			var conditionType = $('#condition option:selected').val();
			var conditionValue = $('#content').val();
			if(conditionType != '0' && (conditionValue == null || conditionValue == '')) {
				BUI.Message.Alert('请输入需要检索内容的内容！','warning');
				return;
			}
			if(conditionType == '0') {
				$.ajax({
					url : '/admin/getAllAccounterDetailInfo',
					type : "POST",
					data : {},
					success : function(data) {
						createDataList(data);
					}
				});
			} else {
				$.ajax({
					url : '/admin/getAllAccounterDetailInfoByName',
					type : "POST",
					data : {conditionValue:conditionValue},
					success : function(data) {
						createDataList(data);
					}
				});
			}
		})
	});
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
	//竖状菜单
       var menu = new menuTree(
            {"nodes" : [
					{text : '已注册公司基本信息',id : '10',href:"/views/webviews/admin/admin.html", leaf:false, expanded : false,children: []},
					{text : '已注册公司详细信息',id : '20',href:"/views/webviews/admin/company_detail_info.html", leaf:false, expanded : false,children: []},
					{text : '已注册会计信息',id : '30',href:"/views/webviews/admin/accounter_detail_info.html", leaf:false, expanded : false,children: []},
					{text : '绑定会计',id : '40',href:"/views/webviews/admin/bind_accounter.html", leaf:false, expanded : false,children: []},
					{text : '修改公司付款金额',id : '50',href:"/views/webviews/admin/modify_company_pay.html", leaf:false, expanded : false,children: []}
					]
            },"menuTree"
        );
    defaultSelect("30");
    function defaultSelect(id){ 
        $("#"+id).parent().addClass("bui-menu-item-selected")
    }
</script>
</body>
</html>