<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>上海元升财务咨询有限公司</title>
<link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/pager.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png">
				<h1>上海元升财务咨询有限公司</h1>
			</div>
			<div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i
							class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu">
				<a href="#" class="active">绑定会计</a>
			</div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
						<div class="controls">
							<input placeholder="ID、公司名称皆可" type="text" id="content" class="input input-normal ml10">
							<button id="searchData" class="button button-success ml10">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<div id="currentTips" class="tips tips-warning"
				style="display: none;"></div>
			<table class="table center" style="word-wrap:break-word; word-break:break-all;">
				<colgroup>
					<col style="width: 5%;">
					<col style="width: 20%;">
					<col style="width: 7%;">
					<col style="width: 7%;">
					<col style="width: 11%;">
					<col style="width: 15%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
						<th>ID</th>
						<th>公司名称</th>
						<th>会计</th>
						<th>副会计</th>
						<th>客户联系方式</th>
						<th>纳税人类型</th>
						<th>发票张数</th>
						<th>修改</th>
					</tr>
				</thead>
				<tbody id='retData'>
				</tbody>
			</table>
			<!-- 分页-->
			<div style="text-align: center">
				<ul class="pagination" id="page">
				</ul>
			</div>
			<form id="downloadForm" method="POST">
				<input type="hidden" id="fileName" name="fileName"> <input
					type="hidden" id="companyId" name="companyId">
			</form>
		</div>
	</div>
	<div id="modifyPwd" style="display: none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer">
					<a href="javascript:void(0);" id="modify_pwd_button"
						class="button button-success">确定修改</a>
				</div>
			</div>
		</div>
	</div>
	<div id="updateAccounterForm" style="display: none;">
		<div id="form" class="form-horizontal">
			<div class="control-group" id="cName">
				<label class="control-label" style="float: left;">公司名称：</label>
				<div class="controls" id="updateAccounterForm_companyName"></div>
			</div>
			<div class="control-group" id="bindingDetail">
				<label class="control-label">会计：</label>
				<div class="controls control-row-auto"
					id="updateAccounterForm_accounterSelect"></div>
			</div>
			<div class="control-group" id="reason_div" style="display:none">
				<label class="control-label">过期原因：</label>
				<div class="controls control-row-auto">
					<input id="reason" type="text" style="width:238px"/>
				</div>
			</div>
			<div class="control-group" id="bindingDetail">
				<label class="control-label">副会计：</label>
				<div class="controls control-row-auto"
					id="vice_accounter_list"></div>
			</div>
			<div class="control-group">
				<label class="control-label">纳税人类型：</label>
				<div class="controls control-row-auto">
					<select id="taxpayer_type" style="width:250px;" >
						<option value="1">小规模纳税人</option>
						<option value="2">一般纳税人</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">发票张数：</label>
				<div class="controls control-row-auto">
					<select id="invoice_amount" style="width:250px;">
						<option value="0">=0张</option>
						<option value="1"><30张</option>
						<option value="2">>30张</option>
					</select>
				</div>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer" id="updateAccounterForm_accounter">
					<a href="javascript:void(0);"
						id="updateAccounterForm_accounter_info"
						class="button button-success">确定修改</a>
				</div>
			</div>
		</div>
	</div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="/js/webjs/jquery-1.11.1.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script src="/js/webjs/pager.js"></script>
	<script type="text/javascript">
		BUI.use([ 'bui/imgview', 'bui/overlay' ], function(Imgview, Overlay) {
			var modifyPwdForm = new Overlay.Dialog({
				title : '密码修改',
				width : 600,
				height : 280,
				contentId : 'modifyPwd',
				success : function() {
					this.close();
				},
				buttons : []
			});

			$('#setPwd').click(function() {
				modifyPwdForm.show();
			})
			$('#modify_pwd_button').click(
				function() {
					var oldPwd = $('#old_pwd').val();
					var newPwd = $('#new_pwd').val();
					var confirmNewPwd = $('#confirm_new_pwd').val();
					if (oldPwd == null || oldPwd == "") {
						BUI.Message.Alert('请输入旧密码！', 'warning');
						return;
					}
					if (newPwd == null || newPwd == "") {
						BUI.Message.Alert('请输新密码！', 'warning');
						return;
					}
					if (confirmNewPwd == null || confirmNewPwd == "") {
						BUI.Message.Alert('请输入新密码！', 'warning');
						return;
					}
					if (newPwd != confirmNewPwd) {
						BUI.Message.Alert('两次输入的新密码不一致，请检查！', 'warning');
						return;
					}
					$.ajax({
						url : '/modifyPassword',
						type : "POST",
						data : {
							oldPwd : oldPwd,
							newPwd : newPwd
						},
						success : function(data) {
							if (data.error_code == "0") {
								BUI.Message.Alert('修改密码成功！', 'success');
							} else {
								BUI.Message.Alert('修改密码失败！错误信息：'
										+ data.error_msg, 'warning');
							}
						},
						error : function(data) {
							BUI.Message.Alert('修改密码失败！错误信息：'
									+ data.error_msg, 'warning');
						}
					});
				})
		});

		var globalAlipayForm;
		var globalSelectedAccounterId;
		var globalCompanyId;
		var globalCompanyName;
		function createAccounterList(data) {
			if (data == null || data == "")
				return;
			var selectNode = $("<select style=\"width:250px;\" ></select>");
			var blankOption = $('<option value=""></option>');
			blankOption.appendTo(selectNode);
			for (var i = 0; i < data.length; i++) {
				var tdNode1 = $("<option value="+data[i].user_id+">"
						+ data[i].user_id + "  (" + data[i].user_name + ")" + "</option>  ");
				tdNode1.appendTo(selectNode);
			}
			$('#updateAccounterForm_accounterSelect,#vice_accounter_list').html(selectNode);
			$('#updateAccounterForm_accounterSelect select').click(function() {
				if($('#updateAccounterForm_accounterSelect select option:selected').val() == 'guoqibuxufei@bangbangzhang.com') {
					$('#reason_div').css('display', 'block');
				} else {
					$('#reason_div').css('display', 'none');
				}
				
			});
		};
		$.ajax({
			url : '/admin/getAccounterIdInfo',
			type : "POST",
			data : {},
			success : function(data) {
				createAccounterList(data);
			},
			error : function(data) {
				BUI.Message.Alert('获取信息失败!');
			}
		});
		BUI.use([ 'bui/imgview', 'bui/overlay' ],function(Imgview, Overlay) {
			var updateAccounterForm = new Overlay.Dialog({
				title : '修改绑定会计',
				width : 600,
				height : 380,
				contentId : 'updateAccounterForm',
				success : function() {
					this.close();
				},
				buttons : []
			});
			$('#updateAccounterForm_accounter_info').click(function() {
				var selectValue = $('#updateAccounterForm_accounterSelect select option:selected').val();
				var vice_accounter = $('#vice_accounter_list select option:selected').val();
				var taxpayer_type = $('#taxpayer_type option:selected').val();
				var invoice_amount = $('#invoice_amount option:selected').val();
				if (selectValue == null || selectValue == "" ||
						taxpayer_type == null || taxpayer_type == '' ||
						invoice_amount == null || invoice_amount == '') {
					BUI.Message.Alert('没有选到值！','warning');
					return;
				}
				if (globalCompanyId == null || globalCompanyId == "") {
					BUI.Message.Alert('没有获取到公司名称！', 'warning');
					return;
				}
				if(selectValue == 'guoqibuxufei@bangbangzhang.com' && $('#reason').val().length <= 5) {
					BUI.Message.Alert('过期原因过于简单！请重新填写！', 'warning');
					return;
				}
				$.ajax({url : '/admin/updateCompanyAccounterIdInfo', type : "POST",data : {
						selectValue : selectValue,
						vice_accounter : vice_accounter,
						globalCompanyId : globalCompanyId,
						taxpayer_type : taxpayer_type,
						invoice_amount : invoice_amount,
						reason : $('#reason').val()
					},
					success : function(data) {
						if (data.error_code == "0") {
							BUI.Message.Alert('修改成功！', 'success');
							updateAccounterForm.close();
							window.location.reload();
					} else {
						BUI.Message.Alert('修改失败！错误信息~~：'+ data.error_msg,'warning');
						updateAccounterForm.close();
					}
				},
				error : function(data) {
					BUI.Message.Alert('修改失败！错误信息：'+ data.error_msg,'warning');
				}
			});
		})
		function createDataList(data) {
			$('#retData').html("");
			if (data == null || data == "")
				return;
			var container = $('#retData');
			for (var index in data) {
				var trNode = $("<tr></tr>");
				var tdNode = $("<td>" + data[index].id
						+ "</td><td>" + data[index].name
						+ "</td><td>" + (data[index].user_name==null?'':data[index].user_name)
						+ "</td><td>" + (data[index].vice_accounter==null?'':data[index].vice_accounter)
						+ "</td><td>" + (data[index].phone==null?'':data[index].phone)
						+ "</td><td>" + (data[index].taxpayer_type==null?'':(data[index].taxpayer_type=='1'?'小规模纳税人':'一般纳税人'))
						+ "</td><td>" + (data[index].invoice_amount==null?'':(data[index].invoice_amount=='0'?'0张':(data[index].invoice_amount=='1'?'小于30张':'大于30张')))
						+ "</td>");
				var companyNode = $("<td><a  id='updateshow_company' href='javascript:void(0);' class='button button-success'>修改</a></td>");
				companyNode.attr("company-id", data[index].id);
				companyNode.attr("company-name",
						data[index].name);
				companyNode.attr('accounter_id', data[index].accounter_id);
				companyNode.attr('vice_accounter_id', data[index].vice_accounter_id);
				companyNode.attr('taxpayer_type', data[index].taxpayer_type);
				companyNode.attr('invoice_amount', data[index].invoice_amount);
				companyNode.attr('reason', data[index].reason);
				companyNode.attr('user_name', data[index].user_name);
				companyNode.click(function(event) {
					if($(this).attr("accounter_id") == 'guoqibuxufei@bangbangzhang.com') {
						$('#reason_div').css('display', 'block');
					} else {
						$('#reason_div').css('display', 'none');
					}
					globalCompanyId = $(this).attr("company-id");
					globalCompanyName = $(this).attr("company-name");
					var companyName = $('#updateAccounterForm_companyName').html(globalCompanyName);
					$('#updateAccounterForm_accounterSelect select').find('option[value=\"'+$(this).attr("accounter_id")+'\"]').prop('selected', true);
					if($(this).attr('reason') == null || $(this).attr('reason') == undefined || $(this).attr('reason') == '') {
						$('#reason').val('前任会计：' + $(this).attr('user_name') + '; 过期不续费原因:');
					} else {
						$('#reason').val($(this).attr('reason'));
					}
					/* $('#reason').val($(this).attr('reason')); */
					$('#vice_accounter_list select').find('option[value=\"'+$(this).attr("vice_accounter_id")+'\"]').prop('selected', true);
					$('#taxpayer_type').find('option[value=\"'+$(this).attr("taxpayer_type")+'\"]').prop('selected', true);
					$('#invoice_amount').find('option[value=\"'+$(this).attr("invoice_amount")+'\"]').prop('selected', true);
					updateAccounterForm.show();
				});
				tdNode.appendTo(trNode);
				companyNode.appendTo(trNode);
				trNode.appendTo(container);
			}
		};

		function loadData(index, key) {
		 	$.post('/admin/getComByIndexAndKey', {index : index, key : key}, function(data){
		 		createDataList(data);
			});
		}
			
		function initPage(key) {
			$.post('/admin/getComTotalPageByKey', {
				length : 10,
				key : key
			}, function(data) {
				var totalPage = data;
				Page({
					num : totalPage, //页码数
					startnum : 1, //指定页码
					elem : $('#page'), //指定的元素
					callback : function(n) { //回调函数
						loadData(n, key);
					}
				});
			});
		}

		$(document).ready(function() {
			loadData(1, '');
			initPage('');
		});

		$("#searchData").click(function() {
			var key = $('#content').val();
			loadData(1, key);
			initPage(key);
		});
	});
	//侧栏高度
	(function() {
		var H = $(window).height();
		var h1 = $(".side-bar-top").height()
				+ $(".side-bar-bottom").height();
		$(".side-bar-content").height(H - h1);
		$(window).resize(function() {
			H = $(window).height();
			$(".side-bar-content").height(H - h1);
		});
	})()
	//竖状菜单
	//竖状菜单
	var menu = new menuTree({
		"nodes" : [ {
			text : '已注册公司基本信息',
			id : '10',
			href : "/views/webviews/admin/admin.html",
			leaf : false,
			expanded : false,
			children : []
		}, {
			text : '已注册公司详细信息',
			id : '20',
			href : "/views/webviews/admin/company_detail_info.html",
			leaf : false,
			expanded : false,
			children : []
		}, {
			text : '已注册会计信息',
			id : '30',
			href : "/views/webviews/admin/accounter_detail_info.html",
			leaf : false,
			expanded : false,
			children : []
		}, {
			text : '绑定会计',
			id : '40',
			href : "/views/webviews/admin/bind_accounter.html",
			leaf : false,
			expanded : false,
			children : []
		}, {
			text : '修改公司付款金额',
			id : '50',
			href : "/views/webviews/admin/modify_company_pay.html",
			leaf : false,
			expanded : false,
			children : []
		} ]
	}, "menuTree");
	defaultSelect("40");
	function defaultSelect(id) {
		$("#" + id).parent().addClass("bui-menu-item-selected")
	}
</script>
</body>
</html>