<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap" id="mask">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><a href="#" class="active">修改公司付款金额</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="condition" id="condition" class="input input-normal"><option value='0'>所有</option><option value='1'>按公司名称检索</option></select><input type="text" id="content" class="input input-normal ml10"><button id="searchData" class="button button-success ml10">搜索</button></div>
					</div>
				</div>
			</div>
			<div id="currentTips" class="tips tips-warning" style="display: none;"></div>
			<table class="table center">
	    		<colgroup>
	    			<col style="width:10%;">
	    			<col style="width:50%;">
	    			<col style="width:10%;">
	    			<col style="width:10%;">
	    			<col style="width:10%;">
	    			<col style="width:10%;">
	    		</colgroup>
	    		<thead id="records">
	    			<tr>
	    				<th>公司ID</th>
	    				<th>公司名称</th>
	    				<th>服务时间</th>
	    				<th>服务费用</th>
	    				<th>服务时间</th>
	    				<th>操作</th>
	    			</tr>
	    		</thead>
	    		<tbody id='retData'>
	    		</tbody>
	    	</table>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div id="modifyCompanyPay" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入服务期限（月）：</label>
				<div class="controls">
					<input id="service_time" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入服务费用（￥）：</label>
				<div class="controls control-row-auto">
					<input id="service_amount" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">服务到期期限（YYYY-MM-DD）：</label>
				<div class="controls control-row-auto">
					<input id="service_expired_date" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_company_pay" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
<!--该js需要修改js路径及修改seajs路径-->
<script src="/js/webjs/jquery-1.11.1.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
<script src="/js/webjs/menuTree.js"></script>
<script type="text/javascript">
var currentSelectedCompanyId;
var reg = /^[1-9]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
	var regExp = new RegExp(reg);
	function checkDateFormat(value){
		if(!regExp.test(value)){
		　　return false;
		} else {
			return true;
		}
	}
BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
	var modifyPwdForm = new Overlay.Dialog({
        title:'密码修改',
        width:600,
        height:280,
        contentId:'modifyPwd',
        success:function () {
          	this.close();
        },
        buttons : []
    });
	$('#setPwd').click(function(){
		modifyPwdForm.show();
	})
	$('#modify_pwd_button').click(function(){
		var oldPwd = $('#old_pwd').val();
		var newPwd = $('#new_pwd').val();
		var confirmNewPwd = $('#confirm_new_pwd').val();
		if(oldPwd == null || oldPwd == "") {
			BUI.Message.Alert('请输入旧密码！','warning');
			return;
		}
		if(newPwd == null || newPwd == "") {
			BUI.Message.Alert('请输新密码！','warning');
			return;
		}
		if(confirmNewPwd == null || confirmNewPwd == "") {
			BUI.Message.Alert('请输入新密码！','warning');
			return;
		}
		if(newPwd != confirmNewPwd) {
			BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
			return;
		}
		$.ajax({
			url : '/modifyPassword',
			type : "POST",
			data : {oldPwd:oldPwd, newPwd:newPwd},
			success : function(data) {
				if(data.error_code == "0") {
					BUI.Message.Alert('修改密码成功！','success');
				} else {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			},
			error : function(data) {
				BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
			}
		});
	})
});
	BUI.use(['bui/imgview', 'bui/overlay', 'bui/mask'], function(Imgview, Overlay, Mask) {
		var loadMask = new Mask.LoadMask({
			el : '#mask',
			msg : 'loading ....'
		});
		$("#mask").css("z-index", 99);
		var modifyCompanyPay = new Overlay.Dialog({
	        title:'修改服务时间和费用',
	        width:600,
	        height:280,
	        contentId:'modifyCompanyPay',
	        success:function () {
	          	this.close();
	        },
	        buttons : []
	    });
		
			$('#modify_company_pay').click(function(){
				var serviceTime = $('#service_time').val();
				var serviceAmount = $('#service_amount').val();
				var serviceExpiredTime = $('#service_expired_date').val();
				if(serviceTime == null || serviceTime == "") {
					BUI.Message.Alert('请输入服务期限！','warning');
					return;
				}
				if(!checkDateFormat(serviceExpiredTime)){
					BUI.Message.Alert('服务期限日期格式不正确，正确格式为：YYYY-MM-DD','warning');
					return;
				}
				if(serviceAmount == null || serviceAmount == "") {
					BUI.Message.Alert('请输入服务费用！','warning');
					return;
				}

				$.ajax({
					url : '/admin/modifyCompanyPayInfo',
					type : "POST",
					data : {serviceTime:serviceTime,serviceAmount:serviceAmount,expiredTime:serviceExpiredTime,companyId:currentSelectedCompanyId},
					success : function(data) {
						modifyCompanyPay.close();
						if(data.result == "false") {
							BUI.Message.Alert('修改失败，请检查权限！','warning');
						} else {
							BUI.Message.Alert('修改成功！','success');
							loadMask.show();
							$.ajax({
								url : '/admin/getAllCompanyPayInfo',
								type : "POST",
								data : {},
								success : function(data) {
									createDataList(data);
								}
							});
						}
					},
					error : function(data) {
						BUI.Message.Alert('修改失败！','warning');
						modifyCompanyPay.close();
					}
				});
			})
		function createDataList(data) {
			$('#retData').html("");
			if(data == null || data == "") return;
			var container = $('#retData');
			for(var i=0; i<data.length; i++) {
				var trNode = $("<tr></tr>");
				var tdNode = $("<td>"+data[i].company_id+"</td><td>"+data[i].company_name+"</td><td>"+data[i].company_service_time+"</td><td>"+data[i].company_service_amount+"</td><td>"+data[i].company_expired_time+"</td>");
			    var operateNode = $("<td><a href='javascript:void(0);'>修改服务时间和费用</a></td>");
			    operateNode.attr("company_id", data[i].company_id);
			    operateNode.click(function(event) {
			    	currentSelectedCompanyId = $(this).attr("company_id");
			    	modifyCompanyPay.show();
			    });
			    tdNode.appendTo(trNode);
			    operateNode.appendTo(trNode);
			    trNode.appendTo(container);
			}
			loadMask.hide();
		};
		loadMask.show();
		$.ajax({
			url : '/admin/getAllCompanyPayInfo',
			type : "POST",
			data : {},
			success : function(data) {
				createDataList(data);
			}
		});
		$('#searchData').click(function(){
			var conditionType = $('#condition option:selected').val();
			var conditionValue = $('#content').val();
			if(conditionType != '0' && (conditionValue == null || conditionValue == '')) {
				BUI.Message.Alert('请输入需要检索内容的内容！','warning');
				return;
			}
			if(conditionType == '0') {
				$.ajax({
					url : '/admin/getAllCompanyPayInfo',
					type : "POST",
					data : {},
					success : function(data) {
						createDataList(data);
					}
				});
			} else {
				$.ajax({
					url : '/admin/getAllCompanyPayInfoByCompanyName',
					type : "POST",
					data : {conditionValue:conditionValue},
					success : function(data) {
						createDataList(data);
					}
				});
			}
		})
	});
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
	//竖状菜单
       var menu = new menuTree(
            {"nodes" : [
					{text : '已注册公司基本信息',id : '10',href:"/views/webviews/admin/admin.html", leaf:false, expanded : false,children: []},
					{text : '已注册公司详细信息',id : '20',href:"/views/webviews/admin/company_detail_info.html", leaf:false, expanded : false,children: []},
					{text : '已注册会计信息',id : '30',href:"/views/webviews/admin/accounter_detail_info.html", leaf:false, expanded : false,children: []},
					{text : '绑定会计',id : '40',href:"/views/webviews/admin/bind_accounter.html", leaf:false, expanded : false,children: []},
					{text : '修改公司付款金额',id : '50',href:"/views/webviews/admin/modify_company_pay.html", leaf:false, expanded : false,children: []}
					]
            },"menuTree"
        );
	
    defaultSelect("50");
    function defaultSelect(id){ 
        $("#"+id).parent().addClass("bui-menu-item-selected")
    }
</script>
</body>
</html>