#filter folders
target/
.settings/
.idea/
#filter files
*.class
*.apk
.tern-project
.project
.classpath
*.DS_Store
bbzweb.iml
/build

important.properties.*
dispatcher-servlet.xml
WeixinConstEnum.*