* {
	font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.blue-background {
	color: rgb(63, 81, 181);
}
.preloader {
	padding: 50px;
	background: url('../img/preloader.gif') no-repeat 50% 50% transparent;
}