.logo {
	min-width:20px;
	min-height:20px;
}

.bar.bar-assertive {
	border-color: #0c63ee;
  	background-color: #387ef5;
}

.img-box {
	border-color: #0c63ee;
	border-style: solid;
	border-width: 2px;
}

.content-box {
	margin-top:50px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 10px;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

* {
  font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}