<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><a href="javascript:void(0)" class="active">报销单历史记录</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="condition" id="condition" class="input input-normal"><option value='0'>所有</option></select><input type="text" id="content" class="input input-normal ml10"><button onclick="searchData();" class="button button-success ml10">搜索</button></div>
					</div>
				</div>
			</div>
			<table class="table center">
	    		<colgroup>
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    		</colgroup>
	    		<thead>
	    			<tr>
	    				<th>ID号</th>
	    				<th>费用类型</th>
	    				<th>金额</th>
	    				<th>发票状态</th>
	    				<th>审核结果</th>
	    				<th>发票预览</th>
	    			</tr>
	    		</thead>
	    		<tbody id="retData">
	    		</tbody>
	    	</table>
	    	<div class="pagination"></div>
		</div>
	</div>
	<div id="contentImg" class="hide">
		<div class="imgviewwrap">
			<div id="imgviewWrap"></div>
			<div class="controls-wrap">
				<!-- <span class="resume"><i class="iconfont" title="原图">&#xe63b;</i>原图</span> -->
				<span class="zoom"><i class="iconfont" title="放大">&#xe618;</i>放大</span>
				<span class="micrify"><i class="iconfont" title="缩小">&#xe62c;</i>缩小</span>
			</div>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
<!--该js需要修改js路径及修改seajs路径-->
<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
<script src="/js/webjs/menuTree.js"></script>
<script type="text/javascript">
BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
	var modifyPwdForm = new Overlay.Dialog({
        title:'密码修改',
        width:600,
        height:280,
        contentId:'modifyPwd',
        success:function () {
          	this.close();
        },
        buttons : []
    });
	$('#setPwd').click(function(){
		modifyPwdForm.show();
	})
	$('#modify_pwd_button').click(function(){
		var oldPwd = $('#old_pwd').val();
		var newPwd = $('#new_pwd').val();
		var confirmNewPwd = $('#confirm_new_pwd').val();
		if(oldPwd == null || oldPwd == "") {
			BUI.Message.Alert('请输入旧密码！','warning');
			return;
		}
		if(newPwd == null || newPwd == "") {
			BUI.Message.Alert('请输新密码！','warning');
			return;
		}
		if(confirmNewPwd == null || confirmNewPwd == "") {
			BUI.Message.Alert('请输入新密码！','warning');
			return;
		}
		if(newPwd != confirmNewPwd) {
			BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
			return;
		}
		$.ajax({
			url : '/modifyPassword',
			type : "POST",
			data : {oldPwd:oldPwd, newPwd:newPwd},
			success : function(data) {
				if(data.error_code == "0") {
					BUI.Message.Alert('修改密码成功！','success');
				} else {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			},
			error : function(data) {
				BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
			}
		});
	})
});
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		var viewContent = new Imgview.ViewContent({
	        render: "#imgviewWrap",
	        autoRender: false, // 设置为true就自动渲染，默认为false！
	        // 以下属性全部可以set来修改。
	        width: 760,
	        height: 480,
	        imgSrc: "",
	        //rotateTime: 300, // 旋转时间,默认300
	        //scaleTime: 300, // 缩放时间,默认300
	        overflowSize: 100, // 边界回弹像素,默认100,实际上是取Math.min(overflowSize,imgNowWidth,imgNowHeight)
	        drag: true //是否可以拖动，默认为true
	    });
		viewContent.render();
		$(".controls-wrap").on('click',function(e){
	        var target = e.target;
	        if($.contains(this,target)){
	        var self = jQuery(target),
	        cls = self.attr("class");
	        if (cls == "viewImg") {
	            self.attr({"href" : viewContent.get('imgSrc'),"target" : "_blank"});
	            return true;
	            } else if (cls == "drag1") {
	            viewContent.set("drag", false);
	            } else if (cls == "drag2") {
	            viewContent.set("drag", true);
	            } else if (cls == "chgImg1") {
	            viewContent.set("imgSrc", "http://pic.sc.chinaz.com/files/pic/pic9/201505/apic11703.jpg");
	            } else if (cls == "chgImg2") {
	            viewContent.set("imgSrc", "http://b.hiphotos.baidu.com/image/pic/item/adaf2edda3cc7cd9840d6c923a01213fb80e915c.jpg");
	            } else if (cls == "resize1") {
	        var width = 800,height = 600;
	        $("#img-preview-wrap").width(width).height(height);
	        viewContent.resize({width : width,height : height});
	        viewContent.set('width', width);
	        viewContent.set('height', height);
	        } else if (cls == "resize2") {
	        // 测试resize
	        var width = 400,height = 300;
	        $("#img-preview-wrap").width(width).height(height);
	        // viewContent.resize({width : width,height : height});
	        viewContent.set('width', width);
	        viewContent.set('height', height);
	        }else{
	        // 为了方便,直接根据className调用
	        viewContent[cls]();
	        }
	        return false;
	        }
	    });
		var dialogForm = new Overlay.Dialog({
		    title:'发票图片',
		    width:880,
		    height:550,
		    contentId:'contentImg',
		    success:function () {
		        this.close();
		    },
		    buttons : []
		});
		var page = 1;
		var pageSize = 1000;
		$.ajax({
			url : '/companyUser/getInvoiceHistory',
			type : "POST",
			data : {page:page, pageSize:pageSize},
			success : function(data) {
				if(data == null || data == '') return;
				$('#retData').html("");
				data.sort(function(a,b){return a.create_time<b.create_time?1:-1});
				for(var i=0; i<data.length; i++) {
					var container = $('#retData');
				    var a = $("<tr><td>"+data[i].invoice_id+"</td><td>"+data[i].bill_expenseTypeName+"</td><td>"+data[i].bill_amount+"</td><td class='"+(data[i].bill_commit_status == 0 ? "text-warning" : "text-info")+"'>"+(data[i].bill_commit_status == 0? "已提交发票" : "草稿发票")+"</td><td class='"+(data[i].bill_commit_status == 1? "" : (data[i].processStatus == 0 ? "text-info" : (data[i].approval_status == true ? "text-success" : "text-danger")))+"'>"+(data[i].bill_commit_status == 1 ? "无" : (data[i].processStatus == 0? "审核中" : (data[i].approval_status == true ? "审核通过" : "审核拒绝")))+"</td><td><a href='javascript:void(0);'>点击预览发票</a></td></tr>");
				    var imgsrc = data[i].bill_img;
					a.attr("img-src", imgsrc);
				    a.click(function(event) {
				    	viewContent.set('imgSrc', ($(this).attr("img-src") == null  ?"":$(this).attr("img-src")));
					    dialogForm.show();
				    });
				    a.appendTo(container);
				}
			}
		});
		function searchData() {
			var conditionType = $('#condition option:selected').val();
			var conditionValue = $('#content').val();
			if(conditionType != '0' && (conditionValue == null || conditionValue == '')) {
				//alert('请输入检索内容！');
				return;
			}
		}
	});
	
	/* var diag = null;
	
	 BUI.use('bui/overlay',function(overlay){
	     
	      
	        BUI.Message.Alert('这只是简单的提示信息',function(){
	         
	        },'info');
	 
	      
	      $('#btnShow').on('click',function () {
	        show();
	      });
	      
	      }); */
         
     
         
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
     var menu = new menuTree(
            {"nodes" : [
       					{text : '发票上传',id : '10',href:"/views/webviews/companyUser/expense_account_upload.html", leaf : false,children: []},
       					{text : '发票草稿箱',id : '20',href:"/views/webviews/companyUser/expense_account_draft.html", leaf : false,children: []},
       					{text : '新建报销单',id : '30',href:"/views/webviews/companyUser/create_invoice.html", leaf : false,children: []},
       					{text : '待审核报销单',id : '40',href:"/views/webviews/companyUser/user_wait_audit_invoice.html", leaf : false,children: []},
       					{text : '已审核报销单',id : '50',href:"/views/webviews/companyUser/user_finish_audit_invoice.html", leaf : false,children: []},
       					{text : '报销单历史',id : '60',href:"/views/webviews/companyUser/expense_account_history.html", leaf : false,children: []},
       					{text : '审核发票',id : '70',href:"javascript:void(0);",  leaf:false, expanded : false,children: [
       						{text : '待审核发票',id : '71', href:"/views/webviews/companyUser/audit_invoice_need_process.html"},
       						{text : '已审核发票',id : '72', href:"/views/webviews/companyUser/audit_invoice_finished.html"}                                                   
       					]}
                 ]
            },"menuTree"
        );
	    defaultSelect("60");
	    function defaultSelect(id){ 
	        $("#"+id).parent().addClass("bui-menu-item-selected")
	    }
</script>
</body>
</html>