<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href=""><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><a href="javascript:void(0)" class="active">已审核报销单</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="condition" id="condition" class="input input-normal"><option value='0'>所有</option></select><input type="text" id="content" class="input input-normal ml10"><button onclick="searchData();" class="button button-success ml10">搜索</button></div>
					</div>
				</div>
			</div>
			<table class="table center">
	    		<colgroup>
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    		</colgroup>
	    		<thead>
	    			<tr>
	    				<th>ID号</th>
	    				<th>审核日期</th>
	    				<th>审核人</th>
	    				<th>审核结果</th>
	    				<th>审核理由</th>
	    				<th>发票预览</th>
	    			</tr>
	    		</thead>
	    		<tbody id="retData">
	    		</tbody>
	    	</table>
	    	<div class="pagination"></div>
		</div>
	</div>
<!--该js需要修改js路径及修改seajs路径-->
<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
<script src="/js/webjs/menuTree.js"></script>
<script type="text/javascript">
	var page = 1;
	var pageSize = 1000;
	$.ajax({
		url : '/companyUser/getFinishInvoiceList',
		type : "POST",
		data : {status:1, page:page, pageSize:pageSize},
		success : function(data) {
			if(data == null || data == '') return;
			$('#retData').html("");
			data.sort(function(a,b){return a.update_time<b.update_time?1:-1});
			for(var i=0; i<data.length; i++) {
				$('#retData').append("<tr><td>"+data[i].invoice_id+"</td><td>"+data[i].update_time+"</td><td>"+data[i].approval_name+"</td><td class='"+(data[i].approval_status == true ? "text-success" : "text-danger")+"'>"+(data[i].approval_status == true ? "审核通过" : "审核拒绝")+"</td><td><p title='"+data[i].reasons+"'>"+(data[i].reasons.length>8?data[i].reasons.substr(0,8)+"...":data[i].reasons)+"</p></td><td><a href='"+data[i].bill_img+"'>点击预览发票</a></td></tr>");
			}
		}
	});
	function searchData() {
		var conditionType = $('#condition option:selected').val();
		var conditionValue = $('#content').val();
		if(conditionType != '0' && (conditionValue == null || conditionValue == '')) {
			alert('请输入检索内容！');
			return;
		}
	}
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
        BUI.use('bui/tree',function (Tree) {
            var menu = new Tree.TreeMenu({
            render : '.side-bar-content',

            elCls : 'bui-side-menu', 
            itemCls : 'bui-menu-item',
            expandAnimate : true,
            showIcons : false,

            dirTpl : '<li class="menu-leaf menu-second"><div class="bui-menu-title"><s></s><span class="bui-menu-title-text"><a href="{href}">{text}</a></span></div></li>',
            leafTpl : '<li class="menu-leaf"><a href="{href}">{text}</a></li>',

            nodes : [
   					{text : '发票上传',id : '10',href:"/views/webviews/companyUser/expense_account_upload.html"},
   					{text : '发票草稿箱',id : '20',href:"/views/webviews/companyUser/expense_account_draft.html"},
   					{text : '新建报销单',id : '30',href:"/views/webviews/companyUser/create_invoice.html"},
   					{text : '待审核报销单',id : '40',href:"/views/webviews/companyUser/user_wait_audit_invoice.html"},
   					{text : '已审核报销单',id : '50',href:"/views/webviews/companyUser/user_finish_audit_invoice.html"},
   					{text : '报销单历史',id : '60',href:"/views/webviews/companyUser/expense_account_history.html"},
   					{text : '审核发票',id : '70',href:"javascript:void(0);",  leaf:false, expanded : false,children: [
   						{text : '待审核发票',id : '71', href:"/views/webviews/companyUser/audit_invoice_need_process.html"},
   						{text : '已审核发票',id : '72', href:"/views/webviews/companyUser/audit_invoice_finished.html"}                                               
   					]}
             ]
        	});
       		menu.render();
            $.each($("li.menu-second"),function(){
                var that = $(this);
                if(that.next().hasClass("menu-second")){
                    that.find("s").remove();
                }
            })
            menu.on('itemclick',function(ev){
                $('.log').text(ev.item.text);
            });
            var firstLeaf = menu.findNode('50'); //获取第一个叶子节点
            menu.setSelected(firstLeaf);
        });
</script>
</body>
</html>