<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1" />
		<meta charset="UTF-8">
		<link href="../../css/weixincss/ionic.min.css?t=201505011230" rel="stylesheet">
		<link href="../../css/weixincss/weixin_style.css?t=201505011230" rel="stylesheet">
		<script src="../../js/weixinjs/ionic.bundle.min.js?t=201505011230"></script>
		<script src="../../js/weixinjs/angular-sanitize.min.js?t=201505011230"></script>
		<script src="../../js/weixinjs/app.js?t=201505101420"></script>
		<script src="../../js/weixinjs/controllers.js?201505101420"></script>
		<script src="../../js/weixinjs/services.js?t=201505011230"></script>
		<title>帮帮账</title>

	</head>
	<body ng-app="qzapp" ng-controller="BindCompanyController">
		<ion-header-bar align-title="center" class="bar-positive">
			<h1 class="title">公司绑定</h1>
		</ion-header-bar>
		<ion-content class="content-box">
			<div class="list" ng-show="showHasBind">
				<div class="row">
					<div>您已经绑定了公司</div>
				</div>
				<div class="row">
					<div>公司:{{companyName}}</div>
				</div>
				<div class="row">
					<div>部门:{{deptName}}</div>
				</div>
			</div>
			<div class="list" ng-show="showNoBind">
				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<input type="text" id="inviteCode" placeholder="请输入您的邀请码">
					</label>
					<button class="button button-small" ng-click="submitBind()">
						绑定
					</button>
				</div>
			</div>
			<div class="list" ng-show="showNetError">
				<div class="row aligner">
					<div>网络错误，请稍后再试！</div>
				</div>
			</div>
		</ion-content>
	</body>

</html>