<html>
	<head>
		<meta charset="utf-8" />
		<title>帮帮账</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/style.css?201505120844">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/iconfont/iconfont.css?201505120844">
	</head>
<body>
	<div data-role="page" id="ticket">

		<header>
			<i class="icon-menu iconfont fa"></i>
			<span class="current-menu"></span>
			<ul class="menu">
				<li menu-page="myTicket"><i class="icon-inbox iconbigfont"></i>收件箱</li>
				<li menu-page="ticketUpload"><i class="icon-upload5 iconbigfont"></i>发票上传</li>
				<li menu-page="ticketVerify"><i class="icon-adminbill iconbigfont"></i>发票审核</li>
				<li menu-page="help"><i class="icon-help iconbigfont"></i>服务与帮助</li>
			</ul>

			<i class="icon-camera iconfont take"></i>
		</header>

		<div id="content">
			
		</div>
	</div><!-- /page one -->
	
	<script id="myTicket" type="text/template">
		<div data-role="tabs">
			<div class="navbar">
				<ul>
			      <li><a href="#waitverifyed" data-theme="ab" class="ui-btn-active">待审核发票</a></li>
			      <li><a href="#verifyed" data-theme="ab">已审核发票</a></li>
			    </ul>
			</div>
			<div id="waitverifyed" class="ui-content">
				<ul data-role="listview" id="waitverifyed-list" class="ticket-list">
				</ul>
			</div>		
			<div id="verifyed" class="ui-content">
				<ul data-role="listview" id="verifyed-list" class="ticket-list">
					
				</ul>
			</div>
		</div>
	</script>

	<script id="ticketList" type="x-tmpl-mustache">
		{{#tickets}}
			<li data-src="{{avatar}}">
				<img src="{{avatar}}" class="avatar">
				<p class="price">金额: {{price}}
					{{#verifyRet}}
						{{#status}}
						<p style="float:right;color:rgba(239, 109, 68, 0.8);">审核已通过</p>
						{{/status}}
						{{^status}}
						<p style="float:right;color:rgba(239, 109, 68, 0.8);">审核未通过</p>
						{{/status}}
					{{/verifyRet}}
				</p>
				<p class="date">时间: {{time}}</p>
				<p class="man">提交人: {{name}}</p>
				{{#audit}}
					<input type="checkbox" name="choose" value="{{id}}">
				{{/audit}}
			</li>
		{{/tickets}}
		{{^tickets}}
			<p>暂时没有数据，可以尝试下拉刷新。</p>
		{{/tickets}}
    </script>

	<script id="ticketUpload" type="text/template">
		<div id="ticketUpload">
			<h5>您要上传的发票 <button class="ladda-button small" data-shadow="true" style="background :rgba(239, 109, 68, 0.8);">一键上传</h5>
			<div id="verify-ticktes" class="ui-content">
				<ul id="verify-list" class="ticket-list-upload">
				</ul>
			</div>
		</div>
	</script>

	<script id="help" type="text/template">
		<div data-role="tabs">
			<div class="navbar">
				<ul>
			      <li><a href="#service" data-theme="ab" class="ui-btn-active">服务</a></li>
			      <li><a href="#help" data-theme="ab">帮助</a></li>
			    </ul>
			</div>

			<div id="service" class="ui-content typo">
				<h4>微信帮帮账</h4>
						<p>微信帮帮账服务是上海元升财务咨询有限公司提供的微信报销审批服务，通过该服务，您可以高效的完成报销审批的工作。</p>
			</div>		
			<div id="help" class="ui-content typo">
				<h4>如何绑定公司</h4>
						<p>1.点击屏幕左上角菜单按钮。</p>
						<p>2.在下方弹出的子菜单中选择绑定公司。</p>
						<p>3.在绑定公司页面的邀请码输入框中输入邀请码，点击绑定按钮。</p>
				<h4>如何设定账号</h4>
				<p>1.点击屏幕左上角菜单按钮。</p>
				<p>2.在下方弹出的子菜单中选择账号设定。</p>
				<p>3.在账号设定页面修改姓名和电子邮件地址，<span style="color:rgb(255,64,129);">请注意</span>，您在这里更新您的电子邮件地址后，当您登陆元升财务系统后台时，请以您在此提供的电子邮件地址为用户名进行系统登陆。</p>
			</div>
		</div>
	</script>

	<script id="ticketVerify" type="text/template">
		<div id="ticketVerify">
			<h5>需要您审核的发票 <button class="ladda-button small" style="background :rgba(239, 109, 68, 0.8);">全部通过</h5>
			<div id="verify-ticktes" class="ui-content">
				<ul id="verify-list" class="ticket-list">
				</ul>
			</div>
		</div>
	</script>

	<script id="editTicket" type="text/template">
		<div id="editTicket" class="typo">
			<img src="{{src}}" style="max-width:100%;height:auto;">
			<label>金额 <span class="price-empty-error">不能为空</span><br>
			<input type="number" id="price" value="{{price}}"></label>
			<label>费用类型</span><br>
			<select name="expenseType" id="expenseType" style="width:100%;">
		    </select></label>
		</div>
		<div class="actions"> 
			<a href="#" class="ladda-button small cancel" style="background : #419088;">取消</a>                
			<a href="#" class="ladda-button small submit" style="background :rgba(239, 109, 68, 0.8);">确定</a> 
		</div>
	</script>

	<script type="text/javascript" src="../../js/weixinjs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/mustache.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/expense_account.js?201505120859"></script>
</body>
</html>	