<html>
	<head>
		<meta charset="utf-8" />
		<title>帮帮账</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/style.css?201505141557">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/iconfont/iconfont.css?201505141601">
	</head>
<body>
	<div data-role="page" id="ticket">

		<header>
			<span class="current-menu">服务与帮助</span>
		</header>

		<div id="content">
			
		</div>
	</div><!-- /page one -->
	
	<script id="help" type="text/template">
		<div data-role="tabs">
			<div class="navbar">
				<ul>
			      <li><a href="#service" data-theme="ab" class="ui-btn-active">服务</a></li>
			      <li><a href="#help" data-theme="ab">帮助</a></li>
			    </ul>
			</div>

			<div id="service" class="ui-content typo">
				<p style="color:#38c;">微信帮帮账</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信帮帮账服务是上海元升财务咨询有限公司提供的微信报销审批服务，通过该服务，您可以高效的完成报销审批的工作。</p>
			</div>		
			<div id="help" class="ui-content typo">
				<p style="color:#38c;">如何上传发票</p>
				<p>1.点击屏幕右上角拍照按钮。</p>
				<p>2.在打开的页面中选择拍照或从图片库中直接选择图片。</p>
				<p>3.在选择的发票中，点击每一个发票，在弹出的窗口中填写发票金额同时选择费用类型。</p>
				<p>4.只有填写过发票金额的发票才可以上传，默认发票费用类型为电话费用，请注意更改。</p>
				<p>5.填写完金额后，可在上传发票界面勾选多个发票，然后点击一键上传即可。</p>
				<p style="color:#38c;">如何审核发票</p>
				<p>1.点击屏幕左上角菜单按钮。</p>
				<p>2.在下方弹出的子菜单中选择发票审核。</p>
				<p>3.在发票审核界面可以勾选多个发票，选择一键审核通过或一键审核拒绝，即可。</p>
				<p style="color:#38c;">如何查看已提交的发票</p>
				<p>1.点击屏幕左上角菜单按钮。</p>
				<p>2.在下方弹出的子菜单中选择我的收件箱。</p>
				<p>3.在我的收件箱界面可以查看已上传的草稿发票和已经审核过的发票。</p>
			</div>
		</div>
	</script>

	<script type="text/javascript" src="../../js/weixinjs/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/mustache.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/expense_account.js?201507221232"></script>
</body>
</html>	