<html>
	<head>
		<meta charset="utf-8" />
		<title>帮帮账</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/style.css?201505141557">
		<link rel="stylesheet" type="text/css" href="../../css/weixincss/iconfont/iconfont.css?201505141601">
	</head>
<body>
	<div data-role="page" id="ticket">

		<header>
			<div style="text-align:center;padding-top:15px;"><span class="current-menu"></span></div>
			<ul class="menu">
				<li menu-page="inbox"><i class="icon-inbox iconbigfont"></i>收件箱</li>
				<li menu-page="uploadBill"><i class="icon-upload5 iconbigfont"></i>发票上传</li>
				<li menu-page="auditBill"><i class="icon-adminbill iconbigfont"></i>发票审核</li>
				<li menu-page="help"><i class="icon-help iconbigfont"></i>服务与帮助</li>
			</ul>
		</header>

		<div id="content">
			
		</div>
	</div><!-- /page one -->
	
	<script id="inbox" type="text/template">
		<div data-role="tabs">
			<div class="navbar">
				<ul>
			      <li><a href="#draftBill" data-theme="ab" class="ui-btn-active">草稿箱</a></li>
			      <li><a href="#progressingAudit" data-theme="ab">待审核</a></li>
			      <li><a href="#finishedAudit" data-theme="ab">已审核</a></li>
			    </ul>
			</div>
			<div id="draftBill" class="ui-content">
				<div id="inbox">
					<h6 style="margin-bottom:30px;color:#38c;">您可以一键提交审核
						<button id="onePressSelect" class="ladda-button small" data-shadow="true" style="background :rgba(239, 109, 68, 0.8);margin-right:10px;">全选/取消 
						<button id="onePressSubmitAudit" class="ladda-button small" data-shadow="true" style="background :rgba(239, 109, 68, 0.8);">提交审核
					</h6>
				</div>				
				<ul data-role="listview" id="draft-bill-list" class="draft-bill-list">
				</ul>
			</div>		
			<div id="progressingAudit" class="ui-content">
				<ul data-role="listview" id="progressing-audit-list" class="ticket-list">
					
				</ul>
			</div>
			<div id="finishedAudit" class="ui-content">
				<ul data-role="listview" id="finished-audit-list" class="ticket-list">
					
				</ul>
			</div>
		</div>
	</script>

	<script id="draftBillList" type="x-tmpl-mustache">
		{{#draftBillList}}
			<li data-src="{{bill_img}}">
				<img src="{{bill_img}}" class="avatar">
				<p class="amount">金额: {{bill_amount}}元</p>
				<p class="man">费用类型: {{bill_expenseTypeName}}</p>
				<p class="date">创建时间: {{bill_date}}</p>
				<input type="checkbox" name="choose" value="{{invoice_id}}">
			</li>
		{{/draftBillList}}
		{{^draftBillList}}
			<div style="margin-top: 10px;"><h6 style="color:#38c;">&nbsp;&nbsp;&nbsp;&nbsp;暂时没有数据，可以尝试下拉刷新。</h6></div>
		{{/draftBillList}}
    </script>
    
    <script id="progressingBillList" type="x-tmpl-mustache">
		{{#progressingBillList}}
			<li data-src="{{bill_img}}">
				<img src="{{bill_img}}" class="avatar">
				<p class="amount">金额: {{bill_amount}}元</p>
				<p style="float:right;color:#419088;">审核人：{{approval_name}}</p>
				<p class="man">费用类型: {{bill_expenseTypeName}}</p>
				<p class="date">创建时间: {{bill_date}}</p>
			</li>
		{{/progressingBillList}}
		{{^progressingBillList}}
			<div style="margin-top: 10px;"><h6 style="color:#38c;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;暂时没有数据，可以尝试下拉刷新。</h6></div>
		{{/progressingBillList}}
    </script>
    
    <script id="finishedBillList" type="x-tmpl-mustache">
		{{#finishedBillList}}
			<li data-src="{{bill_img}}">
				<img src="{{bill_img}}" class="avatar">
				<p class="amount">金额: {{bill_amount}}元</p>
				{{#approval_status}}
					<p style="float:right;color:#419088;">审核已通过</p>
				{{/approval_status}}
				{{^approval_status}}
					<p style="float:right;color:rgba(239, 109, 68, 0.8);">审核未通过</p>
				{{/approval_status}}
				<p class="man">费用类型: {{bill_expenseTypeName}}</p>
				<p class="date">创建时间: {{bill_date}}</p>
			</li>
		{{/finishedBillList}}
		{{^finishedBillList}}
			<div style="margin-top: 10px;"><h6 style="color:#38c;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;暂时没有数据，可以尝试下拉刷新。</h6></div>
		{{/finishedBillList}}
    </script>

	<script id="need-audit-bill-list" type="x-tmpl-mustache">
		{{#needAuditBillList}}
			<li data-src="{{bill_img}}">
				<img src="{{bill_img}}" class="avatar">
				<p class="amount">金额: {{bill_amount}}</p>
				<p class="man">费用类型: {{bill_expenseTypeName}}</p>
				<p class="man">提交人: {{user_name}}</p>
				<p class="date">创建时间: {{bill_date}}</p>
				<input type="checkbox" name="choose" value="{{invoice_id}}">
			</li>
		{{/needAuditBillList}}
		{{^needAuditBillList}}
			<div style="margin-top: 10px;"><h6 style="color:#38c;">&nbsp;&nbsp;&nbsp;暂时没有数据，可以尝试下拉刷新。</h6></div>
		{{/needAuditBillList}}
    </script>
    
	<script id="uploadBillList" type="x-tmpl-mustache">
		{{#allUploadBillList}}
			<li data-src="{{img}}">
				<img src="{{img}}" class="avatar">
				<p class="amount">金额: {{amount}}元</p>
				<p class="man">费用类型: {{expenseTypeName}}</p>
				<p class="date">创建时间: {{time}}</p>
				<input type="checkbox" name="choose" value="{{id}}">
			</li>
		{{/allUploadBillList}}
		{{^allUploadBillList}}
			<div style="margin-top: 10px;"><h6 style="color:#38c;">&nbsp;&nbsp;&nbsp;暂时没有数据，请先对发票拍照。</h6></div>
		{{/allUploadBillList}}
    </script>

	<script id="uploadBill" type="text/template">
		<div id="uploadBill">
			<h5>请上传您的发票 <button id="onePressUpload" class="ladda-button small" data-shadow="true" style="background :rgba(239, 109, 68, 0.8);">一键上传</h5>
			<div id="upload-bill" class="ui-content">
				<ul id="upload-bill-list" class="bill-list-upload">
				</ul>
			</div>
		</div>
	</script>

	<script id="editTicket" type="text/template">
		<div id="editTicket" class="typo">
			<img src="{{src}}" style="max-width:250px;max-height:150px;">
			<label>金额 <span class="price-empty-error">不能为空</span><br>
			<input type="number" id="price" value="{{price}}"></label>
			<label>费用类型<span class="type-select-error">请选择类型</span><br>
			<select name="expenseType" id="expenseType" style="width:100%;">
		    </select></label>
		</div>
		<div class="actions"> 
			<a href="#" class="ladda-button small cancel" style="background : #419088;">取消</a>                
			<a href="#" class="ladda-button small submit" style="background :rgba(239, 109, 68, 0.8);">确定</a> 
		</div>
	</script>

	<script type="text/javascript" src="../../js/weixinjs/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/libs/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/mustache.js"></script>
	<script type="text/javascript" src="../../js/weixinjs/inbox.js?201507221232"></script>
</body>
</html>	