<html>
	<head>
		<meta name="viewport" content="initial-scale=1" />
		<meta charset="UTF-8">
		<link href="css/weixincss/ionic.min.css" rel="stylesheet">
		<link href="css/weixincss/weixin_style.css" rel="stylesheet">
		<script src="js/weixinjs/ionic.bundle.min.js"></script>
		<script src="js/weixinjs/angular-sanitize.min.js"></script>
		<script src="js/weixinjs/app.js"></script>
		<script src="js/weixinjs/controllers.js"></script>
		<script src="js/weixinjs/services.js"></script>
		<title>帮帮账</title>
	</head>
	<body ng-app="qzapp" ng-controller="UploadBillController">
		<ion-header-bar align-title="center" class="bar-positive">
			<h1 class="title">上传发票</h1>
		</ion-header-bar>
		<ion-tabs class="tabs-positive tabs-icon-top" ng-show="showMainContent">

			<ion-tab title="主页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
				<ion-content class="content-box">
					<div class="aligner">
						<img class="img-box" ng-src="{{mainImg}}">
					</div>
					<div class="aligner">
						<div class="text-center">
							请对发票拍照并上传
						</div>
					</div>
				</ion-content>
			</ion-tab>

			<ion-tab title="发票拍照" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" ng-click="captureBill()">
			</ion-tab>

			<ion-tab title="发票上传" icon-on="ion-ios-cloud-upload" icon-off="ion-ios-cloud-upload-outline">
				<ion-content class="content-box">
					<div class="list" ng-show="billList.length">
						<div class="item item-avatar item-button-right" ng-click="openModal(bill)" ng-repeat="bill in billList">
							<img ng-src="{{bill.img}}">
							<p>单号：{{bill.id}}</p>
							<p>时间：{{bill.time}}</p>
							<button ng-click="uploadBill(bill);" class="button button-positive aligner">
								开始上传
							</button>
						</div>
					</div>
					<div class="list" ng-show="!billList.length">
						暂时没有需要上传的发票
					</div>
				</ion-content>
			</ion-tab>

		</ion-tabs>
		<ion-content class="content-box" ng-show="showNetError">
			<div class="list">
				<div class="row aligner">
					<div>网络错误，请稍后再试！</div>
				</div>
			</div>
		</ion-content>
		<ion-content class="content-box" ng-show="showNoBind">
			<div class="list">
				<div class="row aligner">
					<div>您还没有绑定公司，</div>
					<div>请您先绑定公司！</div>
				</div>
			</div>
		</ion-content>
	</body>
	
	<script id="my-modal.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar align-title="center" class="bar-positive">
				<h1 class="title">报销单{{bill.id}}</h1>
				<div class="buttons">
					<a class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></a>
				</div>
			</ion-header-bar>
			<ion-content class="content-box">
					<div class="aligner">
						<img class="img-box" ng-src="{{bill.img}}">
					</div>
					<p>单号：{{bill.id}}</p>
					<p>时间：{{bill.time}}</p>
			</ion-content>
		</div>
	</script>

</html>