<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1" />
		<meta charset="UTF-8">
		<link href="css/weixincss/ionic.min.css" rel="stylesheet">
		<link href="css/weixincss/weixin_style.css" rel="stylesheet">
		<script src="js/weixinjs/ionic.bundle.min.js"></script>
		<script src="js/weixinjs/angular-sanitize.min.js"></script>
		<title>帮帮账</title>
	</head>
	<body ng-app="qzapp">
		<ion-header-bar align-title="center" class="bar-positive">
			<h1 class="title">建设中，敬请期待！</h1>
		</ion-header-bar>
	</body>

</html>