<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"  id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="zero-state">
				<div class="form-window">
					<div class="hd" style="margin-top:-20px;">
						<i class="iconfont">&#xe627;</i>
					</div>
					<div class="bd">
						<h2>您可以在这里下载基本报表Excel</h2>
						<div class="form-horizontal" style="text-align:left;margin-left:130px;">
        					<div id="msgTip" class="mt10" ></div>
        					<div style="margin-top:30px;">
        					
        					
	        				<form id = "exportForm"  action="/company/generateExcel" method="POST">
						        <div class="well mt20">
					                <div class="form-horizontal onlineTools">
					                    <div class="row show-grid">
					                        <label class="control-label" style="margin-left: -50px;">请输入日期：</label>
					                        <div class="controls">
					                            <input name="sname" id="table_date" name="table_date" type="text"
					                                class="input input-normal calendar"
					                                data-rules="{required : true}">
					                        </div>
					                    </div>
					                    <div id="selectMonth" style="display:none;position:relative; z-index:99999;"></div>
					                </div>
					            </div>
					            <input type="hidden" id="exportDate" name="exportDate" />
								<button id="downloadExcel"  type="button"  class="button button-success " style="width:310px;height:50px;">点击下载基本报表Excel</button>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script src="/js/webjs/layout.js"></script>
	   <script src="/js/webjs/jquery-1.8.1.min.js"></script>
    <script src="/js/webjs/sea.js"></script>
    <script src="/js/webjs/config.js"></script>
    <script src="/js/webjs/bui.js"></script>
    <script type="text/javascript">
	$('#table_date').click(function(){
        $('#selectMonth').show();
        var currentDate = new Date();
        var currentYear = currentDate.getFullYear();
        var currentMonth = currentDate.getMonth();
        var Calendar = BUI.Calendar
        var monthpicker = new BUI.Calendar.MonthPicker({
            render:'#selectMonth',
            month:currentMonth,
            align : {
              points:['tl','tl']
            },
            year:currentYear,
            success:function(){
                var month = (this.get('month') + 1).toString();
                if(month.length == 1) month = "0" + month;
                $("#table_date").val(this.get('year') + "-" + month);
                monthpicker.close();
            },
            cancel:function() {
                //alert('cancel');
                monthpicker.close();
            }
        });
        monthpicker.show();
    });
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		  //Xiaoming add exportExcel button ajax
        $('#downloadExcel').click(
        		function() {
        		var dateString = $('#table_date').val();
                
                    if (dateString == null || dateString == "") {
                        BUI.Message.Alert('请先输入日期！', 'warning');
                    } else {
                    	//judge date whether have info
                    	$.ajax({
			                url : '/company/judgeModelDetail',
			                type : "POST",
			                data : {dateString:dateString},
			                success : function(data) {
			                    if(data.error_code == "1") {
			                        BUI.Message.Alert('选择的日期没有信息，请重新选择');
			                    } else {
			                    	  $('#exportDate').val(dateString);
			                          $('#exportForm').submit();
			                    }
			                },
			                error : function(data) {
			                    BUI.Message.Alert('下载异常，请稍候重试！');
			                }
			            });
                    }
                });
		var modifyPwdForm = new Overlay.Dialog({
            title:'密码修改',
            width:600,
            height:280,
            contentId:'modifyPwd',
            success:function () {
              	this.close();
            },
            buttons : []
        });
		$('#setPwd').click(function(){
			modifyPwdForm.show();
		})
		$('#modify_pwd_button').click(function(){
			var oldPwd = $('#old_pwd').val();
			var newPwd = $('#new_pwd').val();
			var confirmNewPwd = $('#confirm_new_pwd').val();
			if(oldPwd == null || oldPwd == "") {
				BUI.Message.Alert('请输入旧密码！','warning');
				return;
			}
			if(newPwd == null || newPwd == "") {
				BUI.Message.Alert('请输新密码！','warning');
				return;
			}
			if(confirmNewPwd == null || confirmNewPwd == "") {
				BUI.Message.Alert('请输入新密码！','warning');
				return;
			}
			if(newPwd != confirmNewPwd) {
				BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
				return;
			}
			$.ajax({
				url : '/modifyPassword',
				type : "POST",
				data : {oldPwd:oldPwd, newPwd:newPwd},
				success : function(data) {
					if(data.error_code == "0") {
						BUI.Message.Alert('修改密码成功！','success');
					} else {
						BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
					}
				},
				error : function(data) {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			});
		})
	});
		
	/* 	function checkDownload() {
			$.ajax({
				url : '/company/checkTemplateExist',
				type : "POST",
				data : {},
				success : function(data) {
					if(data.error_code == '0') {
						$('#downloadTemplate').removeClass('disabled');
					} else {
						$('#msgTip').html("<p style='color:rgb(239, 109, 68);'>模板还未创建，暂时无法下载，请稍后重试！</p>");
					}
				}
			});
		} */
		//checkDownload();
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
		//竖状菜单
	    var menu = new menuTree(
            {"nodes" : [
{text : '组织架构',id : '50',href:"javascript:void(0);",  expanded : false,children: [
                                                          						{text : '基本信息设置',id : '51', href:"/views/webviews/company/organization_information_settings.html"},
                                                          						{text : '组织架构设置',id : '52', href:"/views/webviews/company/organization_structure_settings.html"}                                           
                                                          					]},
					{text : '公司费用发票',id : '10',href:"javascript:void(0);",  expanded : false,children: [
						{text : '发票上传',id : '11', href:"/views/webviews/company/expense_account_upload.html"},
						{text : '发票历史记录',id : '12', href:"/views/webviews/company/expense_account_history.html"}                                           
					]},
					{text : '银行对账单',id : '20',href:"javascript:void(0);", expanded : false,children: [
						{text : '上传对账单',id : '21', href:"/views/webviews/company/bank_statement_upload.html"},
						{text : '对账单历史记录',id : '22', href:"/views/webviews/company/bank_statement_history.html"},
						{text : '上传回单',id : '21', href:"/views/webviews/company/bank_response_upload.html"},
						{text : '回单历史记录',id : '22', href:"/views/webviews/company/bank_response_history.html"},                                           
					]},
					{text : '销售清单',id : '80',href:"javascript:void(0);", expanded : false,children: [
					                                                         						{text : '上传销售清单',id : '81', href:"/views/webviews/company/sales_upload.html"},
					                                                         						{text : '销售清单历史记录',id : '82', href:"/views/webviews/company/sales_history.html"}                                           
					                                                         					]},
					{text : '工资社保',id : '30',href:"javascript:void(0);", expanded : true,children: [
						
						{text : '下载工资计算模板',id : '32', href:"/views/webviews/company/salary_welfare_template_download.html"},                                           
						{text : '上传工资单',id : '33', href:"/views/webviews/company/salary_welfare_upload.html"},
						{text : '工资历史记录',id : '34', href:"/views/webviews/company/salary_history.html"},
						{text : '工资计算模板历史记录',id : '35', href:"/views/webviews/company/salary_template_history.html"}
					]},
					{text : '预约取发票',id : '40',href:"javascript:void(0);", expanded : false,children: [
						{text : '方式选择',id : '41', href:"/views/webviews/company/take_expense_account_mode_select.html"}                                           
					]},
					
					{text : '基本报表',id : '70',href:"javascript:void(0);",  expanded : false,children: [
					                                                          						{text : '资产负债表',id : '71', href:"/views/webviews/company/sheet_balance.html"},
					                                                          						{text : '利润表',id : '72', href:"/views/webviews/company/sheet_income.html"},
					                                                          						{text : '现金流量表',id : '73', href:"/views/webviews/company/sheet_cash.html"},
					                                                          						{text : '薪酬及税费表',id : '74', href:"/views/webviews/company/sheet_salary.html"},
					                                                          						{text : '下载财务报表',id : '75', href:"/views/webviews/company/base_statement_template_download.html"}
					                                                          					]},
					{text : '会计点将',id : '60',href:"/views/webviews/company/select_accounter.html",  leaf:false,expanded : false,children: []},
					{text : '申请发票',id : '90',href:"/views/webviews/company/apply_invoice.html",  leaf:false,expanded : false,children: []},
					{text : '查看合同文件',id : '100',href:"/views/webviews/company/contract.html",  leaf:false,expanded : false,children: []},
					]
            },"menuTree"
        );
	    defaultSelect("32");
	    function defaultSelect(id){ 
	        $("#"+id).parent().addClass("bui-menu-item-selected")
	    }
        //弹层
        BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){
    
			var form = new Form.Form({
				srcNode : '#form'
			}).render();

			var dialog = new Overlay.Dialog({
				title:'标题',
				width:500,
				height:320,
				//配置DOM容器的编号
				contentId:'content',
				success:function () {
					alert('确认');
					this.close();
				}
			});
			//dialog.show();
 
	        $('#btnGroup .button').on('click',function () {
	          var sender = $(this),
	            type = sender.text(),
	            effect = {
	              effect : type,
	              duration : 400// 
	              //callback : function(){} ,callback 回调函数
	            };
	 
	          dialog.set('effect',effect);
	          dialog.show();
	 
	        });
	    });
	</script>
</body>
</html>