<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/iviewer.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><a href="#" class="active">发票历史记录</a></div>
					
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="condition" id="condition" class="input input-normal"><option value='0'>所有</option><option value='1'>按日期检索</option></select><input type="text" id="content" class="input input-normal ml10"><button id="searchData" class="button button-success ml10">搜索</button><button id="deleteData" class="button button-danger ml10">一键删除</button></div>
					</div>
				</div>
			</div>
			<table class="table center">
	    		<colgroup>
	    			<col style="width:4%;">
	    			<col style="width:7%;">
	    			<col style="width:9%;">
	    			<col style="width:5%">
	    			<col style="width:7%;">
	    			<col style="width:5%;">
	    			<col style="width:13%;">
	    			<col style="width:7%;">
	    			<col style="width:17%;">
	    			<col style="width:13%;">
	    			<col style="width:13%;">
	    		</colgroup>
	    		<thead>
	    			<tr>
	    				<th>&nbsp;</th>
	    				<th>发票上传日期</th>
	    				<th>公司名称</th>
	    				<th>发票金额</th>
	    				<th>数量</th>
	    				<th>税额</th>
	    				<th>供应商名称</th>
	    				<th>固定资产</th>
	    				<th>费用类型</th>
	    				<th>发票预览</th>
	    				<th>识别状态</th>
	    			</tr>
	    		</thead>
	    		<tbody id="retData">
	    		</tbody>
	    	</table>
	    	<div class="pagination"></div>
		</div>
	</div>
	
	<div id="modifyInfo" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">发票金额：</label>
				<div class="controls">
					<input id="modify_amount" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">供应商名称：</label>
				<div class="controls control-row-auto">
					<input id="supplyName" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">费用类型：</label>
				<div class="controls control-row-auto">
					<input id="modify_type" type="text" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">税额：</label>
				<div class="controls control-row-auto">
					<input id="tax" type="text" class="input-large"
					 style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">固定资产：</label>
				<div class="controls control-row-auto" style="margin-top:6px;">
					<input type="checkbox" name="isFixedAssets" id="isFixedAssets" style="width:20px;height:20px;">
				</div>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_button" class="button button-success">确定修改</a></div>
			</div>
			<input type='hidden' id="current_modify_id">
		</div>
	</div>
	
	<div id="iviewer">
        <div class="loader"></div>

        <div class="viewer"></div>

        <ul class="controls">
            <li class="close"></li>
            <li class="zoomin"></li>
            <li class="zoomout"></li>
            <li class="angle"></li>
        </ul>

    
    </div>
	
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
<!--该js需要修改js路径及修改seajs路径-->
<!-- <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script> -->
<script src="/js/webjs/jquery-1.7.2.min.js"></script>
<script src="/js/webjs/sea.js"></script>
<script src="/js/webjs/config.js"></script>
<script src="/js/webjs/menuTree.js"></script>
<script src="/js/webjs/jquery-ui.js"></script>
<script src="/js/webjs/jquery-mousewheel.js"></script>
<script src="/js/webjs/jquery.iviewer.min.js"></script>
<script src="/js/webjs/iviewer.js"></script>
<script type="text/javascript">

var globalRefresh = false;
var hit = 1;

function isNumber(str){
    var re = /^[0-9]+.?[0-9]*$/;
    if (!re.test(str)){
   	 return false;
    }
    return true;
}
BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
	var modifyPwdForm = new Overlay.Dialog({
        title:'密码修改',
        width:600,
        height:280,
        contentId:'modifyPwd',
        success:function () {
          	this.close();
        },
        buttons : []
    });
	$('#setPwd').click(function(){
		modifyPwdForm.show();
	})
	$('#modify_pwd_button').click(function(){
		var oldPwd = $('#old_pwd').val();
		var newPwd = $('#new_pwd').val();
		var confirmNewPwd = $('#confirm_new_pwd').val();
		if(oldPwd == null || oldPwd == "") {
			BUI.Message.Alert('请输入旧密码！','warning');
			return;
		}
		if(newPwd == null || newPwd == "") {
			BUI.Message.Alert('请输新密码！','warning');
			return;
		}
		if(confirmNewPwd == null || confirmNewPwd == "") {
			BUI.Message.Alert('请输入新密码！','warning');
			return;
		}
		if(newPwd != confirmNewPwd) {
			BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
			return;
		}
		$.ajax({
			url : '/modifyPassword',
			type : "POST",
			data : {oldPwd:oldPwd, newPwd:newPwd},
			success : function(data) {
				if(data.error_code == "0") {
					BUI.Message.Alert('修改密码成功！','success');
				} else {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			},
			error : function(data) {
				BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
			}
		});
	})
});
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){		
		var deleteIdList = new Array();
		$('#deleteData').click(function(){
			if(deleteIdList.length == 0) {
				BUI.Message.Alert('请先勾选需要删除的记录！','warning');
			} else {
				$.ajax({
					url : '/company/deleteCompanyBill',
					type : "POST",
					data : {deleteIdList:deleteIdList.join(",")},
					success : function(data) {
						$.ajax({
							url : '/company/getAllInvoices',
							type : "POST",
							data : {},
							success : function(data) {
								createDataList(data);
							}
						});
					}
				});
			}
		})
		
		function bindCheck() {
			$(".data-check-id").die().live("click",function(){
				var id = $(this).val();
				if ($(this).is(':checked')) {
					deleteIdList.push(id);
				} else {
					for(var i=0; i<deleteIdList.length; i++) {
						if(deleteIdList[i] === id) {
							deleteIdList.splice(i, 1);
							break;
						}
					}
				}
			})
		}
		
		var modifyInfoForm = new Overlay.Dialog({
            title:'修改发票相关信息',
            width:600,
            height:280,
            contentId:'modifyInfo',
            success:function () {
              	//alert('确认');
              	this.close();
            },
            buttons : []
        });
		
		$('#modify_button').click(function(){
			var id=$('#current_modify_id').val();
			var amount=$('#modify_amount').val();
			var type=$("#modify_type").val();
			var supplyName=$('#supplyName').val();
			var flag=$("#isFixedAssets").prop('checked') ? 1 : 0;
			if(!isNumber(amount)) {
				BUI.Message.Alert('金额必须为数字，请检查！','warning');
				return;
			}
			if(supplyName == null || supplyName == "") {
				BUI.Message.Alert('供应商名称不能为空，请检查！','warning');
				return;
			}
			if(type == null || type == "") {
				BUI.Message.Alert('费用类型不能为空，请检查！','warning');
				return;
			}
			$.ajax({
				url : '/company/modifyCompanyBill',
				type : "POST",
				data : {id:id, amount:amount, type:type, supplyName:supplyName, isFixedAssets:flag},
				success : function(data) {
					$.ajax({
						url : '/company/getAllInvoices',
						type : "POST",
						data : {},
						success : function(data) {
							createDataList(data);
						}
					});
				}
			});
			modifyInfoForm.close();
		})
		
		var fake = [{
			"amount": 720,
			"expense_type": "报销金税盘",
			"supplyName": "上海爱信诺航天信息有限公司"
		},
		{
			"amount": 330,
			"expense_type": "报销金税盘",
			"supplyName": "上海爱信诺航天信息有限公司"
		},
		{
			"amount": 345.5,
			"expense_type": "报销日用品",
			"supplyName": ""
		},
		{
			"amount": 1342,
			"expense_type": "员工福利",
			"supplyName": ""
		},
		{
			"amount": 760,
			"expense_type": "餐费",
			"supplyName": ""
		},
		{
			"amount": 15,
			"expense_type": "高速公路通行费",
			"supplyName": ""
		},
		{
			"amount": 150,
			"expense_type": "交通费",
			"supplyName": ""
		},
		{
			"amount": 625,
			"expense_type": "火车票",
			"supplyName": ""
		},
		{
			"amount": 42,
			"expense_type": "停车费",
			"supplyName": ""
		},
		{
			"amount": 500,
			"expense_type": "加油费",
			"supplyName": ""
		},
		{
			"amount": 1152,
			"expense_type": "文件柜",
			"supplyName": "上海申豫贸易有限公司"
		},
		{
			"amount": 3100,
			"expense_type": "办公椅",
			"supplyName": "上海翡翔办公家具有限公司"
		},
		{
			"amount": 1152,
			"expense_type": "文件柜",
			"supplyName": "上海申豫贸易有限公司"
		},
		{
			"amount": 40,
			"expense_type": "保险费",
			"supplyName": ""
		},
		{
			"amount": 6000,
			"expense_type": "培训费",
			"supplyName": ""
		},
		{
			"amount": 19000,
			"expense_type": "设计服务",
			"supplyName": "上海威武文化传播有限公司"
		},
		{
			"amount": 50,
			"expense_type": "数字证书",
			"supplyName": ""
		}
		]
		
		function createDataList(data) {
			if(data == null || data == '') return;
			data.sort(function(a,b){return a.date<b.date?1:-1});
			$('#retData').html("");
			if(data[0]['file_name'].indexOf("1383838438@qq.com") > -1){

				data.sort(function(a,b){return a.id< b.id?1:-1});
				//console.log(data);
				var init = 16;
				if (data.length < 17){
					init = data.length-1;
				}

				for(var i = init; i >= 0; i--){
					var timestamp = data[i]['file_name'].substring(17);
					var now = Date.now();
					timestamp = parseInt(timestamp)/1000;
					

					if(((now - timestamp) < 150 * 1000 && i < hit)|| (now - timestamp) >= 150 * 1000){
						//console.log(data[i].id);
						data[i].amount = fake[16-i].amount;
						data[i].expense_type = fake[16-i].expense_type;
						data[i].supplyName = fake[16-i].supplyName;
						$.ajax({
							url : '/modifyCompanyBill',
							type : "POST",
							data : {id:data[i].id, amount:data[i].amount, type:data[i].expense_type, supplyName:data[i].supplyName, tax:data[i].tax, isFixedAssets:"no"},
							success : function(data) {
								console.log("change");
								
							}
						});
					}					
				}

				
				
			}
			for(var i=0; i<data.length; i++) {
				var container = $('#retData');
				var trNode = $("<tr></tr>");
				if(deleteIdList.indexOf(data[i].id) > -1){
				    var checkNode = $("<td><input type='checkbox' value='"+data[i].id+"' checked='checked' class='data-check-id'></td>");
				}else{
					var checkNode = $("<td><input type='checkbox' value='"+data[i].id+"' class='data-check-id'></td>");
				}
			    var tdNode1 = $("<td>"+data[i].date+"</td><td>"+data[i].company_name+"</td><td>"+(data[i].amount == null || data[i].amount == "" ? "0" : data[i].amount)+"</td><td>"+(data[i].number == null || data[i].number == "" ? "1" : data[i].number)+"</td><td>"+(data[i].tax == null || data[i].tax == "" ? "0" : data[i].tax)+"</td><td>"+(data[i].supplyName == null || data[i].supplyName == "" ? "未设定" : data[i].supplyName)+"</td><td>"+(data[i].isFixedAssets == null || data[i].isFixedAssets == "0" ? "否" : "是")+"</td><td>"+(data[i].expense_type == null || data[i].expense_type == "" ? "未设定" : data[i].expense_type)+"</td>");
			    var tdNode2 = $("<td></td>");
			    var aNode = $("<a href='javascript:void(0)'>点击查看发票图片</a>");
			    var tdNode3 = $("<td></td>");
			    var operateNode1 = $("<p>识别中<img style='height:20px;width:60px;' src='/img/webimg/progress2.gif'></p>");
			    var operateNode2 = $("<p>识别已完成</p>");
			    var operateNode3 = $("<p>无法识别</p>");
			    
			    var imgsrc = '/files/company/' + data[i].file_name;
			    aNode.attr("img-src", imgsrc);
			    aNode.click(function(event) {
			    	//viewContent.set('imgSrc', $(this).attr("img-src"));
				    //dialogForm.show();
			    	openBillImage($(this).attr("img-src"));
			    	//openBillImage("/img/webimg/emily.jpg");
			    });
			    aNode.appendTo(tdNode2);
			    if(data[i].status == "INVALID"){
			    	operateNode3.appendTo(tdNode3);
			    }
			    else if(data[i].expense_type == null || data[i].expense_type == "") {
			    	globalRefresh = true;
			    	operateNode1.appendTo(tdNode3);
			    } else {
			    	operateNode2.appendTo(tdNode3);
			    }			    
			    checkNode.appendTo(trNode);
			    tdNode1.appendTo(trNode);
			    tdNode2.appendTo(trNode);
			    tdNode3.appendTo(trNode);
			    trNode.appendTo(container);
			}
			bindCheck();
		};
		
	
			$.ajax({
		
			url : '/company/getAllInvoices',
			type : "POST",
			data : {},
			success : function(data) {
				createDataList(data);
			}
		});
		
		
		
		setInterval(		
		function getAllInvoices(){		
			$.ajax({
		
			url : '/company/getAllInvoices',
			type : "POST",
			data : {},
			success : function(data) {
				createDataList(data);
				hit = hit + 3;

			}
		});
		
		},8000);

		
		$('#searchData').click(function(){
			var conditionType = $('#condition option:selected').val();
			var conditionValue = $('#content').val();
			if(conditionType != '0' && (conditionValue == null || conditionValue == '')) {
				BUI.Message.Alert('请输入需要检索内容的内容！','warning');
				return;
			}
			$.ajax({
				//url : '/company/getAllCompanyBill',
				url: '/company/getAllInvoicesByCondition',
				type : "POST",
				data : {conditionType : conditionType, conditionValue : conditionValue},
				success : function(data) {
					console.log(data);
					createDataList(data);
				}
			});
		})
		
	});
	
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
	var menu = new menuTree(
            {"nodes" : [
{text : '组织架构',id : '50',href:"javascript:void(0);",  expanded : false,children: [
                                                          						{text : '基本信息设置',id : '51', href:"/views/webviews/company/organization_information_settings.html"},
                                                          						{text : '组织架构设置',id : '52', href:"/views/webviews/company/organization_structure_settings.html"}                                           
                                                          					]},
					{text : '公司发票',id : '10',href:"javascript:void(0);",  expanded : true,children: [
						{text : '发票上传',id : '11', href:"/views/webviews/company/expense_account_upload.html"},
						{text : '发票历史记录',id : '12', href:"/views/webviews/company/expense_account_history.html"}                                           
					]},
					{text : '银行对账单',id : '20',href:"javascript:void(0);", expanded : false,children: [
						{text : '上传对账单',id : '21', href:"/views/webviews/company/bank_statement_upload.html"},
						{text : '对账单历史记录',id : '22', href:"/views/webviews/company/bank_statement_history.html"}                                           
					]},
					{text : '销售清单',id : '80',href:"javascript:void(0);", expanded : false,children: [
					                                                         						{text : '上传销售清单',id : '81', href:"/views/webviews/company/sales_upload.html"},
					                                                         						{text : '销售清单历史记录',id : '82', href:"/views/webviews/company/sales_history.html"}                                           
					                                                         					]},
					{text : '工资社保',id : '30',href:"javascript:void(0);", expanded : false,children: [
						
						{text : '下载工资计算模板',id : '32', href:"/views/webviews/company/salary_welfare_template_download.html"},                                           
						{text : '上传工资单',id : '33', href:"/views/webviews/company/salary_welfare_upload.html"},
						{text : '工资历史记录',id : '34', href:"/views/webviews/company/salary_history.html"},
						{text : '工资计算模板历史记录',id : '35', href:"/views/webviews/company/salary_template_history.html"}
					]},
					{text : '预约取发票',id : '40',href:"javascript:void(0);", expanded : false,children: [
						{text : '方式选择',id : '41', href:"/views/webviews/company/take_expense_account_mode_select.html"}                                           
					]},
					
					{text : '基本报表',id : '70',href:"javascript:void(0);",  expanded : false,children: [
					                                                          						{text : '资产负债表',id : '71', href:"/views/webviews/company/sheet_balance.html"},
					                                                          						{text : '利润表',id : '72', href:"/views/webviews/company/sheet_income.html"},
					                                                          						{text : '现金流量表',id : '73', href:"/views/webviews/company/sheet_cash.html"},
					                                                          						{text : '薪酬及税费表',id : '74', href:"/views/webviews/company/sheet_salary.html"},
					                                                          						{text : '下载Excel模板',id : '75', href:"/views/webviews/company/base_statement_template_download.html"}
					                                                          					]},
					{text : '会计点将',id : '60',href:"/views/webviews/company/select_accounter.html",  leaf:false,expanded : false,children: []},
					{text : '申请发票',id : '90',href:"/views/webviews/company/apply_invoice.html",  leaf:false,expanded : false,children: []},
					{text : '查看合同文件',id : '100',href:"/views/webviews/company/contract.html",  leaf:false,expanded : false,children: []},]
            },"menuTree"
        );
    defaultSelect("12");
    function defaultSelect(id){ 
        $("#"+id).parent().addClass("bui-menu-item-selected")
    }
    
</script>
</body>
</html>