<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>上海元升财务咨询有限公司</title>
<link rel="stylesheet" type="text/css"
	href="../../../css/webcss/bui.css">
<link rel="stylesheet" type="text/css"
	href="../../../css/webcss/golbal.css">
<link rel="stylesheet" type="text/css"
	href="../../../css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png">
				<h1>上海元升财务咨询有限公司</h1>
			</div>
			<div class="side-bar-content"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0)" id="sysSettings"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="zero-state">
				<div class="form-window">
					<div class="hd">
						<i class="iconfont">&#xe627;</i>
					</div>
					<div class="bd">
						<h2>上传发票</h2>
						<p>
							这里您可以上传除增值税和员工报销以外的发票
						</p>
						<form id="billUpload" action="/company/uploadCompanyBill"
							method="POST" enctype="multipart/form-data">
							<div id="fileInfo" style="height: 50px;" class="text-primary"></div>
							<a href="javascript:;" class="file-green button button-success">选择发票图片文件
								<input type="file" id="billFile" name="files">
							</a> <a href="javascript:uploadCompanyBill();"
								class="button button-success">上传发票图片文件</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script type="text/javascript">
		var fileName = $("#billFile") == null ? "" : $("#billFile").val();
		function uploadCompanyBill() {
			if(fileName == '') {
				BUI.use('bui/overlay',function(overlay){
					  function show () {
					    BUI.Message.Alert('请先选择需要上传的图片文件。',function(){
					    },'warning');
					  }
					  show();
					      
					});
				return;
			}
			$('#billUpload').submit();
		}
		$("#billFile").attr('onChange', $.browser.msie ? "$(this).data('onChange').apply(this)" : "")
		.change( function(){if(!$.browser.msie)$(this).data('onChange').apply(this)} )
		.data('onChange',function(){fileName = $("#billFile").val();$("#fileInfo").html(fileName);});
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
		
        BUI.use(['bui/tab','bui/mask'],function(Tab){
            var tab = new Tab.TabPanel({
                render : '#tab',
                elCls : 'button-tabs',
                panelContainer : '#panel',
                panelTpl : '<div class="panel"><p>{title}:{value}</p></div>',
                autoRender: true,
                children:[
                    {title:'标签一',value:'1',selected : true},
                    {title:'标签二',value:'2',selected : false},
                    {title:'标签三',value:'3',selected : false}
                ]
            });
            tab.setSelected(tab.getItemAt(0));
        });
        BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){
            var tabForm = new Form.Form({
                srcNode : '#tabDiv'
            }).render();
            var tabDialog = new Overlay.Dialog({
                // title:'标题',
                width:800,
                height:480,
                //配置DOM容器的编号
                contentId:'tabContents',
                buttons:[],
                success:function () {
                    alert('确认');
                    this.close();
                }
            });
            $('#sysSettings').on('click',function () {
              	var sender = $(this),
                type = sender.text(),
                effect = {
                  effect : type,
                  duration : 400// 
                  //callback : function(){} ,callback 回调函数
                };
                tabDialog.set('effect',effect);
                tabDialog.show();
                var tabPar=$("#tabDiv").parent();
                tabPar.prev().remove();
                tabPar.find(".bui-stdmod-footer").remove();
                tabPar.css({"padding":"0","margin-top":"-10px"});
                console.log(tabPar.parent().find(".bui-ext-close"));
                tabPar.parent().find(".bui-ext-close").css({
                    "left" : "0",
                    "top" : "435px",
                    "width" : "120px",
                    "height" : "60px",
                    "border-top" : "1px solid #212326",
                    "background-color":"#35383b"
                })
                tabPar.parent().find(".bui-ext-close-x").css({
                    "background":"none",
                })
                tabPar.parent().find(".x-icon").css({
                    "height":"60px",
                    "line-height":"60px",
                    "width":"120px",
                    "text-align":"center",
                    "color":"#fff",
                    "font-weight":"normal",
                    "font-size":"30px"
                })
                // icon css
                var icon=['<i class="iconfont">&#xe634;</i>','<i class="iconfont">&#xe634;</i>','<i class="iconfont">&#xe634;</i>']
                var ul_list = $("#tabDiv").find(".tab-panel-inner").find("ul").find("li");
                $.each(ul_list,function(i){
                    $(this).append(icon[i]);
                })
            });
        });
        
        //竖状菜单
	       BUI.use('bui/tree',function (Tree) {
	           var menu = new Tree.TreeMenu({
	           render : '.side-bar-content',

	           elCls : 'bui-side-menu', 
	           itemCls : 'bui-menu-item',
	           expandAnimate : true,
	           showIcons : true,
	           loadMask:true,

	           dirTpl : '<li class="menu-leaf menu-second"><div class="bui-menu-title"><s></s><span class="bui-menu-title-text"><a href="{href}">{text}</a></span></div></li>',
	           leafTpl : '<li class="menu-leaf"><a href="{href}">{text}</a></li>',

	           nodes : [
						{text : '公司发票',id : '10',href:"javascript:void(0);",  expanded : true,children: [
							{text : '发票上传',id : '11', href:"/views/webviews/company/expense_account_upload.html"},
                            {text : '发票历史记录',id : '12', href:"/views/webviews/company/expense_account_history.html"}                                           
                        ]},
                        {text : '银行对账单',id : '20',href:"javascript:void(0);", expanded : false,children: [
							{text : '上传对账单',id : '21', href:"/views/webviews/company/bank_statement_upload.html"},
							{text : '对账单历史记录',id : '22', href:"/views/webviews/company/bank_statement_history.html"}                                           
						]},
						 {text : '工资社保',id : '30',href:"javascript:void(0);", expanded : false,children: [
							{text : '参数设置',id : '31', href:"/views/webviews/company/salary_welfare_args_settings.html"},
							{text : '下载工资计算模板',id : '32', href:"/views/webviews/company/salary_welfare_template_download.html"},                                           
							{text : '上传本月工资',id : '33', href:"/views/webviews/company/salary_welfare_upload.html"}
						]},
						{text : '预约取发票',id : '40',href:"javascript:void(0);", expanded : false,children: [
							{text : '方式选择',id : '41', href:"/views/webviews/company/take_expense_account_mode_select.html"}                                           
						]},
						{text : '组织架构',id : '50',href:"javascript:void(0);",  expanded : false,children: [
							{text : '基本信息设置',id : '51', href:"/views/webviews/company/organization_information_settings.html"},
							{text : '组织架构设置',id : '52', href:"/views/webviews/company/organization_structure_settings.html"}                                           
						]},
	            ]
	       	});
	      		menu.render();
	           $.each($("li.menu-second"),function(){
	               var that = $(this);
	               if(that.next().hasClass("menu-second")){
	                   that.find("s").remove();
	               }
	           })
	           menu.on('itemclick',function(ev){
	               $('.log').text(ev.item.text);
	           });
	           var firstLeaf = menu.findNode('11'); //获取第一个叶子节点
	           menu.setSelected(firstLeaf);
	       });
	</script>
</body>
</html>