<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司置</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
            <div class="side-bar-top">
                <img src="/img/webimg/bss-logo.png" >
                <h1>上海元升财务咨询有限公司</h1>
            </div>
            <div class="side-bar-content"  id="menuTree"></div>
            <div class="side-bar-bottom">
                <ul>
                    <li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
                    <li><a href=""><i class="exit"></i>安全退出</a></li>
                </ul>
            </div>
        </div>
		<div class="main">
			
			<div class="menu"><a href="#" class="active">参数设置</a></div>
			<form name="argsSettings" id="argsSettings" action="/company/setSalarySocialSecurityInfo" method="POST">
			<div class="well mt20">
        		<label>选择城市</label><select class="input input-small ml10" id="province"></select><select id="city" class="input input-small ml10"></select><label class="ml10">选择户籍类型</label><select class="input input-small ml10" id="hujiType"><option value="0">城镇户籍</option><option value="1">农村户籍</option></select>
        		<input type="hidden" id="currentCity" name="currentCity">
        		<input type="hidden" id="currentType" name="currentType">
        	</div>
        	<table class="table table-bordered table-head-bordered center mt20">
        		<colgroup>
        			<col style="width:10%; background:#f9f9f9;">
        			<col>
        			<col>
        			<col>
        		</colgroup>
        		<thead>
        			<tr>
        				<th>缴纳项目</th>
        				<th>单位比例</th>
        				<th>个人比例</th>
        				<th>最低缴费基数</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>养老</td>
        				<td><input id="pensionCratio" name="pensionCratio" class="input input-small" value="0"></td>
        				<td><input id="pensionPratio" name="pensionPratio" class="input input-small" value="0"></td>
        				<td><input id="pensionBase" name="pensionBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>医疗</td>
        				<td><input id="medicalCratio" name="medicalCratio" class="input input-small" value="0"></td>
        				<td><input id="medicalPratio" name="medicalPratio" class="input input-small" value="0"></td>
        				<td><input id="medicalBase" name="medicalBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>失业</td>
        				<td><input id="unemployCratio" name="unemployCratio" class="input input-small" value="0"></td>
        				<td><input id="unemployPratio" name="unemployPratio" class="input input-small" value="0"></td>
        				<td><input id="unemployBase" name="unemployBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>工伤</td>
        				<td><input id="injuryCratio" name="injuryCratio" class="input input-small" value="0"></td>
        				<td><input id="injuryPratio" name="injuryPratio" class="input input-small" value="0"></td>
        				<td><input id="injuryBase" name="injuryBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>生育</td>
        				<td><input id="birthCratio" name="birthCratio" class="input input-small" value="0"></td>
        				<td><input id="birthPratio" name="birthPratio" class="input input-small" value="0"></td>
        				<td><input id="birthBase" name="birthBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>公积金</td>
        				<td><input id="accfundCratio" name="accfundCratio" class="input input-small" value="0"></td>
        				<td><input id="accfundPratio" name="accfundPratio" class="input input-small" value="0"></td>
        				<td><input id="accfundBase" name="accfundBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>工资</td>
        				<td><input id="salaryCratio" name="salaryCratio" class="input input-small" value="0"></td>
        				<td><input id="salaryPratio" name="salaryPratio" class="input input-small" value="0"></td>
        				<td><input id="salaryBase" name="salaryBase" class="input input-small" value="0"></td>
        			</tr>
        			<tr>
        				<td>大病医疗</td>
        				<td><input id="bigmedicalCratio" name="bigmedicalCratio" class="input input-small" value="0"></td>
        				<td><input id="bigmedicalPratio" name="bigmedicalPratio" class="input input-small" value="0"></td>
        				<td><input id="bigmedicalBase" name="bigmedicalBase" class="input input-small" value="0"></td>
        			</tr>
        		</tbody>
        	</table>
        	<div class="tips mt20">
                <a href="#" class="button button-primary button-long mr20">打印</a><a href="javascript:submitSettings()" class="button button-success button-long mr20">保存</a>
            </div>
            </form>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script src="/js/webjs/bbzutils.js"></script>
	<script type="text/javascript">
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		var modifyPwdForm = new Overlay.Dialog({
            title:'密码修改',
            width:600,
            height:280,
            contentId:'modifyPwd',
            success:function () {
              	this.close();
            },
            buttons : []
        });
		$('#setPwd').click(function(){
			modifyPwdForm.show();
		})
		$('#modify_pwd_button').click(function(){
			var oldPwd = $('#old_pwd').val();
			var newPwd = $('#new_pwd').val();
			var confirmNewPwd = $('#confirm_new_pwd').val();
			if(oldPwd == null || oldPwd == "") {
				BUI.Message.Alert('请输入旧密码！','warning');
				return;
			}
			if(newPwd == null || newPwd == "") {
				BUI.Message.Alert('请输新密码！','warning');
				return;
			}
			if(confirmNewPwd == null || confirmNewPwd == "") {
				BUI.Message.Alert('请输入新密码！','warning');
				return;
			}
			if(newPwd != confirmNewPwd) {
				BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
				return;
			}
			$.ajax({
				url : '/modifyPassword',
				type : "POST",
				data : {oldPwd:oldPwd, newPwd:newPwd},
				success : function(data) {
					if(data.error_code == "0") {
						BUI.Message.Alert('修改密码成功！','success');
					} else {
						BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
					}
				},
				error : function(data) {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			});
		})
	});
		addProvince($('#province'));
		$("#province").change(function(){
			$("#city").empty();
			addCity($('#city'), $('#province option:selected').val());
		});
		function addProvince(obj) {
			$.ajax({
				url : '/getAllProvinces',
				type : "POST",
				data : {},
				success : function(data) {
					$.each(data,function(name,value) {
						obj.append("<option value='"+name+"'>"+value+"</option>");
					});
					addCity($('#city'), $('#province option:selected').val());
				}
			});
		}
		function addCity(obj, provinceId) {
			obj.empty();
			$.ajax({
				url : '/getCities',
				type : "POST",
				data : {provinceId:provinceId},
				success : function(data) {
					$.each(data,function(name,value) {
						obj.append("<option value='"+name+"'>"+value+"</option>");
					});
					$('#currentCity').val($('#province option:selected').text() + $('#city option:selected').text());
				}
			});
		}
		$('#currentType').val(0);
		$("#hujiType").change(function(){
			$('#currentType').val($('#hujiType option:selected').val());
		});
		function submitSettings() {
			if(isNaN($('#pensionCratio').val()) || $('#pensionCratio').val() == '' ||
					isNaN($('#pensionCratio').val()) || $('#pensionCratio').val() == '' ||
					isNaN($('#pensionPratio').val()) || $('#pensionPratio').val() == '' ||
					isNaN($('#pensionBase').val()) || $('#pensionBase').val() == '' ||
					isNaN($('#medicalCratio').val()) || $('#medicalCratio').val() == '' ||
					isNaN($('#medicalPratio').val()) || $('#medicalPratio').val() == '' ||
					isNaN($('#medicalBase').val()) || $('#medicalBase').val() == '' ||
					isNaN($('#unemployCratio').val()) || $('#unemployCratio').val() == '' ||
					isNaN($('#unemployPratio').val()) || $('#unemployPratio').val() == '' ||
					isNaN($('#unemployBase').val()) || $('#unemployBase').val() == '' ||
					isNaN($('#injuryCratio').val()) || $('#injuryCratio').val() == '' ||
					isNaN($('#injuryPratio').val()) || $('#injuryPratio').val() == '' ||
					isNaN($('#injuryBase').val()) || $('#injuryBase').val() == '' ||
					isNaN($('#birthCratio').val()) || $('#birthCratio').val() == '' ||
					isNaN($('#birthPratio').val()) || $('#birthPratio').val() == '' ||
					isNaN($('#birthBase').val()) || $('#birthBase').val() == '' ||
					isNaN($('#accfundCratio').val()) || $('#accfundCratio').val() == '' ||
					isNaN($('#accfundPratio').val()) || $('#accfundPratio').val() == '' ||
					isNaN($('#accfundBase').val()) || $('#accfundBase').val() == '' ||
					isNaN($('#salaryCratio').val()) || $('#salaryCratio').val() == '' ||
					isNaN($('#salaryPratio').val()) || $('#salaryPratio').val() == '' ||
					isNaN($('#salaryBase').val()) || $('#salaryBase').val() == '' ||
					isNaN($('#bigmedicalCratio').val()) || $('#bigmedicalCratio').val() == '' ||
					isNaN($('#bigmedicalPratio').val()) || $('#bigmedicalPratio').val() == '' ||
					isNaN($('#bigmedicalBase').val()) || $('#bigmedicalBase').val() == '') {
				BUI.use(['bui/overlay'], function(Overlay){
					BUI.Message.Alert('所有输入必须为数字，请检查！','warning');
				});
			} else {
				$('#argsSettings').submit();
			}
		}
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
		//竖状菜单
	    var menu = new menuTree(
            {"nodes" : [
{text : '组织架构',id : '50',href:"javascript:void(0);",  expanded : false,children: [
                                                          						{text : '基本信息设置',id : '51', href:"/views/webviews/company/organization_information_settings.html"},
                                                          						{text : '组织架构设置',id : '52', href:"/views/webviews/company/organization_structure_settings.html"}                                           
                                                          					]},
					{text : '公司费用发票',id : '10',href:"javascript:void(0);",  expanded : false,children: [
						{text : '发票上传',id : '11', href:"/views/webviews/company/expense_account_upload.html"},
						{text : '发票历史记录',id : '12', href:"/views/webviews/company/expense_account_history.html"}                                           
					]},
					{text : '银行对账单',id : '20',href:"javascript:void(0);", expanded : false,children: [
						{text : '上传对账单',id : '21', href:"/views/webviews/company/bank_statement_upload.html"},
						{text : '对账单历史记录',id : '22', href:"/views/webviews/company/bank_statement_history.html"},
						{text : '上传回单',id : '21', href:"/views/webviews/company/bank_response_upload.html"},
						{text : '回单历史记录',id : '22', href:"/views/webviews/company/bank_response_history.html"},                                           
					]},
					{text : '销售清单',id : '80',href:"javascript:void(0);", expanded : false,children: [
					                                                         						{text : '上传销售清单',id : '81', href:"/views/webviews/company/sales_upload.html"},
					                                                         						{text : '销售清单历史记录',id : '82', href:"/views/webviews/company/sales_history.html"}                                           
					                                                         					]},
					{text : '工资社保',id : '30',href:"javascript:void(0);", expanded : true,children: [
						{text : '参数设置',id : '31', href:"/views/webviews/company/salary_welfare_args_settings.html"},
						{text : '下载工资计算模板',id : '32', href:"/views/webviews/company/salary_welfare_template_download.html"},                                           
						{text : '上传工资单',id : '33', href:"/views/webviews/company/salary_welfare_upload.html"},
						{text : '工资历史记录',id : '34', href:"/views/webviews/company/salary_history.html"},
						{text : '工资计算模板历史记录',id : '35', href:"/views/webviews/company/salary_template_history.html"}
					]},
					{text : '预约取发票',id : '40',href:"javascript:void(0);", expanded : false,children: [
						{text : '方式选择',id : '41', href:"/views/webviews/company/take_expense_account_mode_select.html"}                                           
					]},
					
					{text : '基本报表',id : '70',href:"javascript:void(0);",  expanded : false,children: [
					                                                          						{text : '资产负债表',id : '71', href:"/views/webviews/company/sheet_balance.html"},
					                                                          						{text : '利润表',id : '72', href:"/views/webviews/company/sheet_income.html"},
					                                                          						{text : '现金流量表',id : '73', href:"/views/webviews/company/sheet_cash.html"},
					                                                          						{text : '薪酬及税费表',id : '74', href:"/views/webviews/company/sheet_salary.html"},
					                                                          						{text : '下载财务报表',id : '75', href:"/views/webviews/company/base_statement_template_download.html"}
					                                                          					]},
					{text : '会计点将',id : '60',href:"/views/webviews/company/select_accounter.html",  leaf:false,expanded : false,children: []},
					{text : '申请发票',id : '90',href:"/views/webviews/company/apply_invoice.html",  leaf:false,expanded : false,children: []},
					{text : '查看合同文件',id : '100',href:"/views/webviews/company/contract.html",  leaf:false,expanded : false,children: []},
					]
            },"menuTree"
        );
    defaultSelect("31");
    function defaultSelect(id){ 
        $("#"+id).parent().addClass("bui-menu-item-selected")
    }
	</script>
</body>
</html>