<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表格</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href=""><i class="setting"></i>设置</a></li>
					<li><a href=""><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu"><h2>发票历史记录</h2></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small"></label>
                        <div class="controls"><select name="" id="" class="input input-normal"><option>请选择</option></select><input type="text" class="input input-normal ml10"><button class="button button-success ml10">搜索</button></div>
					</div>
				</div>
			</div>
			<table class="table center">
	    		<colgroup>
	    			<col>
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    			<col style="width:16%;">
	    		</colgroup>
	    		<thead>
	    			<tr>
	    				<th>报销单号</th>
	    				<th>报销单日期</th>
	    				<th>费用类型</th>
	    				<th>申请人</th>
	    				<th>成本中心</th>
	    				<th>状态</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr>
	    				<td><a href="">860000</a></td>
	    				<td>2015-08-09</td>
	    				<td>&yen; 3600.00</td>
	    				<td>类型内</td>
	    				<td>交通费</td>
	    				<td><span class="text-danger">待完成</span></td>
	    			</tr>
	    			<tr>
	    				<td><a href="">860000</a></td>
	    				<td>2015-08-09</td>
	    				<td>&yen; 3600.00</td>
	    				<td>类型内</td>
	    				<td>交通费</td>
	    				<td><span class="text-success">已完成</span></td>
	    			</tr>
	    			<tr>
	    				<td><a href="">860000</a></td>
	    				<td>2015-08-09</td>
	    				<td>&yen; 3600.00</td>
	    				<td>类型内</td>
	    				<td>交通费</td>
	    				<td><span class="text-info">处理中</span></td>
	    			</tr>
	    			<tr>
	    				<td><a href="">860000</a></td>
	    				<td>2015-08-09</td>
	    				<td>&yen; 3600.00</td>
	    				<td>类型内</td>
	    				<td>交通费</td>
	    				<td><span class="text-warning">其他</span></td>
	    			</tr>
	    		</tbody>
	    	</table>
	    	<div class="pagination"></div>
		</div>
	</div>
<!--该js需要修改js路径及修改seajs路径-->
<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
<script type="text/javascript">
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
    BUI.use('bui/tree',function (Tree) {
        var menu = new Tree.TreeMenu({
        render : '.side-bar-content',

        elCls : 'bui-side-menu', 
        itemCls : 'bui-menu-item',
        expandAnimate : true,
        showIcons : false,

        dirTpl : '<li class="menu-leaf menu-second"><div class="bui-menu-title"><s></s><span class="bui-menu-title-text"><a href="{href}">{text}</a></span></div></li>',
        leafTpl : '<li class="menu-leaf"><a href="{href}">{text}</a></li>',

        nodes : [
 				{text : '发票',id : '',href:"#",leaf : true, children: [
 					{text : '发票上传',id : '',href:"/views/webviews/company/expense_account_upload.html"},
 					{text : '发票历史记录',id : '',href:"/views/webviews/company/expense_account_history.html"}                                                      
 				]},
 				{text : '银行对账单',id : '',href:"#",expanded : false,children: [
 					{text : '上传对账单',id : '',href:"/views/webviews/company/bank_statement_upload.html"},
 					{text : '对账单历史记录',id : '',href:"/views/webviews/company/bank_statement_history.html"}                                                       
 				]},
 	            {text : '工资社保',id : '',href:"#",expanded : false,children : [
 					{text : '参数设置',id : '',href:"/views/webviews/company/salary_welfare_args_settings.html"},
 					{text : '下载工资计算模板',id : '',href:"/views/webviews/company/salary_welfare_template_download.html"},
 					{text : '上传本月工资',id : '',href:"/views/webviews/company/salary_welfare_upload.html"}
 				]},
 	            {text : '预约取发票',id : '',href:"#",leaf : false,children: [
 					{text : '方式选择',id : '',href:"/views/webviews/company/take_expense_account_mode_select.html"},
 					{text : '进度跟踪',id : '',href:"/views/webviews/company/take_expense_account_progress_track.html"}
 				]},
 	            {text : '组织架构',id : '',href:"#",expanded : false,children : [
 	                 {text : '基本信息设置',id : '',href:"/views/webviews/company/organization_information_settings.html"},
 	                {text : '组织架构设置',id : '',href:"/views/webviews/company/organization_structure_settings.html"}
 	            ]}
 	            ]
 	    	});
   		menu.render();
		$.each($("li.menu-second"),function(){
			var that = $(this);
			if(that.next().hasClass("menu-second")){
				that.find("s").remove();
			}
		})
        menu.on('itemclick',function(ev){
            $('.log').text(ev.item.text);
        }); 
    });
</script>
</body>
</html>