<div class="home-page"  yw-home>
	<div id="screen-signup" ng-include="'/frontpage/sign-up-screen.html'" class="screen" onload="signupScreenReady.resolve()"></div>
	<div id="screen-intro" ng-include="'/frontpage/intro-screen.html'" class="screen" onload="introScreenReady.resolve()"></div>
	<div id="screen-what" ng-include="'/frontpage/what-screen.html'" class="screen" onload="whatScreenReady.resolve()"></div>
	<div id="screen-comments" ng-include="'/frontpage/comments-screen.html'" class="screen" onload="commentsScreenReady.resolve()"></div>
	<div id="screen-signup2" ng-include="'/frontpage/sign-up2-screen.html'" class="screen" onload="signup2ScreenReady.resolve()"></div>
</div>
