
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>控件组合</title>
	<!--基础-->
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
	<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png">
				<h1>上海青智财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree">

            </div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href=""><i class="setting"></i>设置</a></li>
					<li><a href=""><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src="/js/webjs/jquery-1.8.1.min.js"></script>
<script src="/js/webjs/sea.js"></script>
<script src="/js/webjs/config.js"></script>
<script src="menuTree.js"></script>
<script>
var menu = new menuTree(
    {"nodes" : [
        {text : '组织权限',id : '',href:"javascript:void(0)",expanded : false,children : [
            {text : '组织架构设置',id : '',href:"#"},
            {text : '基本资料设置',id : '',href:"#"},
            {text : '供应商和客户信息',id : '',href:"#"}
        ]},
        {text : '费用报销',id : '',href:"javascript:void(0)",expanded : true,children : [
            {text : '收件箱',id : '',href:"#"},
            {text : '新建报销单',id : '',href:"#"},
            {text : '草稿',id : '',href:"#"},
            {text : '待审核报销单',id : '',href:"#"},
            {text : '已审核报销单',id : '',href:"#"},
            {text : '我的历史报销单记录',id : '',href:"#"},
            {text : '报销费用分析',id : '',href:"#"}
        ]},
        {text : '收件箱',id : '',href:"#",leaf : false,children: []},
        {text : '销售清单',id : '',href:"#",leaf : false,children: []},
        {text : '发票',id : '',href:"#",leaf : false,children: []},
        {text : '工资社保单',id : '',href:"#",leaf : false,children: []},
        {text : '银行对账单',id : '',href:"#",leaf : false,children: []},
        {text : '网上抄税',id : '',href:"#",leaf : false,children: []},
        {text : '预约取发票',id : '',href:"#",leaf : false,children: []},
        {text : '报表分析',id : '',href:"#",leaf : false,children: []}
        ]
    },"menuTree"
);
</script>