<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点将财会</title>
	<!--基础-->
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海青智财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href=""><i class="setting"></i>设置</a></li>
					<li><a href=""><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
            <div class="menu"><a href="" class="active">点将财会</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
                    <div class="row-fluid show-grid">
                        <div class="span8">
                            <label class="control-label control-label-small">地区</label>
                            <div class="controls"><select class="input input-normal"><option>选择地区</option></select></div>
                        </div>
                        <div class="span8">
                            <label class="control-label control-label-small">行业</label>
                            <div class="controls"><select class="input input-normal"><option>选择行业</option></select></div>
                        </div>
                        <div class="span8">
                            <label class="control-label control-label-small">职业经历</label>
                            <div class="controls"><select class="input input-normal"><option>选择职业经历</option></select></div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="member-wrap">
				<ul>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide">
	   							<label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
					<li>
						<div class="member-photo">
							<img src="http://img0.bdstatic.com/img/image/a65447f1f3c79fe4d9e104eb666879a31418615226.jpg" width="" height="">
							<div class="checkbox-con">
	   							<input type="checkbox" class="ipt-hide">
	   							<label class="checkbox"><i></i></label>
	   						</div>
						</div>
						<div class="member-text">
							<p><label for="">姓名：</label>张三</p>
							<p><label for="">职业经历：</label>高级咨询顾问</p>
							<p><label for="">职业证书：</label>中级会计师</p>
							<p><label for="">行业：</label>会计</p>
							<p><label for="">地区：</label>南京</p>
						</div>
					</li>
				</ul>
			</div>
			<div id="playBox">
			    <div class="pre"></div>
			    <div class="next"></div>
			    <div class="smalltitle">
			      	<ul>
			        	<li class="thistitle"></li>
			        	<li></li>
			        	<li></li>
			      	</ul>
			    </div>
			    <ul class="oUlplay">
			       	<li>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/1.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/1.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/1.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
								<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/1.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
								<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
			       	</li>
			       	<li>
						<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/2.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/2.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/2.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
								<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/2.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
								<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
			       	</li>
			       	<li>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/4.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/5.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
								<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/6.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
				       	<div class="member">
				       		<div class="member-photo">
				       			<img src="http://d.lanrentuku.com/down/js/jiaodiantu-1155/images/6.jpg" width="" height="">
				       			<div class="checkbox-con">
		   							<input type="checkbox" class="ipt-hide"><label class="checkbox"><i></i></label>
		   						</div>
				       		</div>
				       		<div class="member-text">
				       			<p><label for="">姓名：</label>张三</p>
								<p><label for="">职业经历：</label>高级咨询顾问</p>
								<p><label for="">职业证书：</label>中级会计师</p>
								<p><label for="">行业：</label>会计</p>
								<p><label for="">地区：</label>南京</p>
				       		</div>
				       	</div>
			       	</li>
			    </ul>
			</div>
			<div class="well mt20"></div>
        </div>
	</div>
    <script src="/js/webjs/jquery-1.8.1.min.js"></script>
    <script src="/js/webjs/sea.js"></script>
    <script src="/js/webjs/config.js"></script>
    <script src="/js/webjs/lrtk.js"></script>
    <script type="text/javascript">
        //侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
        //竖状菜单
        BUI.use('bui/tree',function (Tree) {
            var menu = new Tree.TreeMenu({
            render : '.side-bar-content',

            elCls : 'bui-side-menu', 
            itemCls : 'bui-menu-item',
            expandAnimate : true,
            showIcons : false,

            dirTpl : '<li class="menu-leaf menu-second"><div class="bui-menu-title"><s></s><span class="bui-menu-title-text"><a href="{href}">{text}</a></span></div></li>',
            leafTpl : '<li class="menu-leaf"><a href="{href}">{text}</a></li>',

            nodes : [
	            {text : '组织权限',id : '',href:"javascript:void(0)",expanded : true,children : [
	                {text : '组织架构设置',id : '',href:"#"},
	                {text : '基本资料设置',id : '',href:"#"},
	                {text : '供应商和客户信息',id : '',href:"#"}
	            ]},
	            {text : '收件箱',id : '',href:"#",leaf : false,children: []},
	            {text : '销售清单',id : '',href:"#",leaf : false,children: []},
	            {text : '发票',id : '',href:"#",leaf : false,children: []},
	            {text : '费用报销',id : '',href:"javascript:void(0)",expanded : true,children : [
	                {text : '收件箱',id : '',href:"#"},
	                {text : '新建报销单',id : '',href:"#"},
	                {text : '草稿',id : '',href:"#"},
	                {text : '待审核报销单',id : '',href:"#"},
	                {text : '已审核报销单',id : '',href:"#"},
	                {text : '我的历史报销单记录',id : '',href:"#"},
	                {text : '报销费用分析',id : '',href:"#"}
	            ]},
	            {text : '工资社保单',id : '',href:"#",leaf : false,children: []},
	            {text : '银行对账单',id : '',href:"#",leaf : false,children: []},
	            {text : '网上抄税',id : '',href:"#",leaf : false,children: []},
	            {text : '预约取发票',id : '',href:"#",leaf : false,children: []},
	            {text : '报表分析',id : '',href:"#",leaf : false,children: []}
	            ]
        	});
       		menu.render();
            $.each($("li.menu-second"),function(){
                var that = $(this);
                if(that.next().hasClass("menu-second")){
                    that.find("s").remove();
                }
            })
            menu.on('itemclick',function(ev){
                $('.log').text(ev.item.text);
            });
        });
		//模拟checkbox
		$(function () {
		    $('.checkbox').on('click',function(){
				if($(this).hasClass('cur')){
				$(this).removeClass('cur');
				$(this).siblings("input[type='checkbox']").removeAttr('checked')
			}
			else{
				$(this).addClass('cur');
				$(this).siblings("input[type='checkbox']").attr('checked','checked')
			}
		});
	 });
	</script>
</body>
</html>