<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>供应商和客户信息</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海青智财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href=""><i class="setting"></i>设置</a></li>
					<li><a href=""><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="zero-state">
				<div class="form-window">
					<div class="form-horizontal onlineTools form-window-wrap">
                        <div class="row">
                        	<a href="" class="green-bg">新增供应商</a>
                        	<a href="" class="red-bg">新增客户</a>
                        </div>
                        <div class="row">
                        	<a href="" class="yellow-bg">供应商明细</a>
                        	<a href="" class="blue-bg">客户明细</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script type="text/javascript">
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
		//竖状菜单
	    BUI.use('bui/tree',function (Tree) {
	        var menu = new Tree.TreeMenu({
	        render : '.side-bar-content',

	        elCls : 'bui-side-menu', 
	        itemCls : 'bui-menu-item',
	        expandAnimate : true,
	        showIcons : false,

	        dirTpl : '<li class="menu-leaf menu-second"><div class="bui-menu-title"><s></s><span class="bui-menu-title-text"><a href="{href}">{text}</a></span></div></li>',
	        leafTpl : '<li class="menu-leaf"><a href="{href}">{text}</a></li>',

	        nodes : [
	            {text : '组织权限',id : '',href:"javascript:void(0)",expanded : true,children : [
	                {text : '组织架构设置',id : '',href:"#"},
	                {text : '基本资料设置',id : '',href:"#"},
	                {text : '供应商和客户信息',id : '',href:"#"}
	            ]},
	            {text : '收件箱',id : '',href:"#",leaf : false,children: []},
	            {text : '销售清单',id : '',href:"#",leaf : false,children: []},
	            {text : '发票',id : '',href:"#",leaf : false,children: []},
	            {text : '费用报销',id : '',href:"javascript:void(0)",expanded : true,children : [
	                {text : '收件箱',id : '',href:"#"},
	                {text : '新建报销单',id : '',href:"#"},
	                {text : '草稿',id : '',href:"#"},
	                {text : '待审核报销单',id : '',href:"#"},
	                {text : '已审核报销单',id : '',href:"#"},
	                {text : '我的历史报销单记录',id : '',href:"#"},
	                {text : '报销费用分析',id : '',href:"#"}
	            ]},
	            {text : '工资社保单',id : '',href:"#",leaf : false,children: []},
	            {text : '银行对账单',id : '',href:"#",leaf : false,children: []},
	            {text : '网上抄税',id : '',href:"#",leaf : false,children: []},
	            {text : '预约取发票',id : '',href:"#",leaf : false,children: []},
	            {text : '报表分析',id : '',href:"#",leaf : false,children: []}
	            ]
	    	});
	   		menu.render();
			$.each($("li.menu-second"),function(){
				var that = $(this);
				if(that.next().hasClass("menu-second")){
					that.find("s").remove();
				}
			})
	        menu.on('itemclick',function(ev){
	            $('.log').text(ev.item.text);
	        }); 
	    });
	</script>
</body>
</html>