<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/iviewer.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/uploadify.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu" style="margin-bottom:20px;"><a href="#" class="active">公司发票上传</a></div>
			<div class="well mt20">
				<div class="form-horizontal onlineTools">
					<div class="row show-grid">
						<label class="control-label control-label-small">公司名称：</label>
                        <div class="controls"><select style="width:300px;" name="companylist" id="companylist" class="input input-normal"></select><input id="search_company" name="search_company" type="text" id="content" class="input input-normal ml10"><button id="searchData" class="button button-success ml10">搜索</button></div>
					</div>
				</div>
				<div class="form-horizontal" style="">
                            <div class="row">
                                <label for="" class="control-label control-label-small">发票日期：</label>
                                <div class="controls">
                                  	<input name="sname" id="bill_date" name="bill_date" type="text" class="input input-normal" style="width:290px;">
                                	<button id="uploadBtn" class="button button-success ml10">上传</button>
                                </div>
                            </div>
                            <div id="selectMonth" style="display:none;position:relative; z-index:99999;margin-left:170px;"></div>
                        </div>
			</div>
			<div style="margin-top:20px;">
				<input type="file" name="file_upload" id="file_upload" />
			</div>
		</div>
	</div>
	
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
<!--该js需要修改js路径及修改seajs路径-->
<!-- <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script> -->
<script src="/js/webjs/jquery-1.7.2.min.js"></script>
<script src="/js/webjs/sea.js"></script>
	<script src="/js/webjs/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script src="/js/webjs/layout.js"></script>
	<script src="/js/webjs/bui.js"></script>
<script src="/js/webjs/jquery.uploadify.min.js"></script>
<script type="text/javascript">
function checkJsonIsEmpty(json) {
	var isEmpty = true;
	if (json == null) return true;
	for (var jsonKey in json) {
		isEmpty = false;
		break;
	}
	return isEmpty;
}
function isNumber(str){
    var re = /^[0-9]+.?[0-9]*$/;
    if (!re.test(str)){
   	 return false;
    }
    return true;
}
BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
	var modifyPwdForm = new Overlay.Dialog({
        title:'密码修改',
        width:600,
        height:280,
        contentId:'modifyPwd',
        success:function () {
          	this.close();
        },
        buttons : []
    });
	$('#setPwd').click(function(){
		modifyPwdForm.show();
	})
	$('#modify_pwd_button').click(function(){
		var oldPwd = $('#old_pwd').val();
		var newPwd = $('#new_pwd').val();
		var confirmNewPwd = $('#confirm_new_pwd').val();
		if(oldPwd == null || oldPwd == "") {
			BUI.Message.Alert('请输入旧密码！','warning');
			return;
		}
		if(newPwd == null || newPwd == "") {
			BUI.Message.Alert('请输新密码！','warning');
			return;
		}
		if(confirmNewPwd == null || confirmNewPwd == "") {
			BUI.Message.Alert('请输入新密码！','warning');
			return;
		}
		if(newPwd != confirmNewPwd) {
			BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
			return;
		}
		$.ajax({
			url : '/modifyPassword',
			type : "POST",
			data : {oldPwd:oldPwd, newPwd:newPwd},
			success : function(data) {
				if(data.error_code == "0") {
					BUI.Message.Alert('修改密码成功！','success');
				} else {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			},
			error : function(data) {
				BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
			}
		});
	})
});
	
	//侧栏高度
    (function(){
        var H=$(window).height();
        var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
        $(".side-bar-content").height(H-h1);
        $(window).resize(function(){
            H=$(window).height();
            $(".side-bar-content").height(H-h1);
        });
    })()
	//竖状菜单
	var menu = new menuTree(
            {"nodes" : [
{text : '发票上传',id : '20',href:"/views/invoiceupload/home.html",  leaf:false, expanded : false,children: []},
{text : '发票列表',id : '10',href:"/views/invoiceupload/invoicelist.html", leaf:false, expanded : false,children: []}

						]
            },"menuTree"
        );
    defaultSelect("20");
    function defaultSelect(id){ 
        $("#"+id).parent().addClass("bui-menu-item-selected")
    }
    var companyData = null;
    $.ajax({
		url: '/invoiceupload/invoiceUploadGetAllCompanyInfo',
		type: "POST",
		data: {},
		success: function(data) {
			if (!checkJsonIsEmpty(data)) {
				companyData = data;
				for(var index in data) {
					$("#companylist").append("<option value='"+data[index].id+"'>" + data[index].name + "</option>");
				}
			}
		},
		error: function(status, error) {
		}
	});
    $("#searchData").click(function(){
    	var key = $("#search_company").val();
    	$("#companylist").html("");
    	var hasFind = false;
    	for(var index in companyData) {
    		if(companyData[index].name == null || companyData[index].name == "") continue;
			if(key == "" || key == null || companyData == null || companyData[index].name.indexOf(key) != -1) {
				hasFind = true;
				$("#companylist").append("<option value='"+companyData[index].id+"'>" + companyData[index].name + "</option>");
    		}
    	}
    	if(!hasFind) {
    		$("#companylist").append("<option value='-1'>没有搜索到结果</option>");
    	}
    });
    var time = new Date();
	time.setDate(1);
	time.setMonth(time.getMonth()-1);
	var month = time.getMonth()+1;
	var monthStr = month.toString();
	if(monthStr.length == 1){
		monthStr = "0" + monthStr;
	}
	var timeStr = time.getFullYear() + "-" + monthStr;
	$('#bill_date').val(timeStr);
	$('#bill_date').click(function(){
		var currentDate = new Date();
		var currentYear = currentDate.getFullYear();
		var currentMonth = currentDate.getMonth();
		$('#selectMonth').show();
		var Calendar = BUI.Calendar
        var monthpicker = new BUI.Calendar.MonthPicker({
	        render:'#selectMonth',
	        month:currentMonth,
	        align : {
	          points:['tl','tl']
	        },
	        year:currentYear,
	        success:function(){
	        	var month = (this.get('month') + 1).toString();
	        	if(month.length == 1) month = "0" + month;
	          	$("#bill_date").val(this.get('year') + "-" + month);
	          	monthpicker.close();
	        },
	        cancel:function() {
	        	
	        	monthpicker.close();
	        }
      	});
      	monthpicker.show();
	});
    $(function(){
	   　　   $('#file_upload').uploadify({
	   　　 	  	'auto'	        : false,
	         　　 	'swf'           : '/js/webjs/uploadify.swf',
	       　　　	'buttonText'    : '<div>选择文件</div>',
	        'fileObjName'   : 'files',
	        'fileSizeLimit' : '0',
	        'fileTypeExts'  :　'*.jpg;*.png;',
	        'uploader'      : '/invoiceupload/invoiceUploadUploadInvoices',
	        onQueueComplete : function(stats) {//当队列中的所有文件全部完成上传时触发
	        	　　alert("上传成功！");
	        	},
	        	onUploadError : function(file,errorCode,errorMsg,errorString,swfuploadifyQueue) {//上传文件出错是触发（每个出错文件触发一次）
	        		　　alert("上传失败！请重试！");
	        		}
	      　　　});
  　　　});
    $("#uploadBtn").click(function(){
    	if($("#companylist option:selected").val() == "" ||
    			$("#companylist option:selected").val() == "-1" ||
    			$("#companylist option:selected").val() == undefined){
    			alert("请先选择公司！");
    	} else {
    		$('#file_upload').uploadify('settings', 'formData', {companyId:$("#companylist option:selected").val(),bill_date:$("#bill_date").val()});
       		$('#file_upload').uploadify('upload', '*');
    	}
    });
</script>
</body>
</html>