<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.11.3.min.js">
	</script>
<link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css?_=5caac04f688d89b2c49bcb280190366b">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery-ui.css" />
<link rel="stylesheet" href="/css/webcss/jquery-ui.theme.css"/>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#add-form{
    margin-left: 30%;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#add-form input {
    margin: 1vh 1vh;
}
</style>
</head>
<body>
<div id="add-form">
	销售名字：<input type="text" placeholder="销售名字(必填)" id="saller"/><br />
	客户名字：<input type="text" placeholder="客户名字(必填)" id="user-name"/><br />
	公司名称：<input type="text" placeholder="公司名称(必填)" id="user-company"/><br />
	联系方式：<input type="text" placeholder="联系方式(必填)" id="user-phone"/><br />
	指派会计：<select id="accountant"></select><br />
	联系时间：<input type="text" placeholder="联系时间(必填)" id="updated-time"/><br />
	备注信息：<textarea type="text" placeholder="备注" rows=4 id="comment"></textarea><br />
	<input type="button" value="提交" id="submit"/>
</div>
<table id="table" class="display" cellspacing="0" width="100%">
	<thead>
            <tr>
                <th>销售</th>
                <th>公司名称</th>
                <th>客户</th>
                <th>电话</th>
                <th>备注</th>
                <th>联系时间</th>
                <th>状态</th>
                <th>会计</th>
                <th>记录编号</th>
                <th></th>
            </tr>
        </thead>
</table>
	<div id="edit-sales-dialog" style="display:none;">
		<textarea id="edit-comment" placeholder="添加新备注，没有请留空"></textarea>
		<input id="edit-updated_time" type="textfield" placeholder="联系时间" />
		<input id="edit-status" type="textfield" placeholder="状态" /><br />
		<select id="edit-accountant" ></select>
	</div>
	<div id="comment-dialog" style="display:none">
	<table id="comment-list" >
	</table>
	</div>
</body>
<script>

$( "#updated-time" ).datepicker();
$("#edit-updated_time").datepicker();
//Get sales' name

var userId = -1;
$.get("/getUserFromSession", function(data){
	console.log(data);
	if(data['name'] == ""){
		window.location.href = "/views/frontviews/index.html"
	} else{
		$("#saller").val(data['name']);
		userId = data['id'];
	}
});

//Get accountants
var accountants = [];
$.get("/getAllAccounter", function(data){
	$("#accountant").append("<option class='accountant' value='random'>随机</option>");
	accountants = data;
	for(var i = 0; i < data.length; i++){

		$("#accountant").append("<option class='accountant' value='" + data[i]["user_id"] + "'>" + data[i]["userName"] + "</option>");
	}
	
});
$.get("/sales/getSales", function(dataSet){
	$('#table').DataTable( {
    data: dataSet['data'],
    "sDom": '<"top" f>rt<"bottom" p><"clear">',
	"order": [[ 0, "desc" ]],
	"oLanguage": {
	    "sSearch": "查找 ",
	    oPaginate: {
	    	'sPrevious': "上一页",
	    	'sNext': "下一页",
	    }
	  },
	  pageLength:10
} );
	
	$('#table tbody').on('dblclick', 'tr', function(){
		var id = $(this).children().eq(8)[0].innerHTML;
		console.log( $(this).children().eq(8));
		$.post("/sales/getAllComments", {id: id}, function(data){
			$("#comment-list").html("");
			for(var i = 0; i < data.length; i++){
				$("#comment-list").append("<tr><td>" + data[i]["comment"] + "</td><td>" + data[i]["updated_time"] + "</td></tr>");
			}
			$("#comment-dialog").dialog();
		});
		
	});
	
	$('#table tbody').on('click', '.edit-btn', function () {
		//var comment = $(this).parents('tr').children().eq(4)[0].innerHTML;
		var updatedTime = $(this).parents('tr').children().eq(5)[0].innerHTML;
		var status = $(this).parents('tr').children().eq(6)[0].innerHTML;
		var accountant = $(this).parents('tr').children().eq(7)[0].innerHTML;
		//$("#edit-comment").val(comment);
		$("#edit-updated_time").val(updatedTime);
		$("#edit-status").val(status);
		//$("#edit-accountant").val(accountant);
		//$("#accountant_id").val($("#accountant").val());
		$("#edit-accountant").html("");

		var index = 0;
		for(var i = 0; i < accountants.length; i++){
			if(accountants[i]['userName'] == accountant){
			  $("#edit-accountant").append("<option class='edit_accountant' value='" + accountants[i]["user_id"] + "'>" + accountants[i]["userName"] + "</option>");
			  index = i;
			  break;
			}
		}
		$("#edit-accountant").append("<option class='edit_accountant' value='random'>随机</option>");
		for(var i = 0; i < accountants.length; i++){
			if(accountants[i]['userName'] != accountant){
				  $("#edit-accountant").append("<option class='edit_accountant' value='" + accountants[i]["user_id"] + "'>" + accountants[i]["userName"] + "</option>");
			}
		}
		var id = $(this).attr("id").replace("edit-", "");
		
		$("#edit-sales-dialog").dialog({
			buttons:[
    		            {
	    		              text: "提交",
	    		              icons: {
	    		                primary: "ui-icon-heart"
	    		              },
	    		              click: function() {
	    		         		//post modify
	    		         		var editDialog = $(this);
	    		         		var accountant = $("#edit-accountant option:selected").text();
	    		         		var accountantId = $("#edit-accountant option:selected").val();
	    		         		
	    		         		if(accountant == "随机"){
	    		         			//var accounants = $("option.edit_accountant");
	    		         			var index = Math.floor(Math.random() * accountants.length);
	    		         			accountant = accountants[index].userName;
	    		         			accountantId = accountants[index].user_id;
	    		         		}
	    		         		$.post("/sales/updateSales", {id:id, comment:$("#edit-comment").val(), accountant:accountant, status: $("#edit-status").val(), updated_time: $("#edit-updated_time").val(), accountant_id:accountantId}, function(){
	    		         			editDialog.dialog("close");
	    		         			window.location.href = "/views/salesviews/record.html";
	    		         		})
	    		              }
	    		         },
	    		            {
	    		              text: "取消",
	    		              icons: {
	    		                primary: "ui-icon-heart"
	    		              },
	    		              click: function() {
	    		            	  
	    		            	  $(this).dialog("close");
	    		            	  }
	    		         }
    		        ]
		});
	});
});



$("#submit").on("click", function(){
	var saller = $("#saller").val();
	var userName = $("#user-name").val();
	var userCompany = $("#user-company").val();
	var userPhone = $("#user-phone").val();
	var accountant = $("#accountant option:selected").text();
	var accountantId = $("#accountant option:selected").val();
	var updatedTime = $("#updated-time").val();
	if(saller == "" || userName == "" || userCompany=="" || userPhone=="" || updatedTime == "") {
		alert("必填字段还有未填写的，请检查！");
		return;
	}
	if(accountant == "随机"){
		//var accounants = $("option.accountant");
		var index = Math.floor(Math.random() * accountants.length);
		console.log(index);
		accountant = accountants[index].userName;
		accountantId = accountants[index].user_id;
	}
	console.log(accountant);
	var comment = $("#comment").val();
	$.post("/sales/addSales", {"saller_id":userId, "saller_account": saller, "user_name": userName, "user_company": userCompany, "user_phone": userPhone, "accountant": accountant, "updated_time": updatedTime, "comment": comment, accountant_id:accountantId}, function(){
		window.location.href = "/views/salesviews/record.html";
	})
});

</script>
</html>