<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh_cn" lang="zh">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="style/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="../../css/webcss/youngwisdom.css">
  <link rel="stylesheet" type="text/css" href="../../css/webcss/bootstrap.css">
  <link rel="shortcut icon" href="style/favicon.ico">
  <title>帮帮账</title>
  <style>
  
  .cta-signup-footer__icon span{
  color: white;
  }
  
  .logo {
  margin-top: 0.7em;
  margin-left: 0.7em;
  }
  
nav a {
  position: relative;
  color: #ff3296;
}
nav a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ccc;
  content: "";
  transition: width 0.2s;
}
nav a:hover {
  color: #ccc;
}
nav a:hover:after {
  width: 100%;
}

  .header-white {
    position: fixed;
  height: 66px;
  #line-height: 66px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.iconic {
  width: 22px;
  height: 22px;
}

#modular__signup_email{
    padding: 14px 14px 10px 28px;
}

#modular__signup_password {
    padding: 14px 14px 10px 28px;
}

#mobile-modular__signup_email{
    padding: 14px 14px 10px 28px;
}

#mobile-modular__signup_password {
    padding: 14px 14px 10px 28px;
}


#mobile-signup-btn{
 	margin-top:16px !important;
    display: inline-block !important;
    outline: 0 !important;
    padding: 1em 1em 15px !important;
    text-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    border-bottom: 2px solid #a4523c !important;
    font-weight: 600 !important;
    background-color: #f16549 !important;
    background-image: linear-gradient(to bottom,rgba(255,255,255,.075) 0,rgba(0,0,0,.075) 100%) !important;
    color: #FFF !important;
    width: 100% !important;
    border-radius: 4px !important;
    background-clip: padding-box !important;
    transition: .2s all ease !important;
    font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    border: 0 !important;
    font-size: 16px !important;
    cursor: pointer !important;
    align-items: flex-start !important;
    text-align: center !important;
}

#signup-btn-bottom{
 	margin-top:16px !important;
    display: inline-block !important;
    outline: 0 !important;
    padding: 1em 1em 15px !important;
    text-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    border-bottom: 2px solid #a4523c !important;
    font-weight: 600 !important;
    background-color: #f16549 !important;
    background-image: linear-gradient(to bottom,rgba(255,255,255,.075) 0,rgba(0,0,0,.075) 100%) !important;
    color: #FFF !important;
    width: 100% !important;
    border-radius: 4px !important;
    background-clip: padding-box !important;
    transition: .2s all ease !important;
    font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    border: 0 !important;
    font-size: 16px !important;
    cursor: pointer !important;
    align-items: flex-start !important;
    text-align: center !important;
}
  </style>
</head>
  <body >
    <body class="features-new">
  <header id="index-header" class="header-new js-header-new">
    <nav>
    <a href="index.html" class="header-new__links" style="float: left;">
      <img class="logo" src="style/image/logo-white1.png" title="帮帮账">
    </a>

      <ul class="header-new__links">

        <li><a href="features.html"><span>特点</span></a></li>
        <li><a href="about.html"><span>团队</span></a></li>
        <li><a href="Login.html"><span>登录</span></a></li>
        <li><a href="Signup.html" class="header-new__links__signup">人才注册</a></li>
      </ul>
    </nav>
</header>
  <header class="header-mobile-new">
    <a href="index.html" class="header-new__links" style="float: left;">
      <img src="style/image/logo-black1.png" title="帮帮账">
    </a>
    <div class="header-mobile-new__menu">
    <span class="header-mobile-new__menu__button js-mobile-navigation">
      <span class="header-mobile-new__menu__button--one">|</span>
      <span class="header-mobile-new__menu__button--two">|</span>
      <span class="header-mobile-new__menu__button--three">|</span>
    </span>
      <div class="clear"></div>
    </div>

    <nav class="header-mobile-new__navigation">
      <ul class="header-mobile-new__navigation__links">
        <a href="index.html"><li>主页</li></a>
        <a href="features.html"><li>特点</li></a>
        <a href="about.html"><li>团队</li></a>
        <a href="Login.html"><li>登录</li></a>
        <a href="Signup.html" class="header-mobile-new__navigation__signup"><li>人才注册</li></a>
      </ul>
    </nav>
  </header>
  <div class="features-new__header js-features-header">
    <div class="features-new__navigation features-new__navigation--desktop">
      <div class="features-new__navigation__container">
        <div class="row">
          <div class="columns large-4">
            <a href="#bookkeepers"><img src="style/image/person2.png" style="width: 28px !important; height: 28px !important" class="iconic iconic-md" />记账专家</a>
          </div>
          <div class="columns large-4">
            <a href="#sharing"><img src="style/image/loop-circular.png" style="width: 30px !important; height: 30px !important" class="iconic iconic-md" />简单、安全的分享数据</a>
          </div>
          <div class="columns large-4">
            <a href="#security"><img src="style/image/as.png" style="width: 26px !important; height: 26px !important" data-state="locked" class="iconic iconic-md" />银行级安全</a>
          </div>
        </div>
        <div class="row">
          <div class="columns large-4">
            <a href="#financial"><img src="style/image/book.png" style="width: 24px !important; height: 24px !important; margin-left: 1px" class="iconic iconic-md" /> 交互财务报表</a>
          </div>
          <div class="columns large-4">
            <a href="#communication"><img src="style/image/chat.png" style="width: 26px !important; height: 26px !important" class="iconic iconic-md" />交流便捷</a>
          </div>
          <div class="columns large-4">
            <a href="#management"><img src="style/image/cloud.png" style="width: 26px !important; height: 26px !important" class="iconic iconic-md" />线上文件管理</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-new__navigation features-new__navigation--mobile">
    <div class="features-new__navigation__container">
      <div class="row">
        <div class="columns large-4">
          <a href="#bookkeepers"><img src="style/image/person2.png" class="iconic iconic-md" /> 记账专家</a>
        </div>
        <div class="columns large-4">
          <a href="#sharing"><img src="style/image/loop-circular.png" class="iconic iconic-md" /> 简单、安全的分享数据</a>
        </div>
        <div class="columns large-4">
          <a href="#security"><img src="style/image/as.png" style="width: 30px !important; height: 30px !important" data-state="locked" class="iconic iconic-md" /> 银行级安全</a>
        </div>
      </div>
      <div class="row">
        <div class="columns large-4">
          <a href="#financial"><img src="style/image/book.png" style="width: 28px !important; height: 28px !important; margin-left: 1px" class="iconic iconic-md" /> 交互财务报表</a>
        </div>
        <div class="columns large-4">
          <a href="#communication"><img src="style/image/chat.png" class="iconic iconic-md" /> 交流便捷</a>
        </div>
        <div class="columns large-4">
          <a href="#management"><img src="style/image/cloud.png" class="iconic iconic-md" /> 线上文件管理</a>
        </div>
      </div>
    </div>
  </div>
<div class="features-new__section" style="padding-bottom: 100px" id="bookkeepers">
  <div class="row">
    <div class="columns large-12">
      <div class="features-new__section__icon-circle"><img src="style/image/people2.png" class="iconic iconic-md" /></div>
    </div>
  </div>
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <h3>记账专家</h3>
      <p>选择帮帮账，您得到的不仅是软件，您同时也将得到一位经验丰富并且胜任的专家为您记账。</p>
    </div>
    <div class="columns large-offset-1 large-7">
      <div class="features-new__accountant-chat">
        <img data-quote-direction="left" src="style/image/double-quote-serif.png" class="iconic iconic-sm" alt="double-quote-serif" />
        <p>Hi Jacob, I reconciled your accounts and matched all of your receipts - your income statement is ready now within the app!</p>
        <div class="features-new__accountant-chat__container">
          <div class="features-new__accountant-chat__head"></div>
          <div class="features-new__accountant-chat__name">
            <span><strong>Lyndsey</strong></span>
            <span>Bench Bookkeeper</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row features-new__section__blocks features-new__section__blocks--padding">
    <div class="columns large-4 padding-start">
      <h4>
        <img src="style/image/briefcase.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        专业、可靠
      </h4>
      <p>您无需为对账、费用分类及发票比对担忧，您的财税专员将为您搞定一切。</p>
    </div>
    <div class="columns large-4 padding-middle">
      <h4>
        <img src="style/image/people.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        经验丰富
      </h4>
      <p>我们所有的财税专员都是一流高校毕业并经过我们的严格培训。同时，他们在小企业会计处理方面有丰富的经验。</p>
    </div>
    <div class="columns large-4 padding-end">
      <h4>
        <img src="style/image/key.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        帮帮账的保证
      </h4>
      <p>我们会向您推荐最适合您业务的服务，为了确保通用性，我们会向您提供免费的财务报表，使您有机会无风险的体验我们的服务，并让我们更好的理解您的财税需求。</p>
    </div>
  </div>
</div>
<div class="features-new__section features-new__section--gray" style="padding-top: 30px" id="sharing">
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <div class="features-new__section__icon-circle features-new__section__icon-circle--top"><img src="style/image/laptop.png" class="iconic iconic-md" style="margin-left: 1px" /></div>
      <h3>简单、安全的分享数据</h3>
      <p>从帮帮账获取您的财务数据非常简单，从银行对账单到收据、支票——我们使这个过程简单易行。</p>
    </div>
    <div class="features-new__shapes"><img src="style/images/first.svg" width="700" height="300" style="top: -119px" /></div>
  </div>
  <div class="row features-new__section__blocks" style="padding-top: 20px">
    <div class="columns large-7 padding-start">
      <h4>
        <img src="style/image/link.png" data-state="intact" class="iconic iconic-sm icon-blue" style="top: -1px" />
        与银行账户和支付宝连接
      </h4>
      <p>将您的账户与帮帮账连接只需少于五分钟</p>
      <div class="features-new__section__steps">
        <div class="features-new__section__steps__line">
          <div class="features-new__section__steps__circle features-new__section__steps__circle--1">1.</div>
          <div class="features-new__section__steps__circle features-new__section__steps__circle--2">2.</div>
          <div class="features-new__section__steps__circle features-new__section__steps__circle--3"><img src="style/image/check.png" class="iconic iconic-sm" /></div>
        </div>
        <div class="features-new__section__steps__descriptions">
          <div class="features-new__section__steps__descriptions__description">
            <span class="features-new__section__steps__descriptions__number">1.</span>
            <span>设置银行卡</span>
            <p>帮帮账将与国内大多数银行进行系统连接，也包括支付宝。</p>
          </div>
          <div class="features-new__section__steps__descriptions__description">
            <span class="features-new__section__steps__descriptions__number">2.</span>
            <span>安全登录</span>
            <p>帮帮账采用256位加密方式来提供安全的银行连接。</p>
          </div>
          <div class="features-new__section__steps__descriptions__description">
            <span class="features-new__section__steps__descriptions__number"><img src="style/image/check.png" class="iconic iconic-sm" /></span>
            <span>完成</span>
            <p>您的账户设置完成后，账户信息将在几分钟内导入完成。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns large-5 padding-end">
      <h4>
        <img src="style/image/cloud-transfer.png" data-transfer-direction="upload" class="iconic iconic-sm icon-blue" style="width: 22px !important; height: 22px !important" />
        文件上传
      </h4>
      <p>您有三个途径向帮帮账的记账专家传送文件</p>
      <div class="features-new__section__document-uploading">
        <p><img src="style/image/tools.png" class="iconic iconic-sm icon-blue" style="top: 22px" />直接拖拽您的电脑文件到帮帮账云服务中</p>
        <p><img src="style/image/iphone.png" class="iconic iconic-sm icon-blue" style="top: 22px" /> 直接向您的记账专家转发邮件和报表</p>
        <p><img src="style/image/envelope1.png" data-state="open" class="iconic iconic-sm icon-blue" /> 用快递直接寄送大量的纸质文件</p>
      </div>
    </div>
  </div>
</div>

<div class="features-new__section" style="padding-top: 30px" id="security">
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <div class="features-new__section__icon-circle features-new__section__icon-circle--top"><img src="style/image/lock.png" class="iconic iconic-md" style="margin-top: -2px; margin-left: 1px" /></div>
      <h3>银行级安全</h3>
      <p>财务数据是极其敏感的数据，因此，我们将采用多种措施以确保数据的安全。</p>
    </div>
    <div class="features-new__shapes"><img src="style/images/second.svg" width="700" height="300" style="top: -120px" /></div>
  </div>
  <div class="row features-new__section__blocks" style="padding-top: 20px">
    <div class="columns large-4 padding-start">
      <h4>
        <img src="style/image/key.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        加密
      </h4>
      <p>帮帮账采用银行级256位加密，以保证若用户使用不安全网络或公共无线网络连接时数据无法被读取。所有的数据将被加密保存在密匙滚动变换的安全服务器上。</p>
    </div>
    <div class="columns large-4 padding-middle">
      <h4>
        <img src="style/image/box.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        物理保存
      </h4>
      <p>帮帮账使用阿里云安全存储设备来保存数据，这些设备分处在高级别的安全控制之下，需要严格的身份识别才可以进入设备所在区域。</p>
    </div>
    <div class="columns large-4 padding-end">
      <h4>
        <img src="style/image/circle-check.png" data-state="locked" class="iconic iconic-sm icon-blue" style="top: -1px" />
        背景调查
      </h4>
      <p>帮帮账坚信信息安全尤其重要，所以我们会对每一个员工进行犯罪记录调查、面试和培训以保证我们的信息安全和信誉。</p>
    </div>
  </div>
</div>
<div class="features-new__section features-new__section--gray" style="padding-top: 30px" id="financial">
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <div class="features-new__section__icon-circle features-new__section__icon-circle--top"><img src="style/image/book-1.png" class="iconic iconic-md" style="margin-left: 4px; width: 34px !important; height: 34px !important; margin-top: 3px;" /></div>
      <h3>交互财务报表</h3>
      <p style="padding-right: 30px">我们向您提供交互月度利润表和资产负债表，使您深入了解至每笔交易和收据构成财务报表的细节。</p>
    </div>
    <div class="features-new__shapes"><img src="style/images/third.svg" width="700" height="300" style="top: -86px" /></div>
  </div>
  <div class="row">
    <div class="features-new__section__blocks" style="padding-top: 1em;">
      <div class="columns large-4 padding-start">
        <h4>
          <img src="style/image/document.png" class="iconic iconic-sm icon-blue" style="top: 0px" />
          利润表
        </h4>
        <p>方便您按交易类别监控每月利润和支出。展开每个交易类别以查阅交易明细和相关的发票。</p>
      </div>
      <div class="columns large-4 padding-middle">
        <h4>
          <img src="style/image/spreadsheet.png" class="iconic iconic-sm icon-blue" style="top: 0px" />
          资产负债表
        </h4>
        <p>在月度资产负债表中记录您的资产和负债情况。您可以在每个交易类别中查阅和备注交易明细。</p>
      </div>
      <div class="columns large-4 padding-end">
        <h4>
          <img src="style/image/cloud-transfer.png" data-transfer-direction="download" class="iconic iconic-sm icon-blue" style="top: 0px" />
          导出至Excell
        </h4>
        <p>将您的财务数据轻松导出到Excel以为您的企业创建财务预算、预测和模型。</p>
      </div>
    </div>
  </div>
</div>
<div class="features-new__section" style="padding-top: 30px" id="communication">
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <div class="features-new__section__icon-circle features-new__section__icon-circle--top"><img src="style/image/chatb.png" class="iconic iconic-md" style="margin-left: 2px; width: 38px !important; height: 38px !important; margin-top: 2px" /></div>
      <h3>交流便捷</h3>
      <p>无论您喜欢电话、邮件或通过应用程序交流——我们使您和帮帮账记账专家的交流更为便捷。</p>
    </div>
    <div class="features-new__shapes"><img src="style/images/fourth.svg" width="700" height="300" style="top: -122px" /></div>
  </div>
  <div class="row features-new__section__blocks" style="padding-top: 20px">
    <div class="columns large-4 padding-start">
      <h4>
        <img src="style/image/iphone.png" class="iconic iconic-sm icon-blue" style="top: -1px" />
        电话预约
      </h4>
      <p>您可以随时登录您的帐户在您的财税专员工作时间表上预约，他们将及时致电您讨论公司财务状况。</p>

    </div>
    <div class="columns large-4 padding-middle">
      <h4>
        <img src="style/image/comment-square.png" class="iconic iconic-sm icon-blue" />
        应用程序留言
      </h4>
      <p>通过帮帮账的网络端收发信息与您的财税专员交流。我们会将所有信息转发至您的预留邮箱，便于您无需登录帮帮账账户即可与您的财税专员交流。</p>
    </div>
  </div>
</div>

<div class="features-new__section features-new__section--gray" style="padding-top: 30px" id="management">
  <div class="row">
    <div class="columns large-4 features-new__section__description">
      <div class="features-new__section__icon-circle features-new__section__icon-circle--top"><img src="style/image/cloud1.png" class="iconic iconic-md" style="margin-top: -2px; margin-left: 1px" /></div>
      <h3>线上文件管理</h3>
      <p style="padding-right: 30px">无纸化——我们电子化存储和整理您的纸质文件并将它们和您的公司银行账户直接连接。</p>
    </div>
    <div class="features-new__shapes"><img src="style/images/fifth.svg" width="700" height="300" style="top: -105px" /></div>
  </div>
  <div class="row">
    <div class="features-new__section__blocks" style="padding-top: 1em;">
      <div class="columns large-4 padding-start">
        <h4>
          <img src="style/image/cloud-transfer.png" data-transfer-direction="upload" class="iconic iconic-sm icon-blue" style="top: 0px" />
          无纸化
        </h4>
        <p>您可通过微信平台或应用程序直接将您的发票和文件上传至帮帮账。</p>
      </div>
      <div class="columns large-4 padding-middle">
        <h4>
          <img src="style/image/layers.png" class="iconic iconic-sm icon-blue" style="top: 0px" />
          分类整理
        </h4>
        <p>您的财税专员将为您分类整理文件，在相应的交易附上发票，放置在您的线上文件夹中。</p>
      </div>
      <div class="columns large-4 padding-end">
        <h4>
          <img src="style/image/magnifying-glass.png" class="iconic iconic-sm icon-blue" style="top: 0px" />
          便于查询
        </h4>
        <p>您可通过年、月及文件类型检索，轻松查阅相关文件。我们将根据您的财务报表为您准备月度、季度、年度税务申报及年检供您审阅。通过我们的微信平台和应用程序轻松搞定员工费用报销。</p>
      </div>
    </div>
  </div>
</div>

  

</section>
<div id="modular__signup_container" class="modular__signup hide-for-small-and-up signup-form_container  cta-signup-footer cta-signup-footer--dark-image ">
	<div id="home-introduction">
	</div>
		<h2>准备开始?</h2>
  	<form id="modular__signup_form" class="cta-signup-footer__form signup-form js-form-show-mobile" data-validate="parsley" >
		<div class="cta-signup-footer__form__field cta-signup-footer__form--email">
			<label class="js-account-form-email">
			<img data-state="closed" src="style/image/envelope.png" class="iconic iconic-sm  email-icon" />
			<input id="mobile-modular__signup_email" class="js-signup-email" name="email" type="text" placeholder="邮箱" data-trigger="change" data-required="true" data-type="email"  />
			</label>
		</div>
		<div class="cta-signup-footer__form__field cta-signup-footer__form--password">
			<label class="js-account-form-password">
			<img data-state="closed" src="style/image/lock.png" class="iconic iconic-sm  password-icon" />
			<input id="mobile-modular__signup_password" class="js-signup-password" name="password" type="password" placeholder="密码" data-type="phone" data-required="true" data-error-message="Please enter your phone number." maxlength="10" pattern=".{10,}" data-trigger="change"/>
			</label>
		</div>
		<div class="cta-signup-footer__form__submit">
      		<input type="button" class="" id="mobile-signup-btn" value="注册"/>
    	</div>
    	<div class="clear" style="clear: both;"></div>
    </form>
    <div id="mobile-signup-error-msg-btn"></div>
</div>
<div class="signup-error">
  <div class="signup-error__window">
    <div class="signup-error__container">
      <div class="js-signup-error-close signup-error__close">
        <img src="style/images/circle-x.svg" class="iconic iconic-md" />
      </div>
      <span class="signup-error__title">Oh no! We couldn't sign you up.</span>
      <p>There's an error on our side.  <a href="javascript:;">Contact us</a> and we'll help you as soon as possible.</p>
    </div>
  </div>
</div>
<div id="modular__signup_container" class="modular__signup hide-for-small signup-form_container  cta-signup-footer cta-signup-footer--dark-image ">
	<div id="home-introduction">
	</div>
		<h2></h2>
	<div class="cta-signup-footer__icons">
		<div class="cta-signup-footer__icon">
			<img data-gender="genderless" src="style/images/footerPeo.jpg" class="iconic-md iconic-one" />
			<span>注册一个帐号</span>
	</div>
	<div class="cta-signup-footer__dots cta-signup-footer__dots--one">
			<svg width="36" height="6" viewBox="0 0 36 6" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<g fill="#000">
		<circle class="icon-dots icon-dots--one" cx="3" cy="3" r="3"/>
		<circle class="icon-dots icon-dots--two" cx="18" cy="3" r="3"/>
		<circle class="icon-dots icon-dots--three" cx="33" cy="3" r="3"/>
	</g>
</svg>
	</div>
	<div class="cta-signup-footer__icon">
			<img src="style/images/footerWin.jpg" style="width: 40px; height: 40px; margin-bottom: 11px" class="iconic-md iconic-two" />
			<span>见一下你的会计师</span>
	</div>
	<div class="cta-signup-footer__dots cta-signup-footer__dots--two">
			<svg width="36" height="6" viewBox="0 0 36 6" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<g fill="#000">
		<circle class="icon-dots icon-dots--one" cx="3" cy="3" r="3"/>
		<circle class="icon-dots icon-dots--two" cx="18" cy="3" r="3"/>
		<circle class="icon-dots icon-dots--three" cx="33" cy="3" r="3"/>
	</g>
</svg>
	</div>
	<div class="cta-signup-footer__icon">
			<img src="style/images/footerDia.jpg" style="width: 58px; height: 58px; margin-top: -10px; margin-bottom: 3px" class=" iconic-md iconic-three" />
			<span>一份免费的账目</span>
	</div>
	</div>
  <form id="modular__signup_form" class="cta-signup-footer__form signup-form js-form-show-mobile" data-validate="parsley">
    <div class="cta-signup-footer__form__field cta-signup-footer__form--email">
      <label class="js-account-form-email"> <img data-state="closed" src="style/image/envelope.png" class="iconic iconic-sm  email-icon" />
       <input id="modular__signup_email" class="js-signup-email" name="email" type="text" placeholder="邮箱" data-trigger="change" data-required="true" data-type="email"style="border-bottom:1px solid #FFF"/> </label>
    </div>
    <div class="cta-signup-footer__form__field cta-signup-footer__form__form__field--password">
      <div id="show-password" class="cta-signup-footer__form__field__show js-toggle-password" style="border-bottom:1px solid #FFF">
        <img src="style/image/eye.png" class="iconic iconic-sm " />
        <span id="password-status"=>显示</span>
      </div>
      <label class="js-account-form-password"> <img data-state="locked" src="style/image/lock.png" class="iconic iconic-sm " />
      <input id="modular__signup_password" class="js-signup-password password_masked" name="password" type="password" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" style="border-bottom:1px solid #FFF"/> </label>
    </div>
    <div class="cta-signup-footer__form__submit">
      <input type="button" class="js-signup-submit-new js-account-button" id="signup-btn-bottom" value="注册"/>
    </div>
    <div class="clear" style="clear: both;"></div>
  </form>
<div id="signup-error-msg-btn" style="text-align:center;"></div>  
</div>
<div class="signup-error">
  <div class="signup-error__window">
    <div class="signup-error__container">
      <div class="js-signup-error-close signup-error__close">
        <img src="style/images/circle-x.svg" class="iconic iconic-md" />
      </div>
      <span class="signup-error__title">Oh no! We couldn't sign you up.</span>
      <p>There's an error on our side.  <a href="javascript:;">Contact us</a> and we'll help you as soon as possible.</p>
    </div>
  </div>
</div>
<footer class="footer-new">
	<div  class="new-home__logos__border">
  <div class="new-home__logos">
    <div class="new-home__logos__container">
      <img class="new-home__logos__logo" src="style/images/new-york-times.svg" />
      <img class="new-home__logos__logo" src="style/images/forbes.svg" />
      <img class="new-home__logos__logo" src="style/images/techcrunch.svg" />
      <img class="new-home__logos__logo" src="style/images/next-web.svg" style="height: 30px" />
      <img class="new-home__logos__logo" src="style/images/globe-and-mail.svg" />
    </div>
  </div>
</div>
	<div id="screen-contact" class="screen" ng-hide="hideContactScreen">
			<span class="left">
				<h3>上海元升财务咨询有限公司</h3>
			</span><span class="right">
				<span class="col"><i class="glyphicon glyphicon-home"></i>
					<div class="feature-info">
							中国上海市杨浦区
					</div>
				</span><span class="col"><i class="glyphicon glyphicon-phone"></i>
					<div class="feature-info">
							4000-866-018
					</div>
				</span><span class="col"><i class="glyphicon glyphicon-envelope"></i>
					<div class="feature-info">
							info@bangbangzhang.com
					</div>
				</span>
			</span>
		</div>

	<div class="footer-new__under">
		<div class="row">
			<div class="large-12 columns">
				<div class="footer-new__copyright">
                  <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
				</div>
			</div>
		</div>
	</div>
</footer>

</body>
	<script type="text/javascript" src="../../js/webjs/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">var mainapp_offline=false;</script>
    <script>
    
    function signUp(email, pwd, errorMsgObj){
   	 
   	 var type = 2;

   		$.ajax({
   			url : '/checkUserRegister',
   			type : "POST",
   			data : {
   				userId : email,
   				userPwd : pwd,
   				userTypeId : type
   			},
   			cache : false,
   			success : function(data) {
   				if(data.error_code == '-1') {
   					errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
   				} else if(data.error_code == '0') {
   					if(type == 2) {
   						errorMsgObj.hide();
   						window.location.href = "/views/frontviews/signup-steps.html";
   					} else if(type == 1) {
   						errorMsgObj.html("<p style='color: #419088;'>注册成功！3秒后系统将自动转向登陆界面......</p>");
   						setTimeout(function(){$location.path('/signin');$scope.$apply();errorMsgObj.hide();}, 3000);
   					}
   				} else {
   					errorMsgObj.html("<p style='color: #FD7A50;'>" + data.error_message + "</p>");
   					errorMsgObj.show();
   				}
   			},
   			error : function() {
   				errorMsgObj.html("<p style='color: #FD7A50;'>服务器暂时不可用，请稍后重试！</p>");
   			}
   		});
   	 
    } 
    $(".js-mobile-navigation").click(function() {
        var t = $(".header-mobile-new");
        t.toggleClass("menu-open");
    });

    $(window).scroll(function(){
    	if ($(window).scrollTop() > 0) {
    		$("#index-header").addClass("header-white");
    		$(".logo").each(function(){
    			$(this).attr("src", "style/image/logo-black1.png");
    			
    		});
    		$("#index-header > nav > ul > li > a").each(function(){
    			$(this).css("color", "black");
    		});
    		
    	}
    	else{
    		$("#index-header").removeClass("header-white");
    		$(".logo").each(function(){
    			$(this).attr("src", "style/image/logo-white1.png");
    		});
    		$("#index-header > nav > ul > li > a").each(function(){
    			$(this).css("color", "white");
    		});
    	}
    	
    });
    
    $("#mobile-signup-btn").click(function(){
    	var email = $("#mobile-modular__signup_email").val();
  	  var pwd = $("#mobile-modular__signup_password").val();
  	  var errorMsgObj = $("#mobile-signup-error-msg-btn");
  	  var valid = false;
  	  valid = checkInput($("#mobile-modular__signup_email"), $("#mobile-modular__signup_email"), errorMsgObj);
  	  if(valid){
  		  signUp(email, pwd, errorMsgObj);
  	  }
    });
    
    $("#signup-btn-bottom").click(function(){

    	var email = $("#modular__signup_email").val();
    	  var pwd = $("#modular__signup_password").val();
    	  var errorMsgObj = $("#signup-error-msg-btn");
    	  var valid = false;
    	  valid = checkInput($("#modular__signup_email"), $("#modular__signup_email"), errorMsgObj);
    	  if(valid){
    		  signUp(email, pwd, errorMsgObj);    
    	  }
    	
    });
    function isEmail(email) {
        var result = email
                        .match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/);
        if (result == null)
                return false;
        return true;
  }
    
    
	function checkInput(emailObj, pwdObj, errorMsgObj) {
		var userEmail = emailObj.val();
		var userPwd = pwdObj.val(); 

		if(userEmail == null||userEmail == "" ) {

			errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
			return false;
		}else if (!isEmail(userEmail)){
			
			errorMsgObj.html("<p style='color: #FD7A50;'>邮箱格式错误！</p>");
			return false;
		}
		else {
			errorMsgObj.html("");
		}

		if(userPwd == null || userPwd == '') {
			errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
			return false;
		} else {
			errorMsgObj.html("");
		}
		return true
	}
	
	$("#show-password").click(function(){
		var pwdObj = $("#modular__signup_password");
		var pwd = pwdObj.val();

		if(pwdObj.attr("type") == 'text') {
			$("#password-status").html("显示");
			pwdObj = $("#modular__signup_password");
			
		    $('<input id="modular__signup_password" class="js-signup-password password_masked" name="password" type="password" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" style="border-bottom:1px solid #FFF;" />').val(pwd).insertBefore(pwdObj);
		    pwdObj.remove();

		}
		else {
		    $('<input id="modular__signup_password" class="js-signup-password password_masked" name="password" type="text" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" style="border-bottom:1px solid #FFF;" />').val(pwd).insertBefore(pwdObj);
		    pwdObj.remove();
		    $("#password-status").html("隐藏");
			
		}
		
	});
    </script>

  </body>
</html>
