<div class="home-page"  yw-home>
	<div id="screen-signup" ng-include="'/frontpage/sign-up-screen.html'" class="screen" onload="signupScreenReady.resolve()"></div>
	<div id="screen-intro" ng-include="'/frontpage/intro-screen.html'" class="screen" onload="introScreenReady.resolve()"></div>
	<div id="screen-what" ng-include="'/frontpage/what-screen.html'" class="screen" onload="whatScreenReady.resolve()"></div>
	<div id="screen-comments" ng-include="'/frontpage/comments-screen.html'" class="screen" onload="commentsScreenReady.resolve()"></div>
	<div id="screen-signup2" ng-include="'/frontpage/sign-up2-screen.html'" class="screen" onload="signup2ScreenReady.resolve()"></div>
	<div class="new-home__logos__border" style="margin-top:40px;">
		    <div class="new-home__logos">
		      <div class="new-home__logos__container">
		        <img class="new-home__logos__logo" src="/img/webimg/new-york-times.svg" style="height: 26px; margin-top: 4px">
		        <img class="new-home__logos__logo" src="/img/webimg/forbes.svg">
		        <img class="new-home__logos__logo" src="/img/webimg/techcrunch.svg">
		        <img class="new-home__logos__logo" src="/img/webimg/next-web.svg" style="height: 30px">
		        <img class="new-home__logos__logo" src="/img/webimg/globe-and-mail.svg">
		      </div>
			</div>
		</div>
		<hr>
</div>