<div class="content">
	<h1>通过帮帮账</h1>
	<br/>
	<br/>
	<p>
	您可以获得专业的线上会计和税务人员为您准备财务和税务报表，您可以通过简洁易用的软件直接审阅报表。
	</p>
	<div class="background"></div>
	<div class="timeline-section" style='margin-top:70px;'>
		<div class="timeline">
			<div class="anim-timeline"></div>
			<div class="line-dot" style="left:0"></div>
			<div class="line-dot" style="left:33%"></div>
			<div class="line-dot" style="left:67%"></div>
			<div class="line-dot" style="left:100%"></div>
		</div>
		
	</div>
	<div class="steps">
		<div class="step">
			<h4><i class="glyphicon glyphicon-heart-empty"></i>免费试用</h4>
			<br/>
			<p style="font-size:14px;margin-top:-10px;">免费试用一个月，您无需承担任何风险。我们的服务将向您证明帮帮账是您的最优选择。</p>
		</div><div class="step">
			<h4><i class="glyphicon glyphicon-user"></i>专属人员</h4>
			<br/>
			<p style="font-size:14px;margin-top:-10px;">将有您的专属财税人员深入了解您的业务、及时解决您的疑问，为您记账和报税。</p>
		</div><div class="step">
			<h4><i  class="glyphicon glyphicon-refresh"></i>操作简便</h4>
			<br/>
			<p style="font-size:14px;margin-top:-10px;">员工通过微信平台手机拍照上传发票报销，企业主通过我们的网站微信端审批，搞定财税就是那么简单。</p>
		</div><div class="step">
			<h4><i  class="glyphicon glyphicon-saved"></i>为您解忧</h4>
			<br/>
			<p style="font-size:14px;margin-top:-10px;">不用再为财税烦恼，我们将保证您获得及时准确的财务报表，做好纳税申报。</p>
		</div>
	</div>
</div>
