<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh_cn" lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="style/css/screen.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link rel="shortcut icon" href="style/favicon.ico">
	  <script type="text/javascript" src="../../js/webjs/jquery-1.8.1.min.js"></script>
	<style>
	#account-register{
		display: inline-block !important;
    	outline: 0 !important;
    	padding: 1em 2.5em !important;
    	text-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    	border-bottom: 2px solid #a4523c !important;
    	font-weight: 600 !important;
    	background-color: #f16549 !important;
    	background-image: linear-gradient(to bottom,rgba(255,255,255,.075) 0,rgba(0,0,0,.075) 100%) !important;
    	color: #FFF !important;
    	width: 100% !important;
    	border-radius: 4px !important;
    	background-clip: padding-box !important;
    	transition: .2s all ease !important;
    	font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    	border: 0 !important;
    	font-size: 16px !important;
    	cursor: pointer !important;
    	align-items: flex-start !important;
    	text-align: center !important;
    	margin: 0em !important;
	}
	
	#mobile-signup-btn {
			display: inline-block !important;
    	outline: 0 !important;
    	padding: 1em 2.5em !important;
    	text-shadow: 0 1px 1px rgba(0,0,0,.2) !important;
    	border-bottom: 2px solid #a4523c !important;
    	font-weight: 600 !important;
    	background-color: #f16549 !important;
    	background-image: linear-gradient(to bottom,rgba(255,255,255,.075) 0,rgba(0,0,0,.075) 100%) !important;
    	color: #FFF !important;
    	width: 100% !important;
    	border-radius: 4px !important;
    	background-clip: padding-box !important;
    	transition: .2s all ease !important;
    	font-family: LLCircularWeb,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    	border: 0 !important;
    	font-size: 16px !important;
    	cursor: pointer !important;
    	align-items: flex-start !important;
    	text-align: center !important;
    	margin: 0em !important;
	}
	</style>
    <title>帮帮账</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?854ba56143ecfad6d4dafde971f96770";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
  <body >
    <body class="signup-new">
  <div class="signup-new__main">
    <div class="signup-new__main__questions js-signup-questions">
      <h2>问题？我们在这里提供帮助。</h2>
      <p>还没有准备好签约吗？我们有一个伟大的团队的记账顾问准备回答任何有关工作的问题，在一般的工作台或记帐。</p>
      <p><strong>我们的时间是早上6点到晚上6点</strong></p>
      <div>
        <a href="javascript:;" class="signup-new__main__questions__chat">实时聊天</a>
        <div class="signup-new__main__questions__call">
          <span class="signup-new__main__questions__call__small">或打电话</span>
          <span class="signup-new__main__questions__call__number">4000-866-018</span>
        </div>
      </div>
      <div class="signup-new__main__questions__back js-questions-back-button">&larr; 注册</div>
    </div>
    <div class="signup-new__main__form js-signup-container">
      <a href="javascript:;">
</a>
      <h2>元升专业服务</h2>
        <p>尊敬的各位财税人才，感谢您注册元升旗下的帮帮账。请在注册后完善您的资料，我们将为您尽快匹配合适的客户，并提供高效的财务工具。</p>
<div id="account-form_container" class=" hide-for-small signup-form_container ">
	<div id="home-introduction">
	</div>
		<h2></h2>
  	<form id="account-form_form" class="account-form signup-form js-form-show-mobile" data-validate="parsley" >
		<div class="account-form__field account-form--email">
			<label class="js-account-form-email">
			<img data-state="closed" src="style/image/shuxin.png"  style="height:20px; width:20px;" class="iconic iconic-sm  email-icon" />
			<input id="account-form_email" class="js-signup-email" name="email" type="text" placeholder="邮箱" data-trigger="change" data-required="true" data-type="email"    />
			</label>
		</div>
		<div class="account-form__field account-form__form__field--password">
			<div id="js-toggle-password" class="account-form__field__show js-toggle-password">
				<img src="style/image/eye.png"  style="height:20px; width:20px;" class="iconic iconic-sm " />
				<span id="password-status">显示</span>
			</div>

			<label class="js-account-form-password">
				<img data-state="locked" src="style/image/as (5).png" style="height:20px; width:20px;" class="iconic iconic-sm " />
				<input class="password_visible" name="show-password" type="text" placeholder="密码" style="display: none" />
				<input id="account-form_password" class="js-signup-password password_masked" name="password" type="password" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" />
			</label>
		</div>
    	<div class="account-form__buttons">
    		<div class="account-form__buttons__button account-form__buttons__button--left">
    			<input id="account-register" type="button" class="js-signup-submit-new js-account-button" value="注册" />
    		</div>
    		<div class="account-form__buttons__button account-form__buttons__button--right">
    			<div class="account-form__buttons__button__questions js-questions-button">
    				<span>问题</span>
    				<span class="account-form__buttons__button__questions__circle">
    					<img src="style/images/question-mark.svg" class="iconic iconic-sm" />
    				</span>
    			</div>
    			<div class="account-form__buttons__button__forgot js-forgot-button">
    				<span>忘记密码?</span>
    			</div>
    			<div class="account-form__buttons__button__forgot js-forgot-back-button">
    				<span>返回登录</span>
    			</div>
    		</div>
    	</div>
    	<div class="clear" style="clear: both;"></div>
    </form>
    <div id="account-reg-error-msg"></div>
</div>
<div id="account-form_container" class=" hide-for-small-and-up signup-form_container ">
	<div id="home-introduction">
	</div>
  	<form id="account-form_form" class="account-form signup-form js-form-show-mobile" data-validate="parsley" >

		<div class="account-form__field account-form--email">
			<label class="js-account-form-email">
			<img data-state="closed" src="style/image/envelope.png" style="height:20px; width:20px;" class="iconic iconic-sm  email-icon" />
			<input id="mobile-account-form_email" class="js-signup-email" name="email" type="text" placeholder="邮箱" data-trigger="change" data-required="true" data-type="email" />
			</label>
		</div>
		<div class="account-form__field account-form--password">
			<label class="js-account-form-password">
			<img data-state="closed" src="style/image/lock.png" style="height:20px; width:20px;" class="iconic iconic-sm  password-icon" />
			<input id="mobile-account-form_password" class="js-signup-password" name="password" type="password" placeholder="密码" data-type="password" data-required="true" data-error-message="请输入您的密码。" data-trigger="change"/>
			</label>
		</div>
    	<div class="account-form__buttons">
    		<div class="account-form__buttons__button account-form__buttons__button--left">
    			<input id="mobile-signup-btn" type="button" class="js-signup-submit-phone js-account-button" value="注册"/>
    		</div>
    		<div class="account-form__buttons__button account-form__buttons__button--right">
    			<div class="account-form__buttons__button__questions js-questions-button">
    				<span>问题</span>
    				<span class="account-form__buttons__button__questions__circle">
    					<img src="style/images/question-mark.svg" class="iconic iconic-sm" />
    				</span>
    			</div>
    			<div class="account-form__buttons__button__forgot js-forgot-button">
    				<span>忘记密码?</span>
    			</div>
    			<div class="account-form__buttons__button__forgot js-forgot-back-button">
    				<span>返回登录</span>
    			</div>
    		</div>
    	</div>
    	<div class="clear" style="clear: both;"></div>
    </form>
    <div id="mobile-error-message"></div>
</div>
    </div>
    <div class="signup-new__main__overlay"></div>
  </div>

  
  <div class="signup-new__footer">
</a>
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED</p>
  </div>
</body>
    <script type="text/javascript">var mainapp_offline=false;</script>
	<script type="text/javascript">
	$("#account-register").click(function(){
	var userEmail = $('#account-form_email').val();
	var userPwd = $('#account-form_password').val();
	var errorMsgObj = $("#account-reg-error-msg");
	var valid = false;
	valid = checkInput($('#account-form_email'),$('#account-form_password'), errorMsgObj);
	if (valid){
		signUp(userEmail, userPwd, errorMsgObj);
	
		errorMsgObj.html("<p style='color: white;'>正在向服务器提交您的信息，请稍后......</p>");
		errorMsgObj.show();
	}
	
	});
	
	$("#mobile-signup-btn").click(function(){
		var userEmail = $('#mobile-account-form_email').val();
		var userPwd = $('#mobile-account-form_password').val();
		var errorMsgObj = $("#mobile-error-message");
		var valid = false;
		valid = checkInput($('#mobile-account-form_email'),$('#mobile-account-form_password'), errorMsgObj);
		if(valid){	
			signUp(userEmail, userPwd, errorMsgObj);
		
			errorMsgObj.html("<p style='color: white;'>正在向服务器提交您的信息，请稍后......</p>");
			errorMsgObj.show();		
		}
	});
	
	
	 function signUp(userEmail, userPwd, errorMsgObj){
	type = 1
	 
	$.ajax({
		url : '/checkUserRegister',
		type : "POST",
		data : {
			userId : userEmail,
			userPwd : userPwd,
			userTypeId : type
		},
		cache : false,
		success : function(data) {

			if(data.error_code == '-1') {
				errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
			} else if(data.error_code == '0') {
				if(type == 2) {
					errorMsgObj.hide();

					
				} else if(type == 1) {
					errorMsgObj.html("<p style='color: #419088;'>注册成功！3秒后系统将自动转向登陆界面......</p>");
					setTimeout(function(){window.location.href="/views/frontviews/Login.html";errorMsgObj.hide();}, 3000);
				}
			} else {
				errorMsgObj.html("<p style='color: #FD7A50;'>" + data.error_message + "</p>");
			}
		},
		error : function() {
			errorMsgObj.html("<p style='color: #FD7A50;'>服务器暂时不可用，请稍后重试！</p>");
		}
	});
	}
	
	function isEmail(email) {
	      var result = email
	                      .match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/);
	      if (result == null)
	              return false;
	      return true;
	}
	  
	function checkInput(emailObj, pwdObj, errorMsgObj) {
		var userEmail = emailObj.val();
		var userPwd = pwdObj.val(); 

		if(userEmail == null||userEmail == "" ) {

			errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
			return false;
		}else if (!isEmail(userEmail)){
			
			errorMsgObj.html("<p style='color: #FD7A50;'>邮箱格式错误！</p>");
			return false;
		}
		else {
			errorMsgObj.html("");
		}

		if(userPwd == null || userPwd == '') {
			errorMsgObj.html("<p style='color: #FD7A50;'>用户名或密码不能为空！</p>");
			return false;
		} else {
			errorMsgObj.html("");
		}
		return true
	}
		//checkInput();

		$("#js-toggle-password").click(function(){

			var pwdObj = $("#account-form_password");
			
			var pwd = pwdObj.val();
			if(pwdObj.attr("type") == 'text') {

				$("#password-status").html("显示");
				pwdObj = $("#account-form_password");
			    $('<input id="account-form_password" class="js-signup-password password_masked" name="password" type="password" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" />').val(pwd).insertBefore(pwdObj);
			    pwdObj.remove();

			}
			else {
			    $('<input id="account-form_password" class="js-signup-password password_masked" name="password" type="text" placeholder="密码" data-required="true" data-trigger="keyup" data-error-message="请输入密码。" />').val(pwd).insertBefore(pwdObj);
			    pwdObj.remove();
			    $("#password-status").html("隐藏");
				
			}
			
		});
	    var t = !1;
	    
	    $(".js-questions-button").click(function(){
	    	$(".js-signup-container").animate({opacity: 0},1500);
	    	$(".js-signup-questions").animate({opacity: 1},1500);
	    	$(".js-signup-container").css("display", "none");
	    	$(".js-signup-questions").css("display", "block");
	    });

	    $(".js-questions-back-button").click(function(){
	    	$(".js-signup-questions").animate({opacity: 0},1500);
	    	$(".js-signup-container").animate({opacity: 1},1500);
	    	$(".js-signup-questions").css("display", "none");
	    	$(".js-signup-container").css("display", "block");
	    });
		</script>
  </body>
</html>
