
<div class="content">
	<h1>{{t.serviceSlogon}}</h1>
	
	<p>
	<div ng-repeat="line in t.serviceBrief" class="desc">
		{{line}}
	</div>
	</p>
	<div id="signup-error-msg"></div>
</div>

<div class="play-btn hide-for-small js-module-video-play">
	<div class="play-btn-arrow" id="play-btn-arrow"></div>
</div>

<form class="signup-form" name="signupForm">
	<div class="field">
		<i class="glyphicon glyphicon-envelope"></i>
		<input autocomplete="off" id="sign-up-screen-email" type="text" name="email" placeholder="邮箱" ng-pattern="emailFormat"/>
		<div class="validation-msg yw-animation" id="sign-up-screen-email-error" style="display:none;">请输入有效的邮箱地址</div>
	</div><div class="field">
		<i class="glyphicon glyphicon-lock"></i>
		<input autocomplete="off" id="sign-up-screen-pwd" type="password" name="password" placeholder="密码" yw-password/>
		<div class="validation-msg yw-animation" id="sign-up-screen-pwd-error" style="display:none;">请输入您的密码</div>
	</div><button yw-button id="sign-up-btn" ng-click="companySignup()"><span>企业用户注册</span></button>
</form>
<div class="linechart" yw-chart-anim>
	<svg id="SvgjsSvg1000" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1340" height="250" xmlns:xlink="http://www.w3.org/1999/xlink">
		<polygon id="chart-polygon" points="-150,213 150,209 450,130 750,129 1050,65 1350,43 1650,15 1950,250 -150,250" fill="url(#SvgjsLinearGradient1006)" stroke="none">
		</polygon>
		<polyline id="SvgjsPolyline1010" points="-150,213 150,209 450,130 750,129 1050,65 1350,43 1650,15" fill="none" stroke="#e57958" stroke-width="2">
		</polyline>
		<ellipse class="ellipse" rx="8" ry="8" cx="-150" cy="213" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="150" cy="209" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="450" cy="130" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="750" cy="129" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1050" cy="65" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1350" cy="43" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<ellipse class="ellipse" rx="8" ry="8" cx="1650" cy="15" fill="#f6f6f6" stroke="#e57958" stroke-width="2"></ellipse>
		<defs id="SvgjsDefs1001">
			<linearGradient id="SvgjsLinearGradient1006" x1="0" y1="0" x2="0" y2="1">
				<stop id="SvgjsStop1007" stop-opacity="0.5" stop-color="#f6f6f6" offset="0"></stop>
				<stop id="SvgjsStop1008" stop-opacity="1" stop-color="#f6f6f6" offset="1"></stop>
			</linearGradient>
		</defs>
	</svg>
</div>
<div class="background"></div>

<div id="contentVideo" style="display:none;">
<div class="embed-responsive embed-responsive-16by9">
	<object id="ckplayer_a1" name="ckplayer_a1" menu="false" width="512" height="288" type="application/x-shockwave-flash" data="http://www.adbug.cn/public/themes/adbug/js/ckplayer.swf"><param name="bgcolor" value="#FFF"><param name="wmode" value="opaque"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="flashvars" value="f=http://file.adbug.cn/datasync/tudou/HG_2015_06_09_19_54_06.flv?=1&amp;c=0"></object>
</div>
</div>

<script src="/js/webjs/sea.js"></script>
<script src="/js/webjs/config.js"></script>
<script src="/js/webjs/overlay-min.js"></script>
<script src="/js/webjs/common.js"></script>
<script type="text/javascript">
	/* BUI.use('bui/overlay',function(Overlay){
	    var dialog = new Overlay.Dialog({
	        width:960,
	        height:540,
	        elCls : 'custom-dialog',
	        contentId:'contentVideo',
	        buttons : [],
	        success:function () {
                this.close();
            }
	    });
	    $('#play-btn-arrow').on('click',function () {
	        dialog.show();
	    });
	}); */
	
	$('#play-btn-arrow').on('click',function () {
		alert("");
        $('#contentVideo').show();
    });

	function checkInput() {
		$("#sign-up-screen-email").on('input',function(e){
			$("#signup-error-msg").hide();
			var email = $("#sign-up-screen-email").val();
			if(email == null || !isEmail(email)) {
				$("#sign-up-screen-email-error").show();
			} else {
				$("#sign-up-screen-email-error").hide();
			}
		}); 
		$("#sign-up-screen-pwd").on('input',function(e){
			$("#signup-error-msg").hide();
			var pwd = $("#sign-up-screen-pwd").val();
			if(pwd == null || pwd == '') {
				$("#sign-up-screen-pwd-error").show();
			} else {
				$("#sign-up-screen-pwd-error").hide();
			}
		});
	}
	checkInput();
	
</script>
