body,html{ height: 100%;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
.wrap{ min-width: 1020px; padding-left: 220px; height: 100%;}
/*侧栏*/
.side-bar{ background: #35383b; width: 220px; height: 100%; position: fixed; top: 0; left: 0; z-index: 9;}
.side-bar-top{ position: absolute; width: 220px; height: 130px; background: #2e3236; border-bottom: 1px solid #363b40; top: 0; left: 0; text-align: center;}
.side-bar-top img{ margin-top: 20px;}
.side-bar-top h1{ font-size: 15px; color: #fff; padding: 5px 0 20px;}
.side-bar-bottom{ position: absolute; width: 220px; height: 100px; background: #303438; bottom: 0; left: 0; border-top: 1px solid #363b40;}
.side-bar-bottom li{ height: 30px; position: relative; border-top: 1px solid #383d42; line-height: 30px; padding: 10px 0 10px 45px;}
.side-bar-bottom li:first-child{ border-top: 0;}
.side-bar-bottom i{ width: 18px; height: 18px; position: absolute; left: 20px; top: 16px; background: url(../../img/webimg/icon-bg.png) no-repeat; display: block;}
.side-bar-bottom a{ color: #ccc; display: block;}
.side-bar-bottom i.setting{ background-position: 0 -55px;}
.side-bar-bottom i.exit{ background-position: 0 -36px;}
.side-bar-content{ position: relative;  top: 121px; overflow-y: auto; overflow-x: hidden;}
/*正文*/
.main{ padding: 20px 20px 0; /*height: 96%;*/ position: relative;}
.menu,.layer-wrap-menu{ border-bottom: 2px solid #e6e6e6; position: relative; height: 30px; margin-top: -8px;}
.menu a,.layer-wrap-menu a{ border-bottom: 2px solid #e6e6e6; position: relative; line-height: 20px; height: 20px; font-size: 14px; padding: 0 20px 10px; margin-right: 10px; color: #4d4d4d; overflow: hidden;}
.menu a:hover,.layer-wrap-menu a:hover{ border-color: #5da09a; color: #5da09a;}
.menu a.active,.layer-wrap-menu a.active{ border-color: #5da09a; color: #5da09a; font-weight: bold;}

.waiting-submit{ padding-left: 70px; position: relative;}
.waiting-submit label{ position: absolute; left: 0;}
.waiting-submit ul{ position: relative; top: -5px;}
.waiting-submit li{ float: left; width: 11.5789%; position: relative; padding: 5px 0;}
.waiting-submit li input{ position: relative; top: 2px;}
/*弹层选项卡*/
.layer-tabs{ width: 720px; height: 480px; position: relative;}
.layer-tabs .tabs-menu{ width: 120px; float: left; position: relative; height: 100%; background: #35383b;}
.layer-tabs .tabs-menu li{}
.layer-tabs .tabs-menu i{ width: 20px; height: 20px; position: absolute; top: 10px;left: 50%; margin-left: -10%;}
.layer-tabs .tabs-menu span{}
.layer-tabs .tabs-menu .bui-tab-item-text{ padding: 39px 0 10px; height: 20px; width: 120px;}
.layer-tabs .tabs-menu .button-tabs{ width: 120px; height: 410px;}
.layer-tabs .tabs-box{ padding: 20px; width: 560px; height: 440px; background: #fff; float: left;}

.layer-wrap-menu{ position: relative;}
.layer-wrap-menu{ border-bottom: 1px solid #e6e6e6; position: relative; height: 30px; margin-top: -8px;}
.layer-wrap-menu a{ border-bottom: 1px solid #e6e6e6; position: relative; line-height: 20px; height: 20px; font-size: 14px; padding: 0 20px 10px; margin-right: 10px; color: #4d4d4d; overflow: hidden;}
.layer-wrap-menu a:hover{ border-color: #5da09a; color: #5da09a;}
.layer-wrap-menu a.active{ border-color: #5da09a; color: #5da09a; font-weight: bold;}

.layer-wrap-content{ height: 355px; padding: 10px 0; overflow: auto; overflow-x: hidden;}
.layer-wrap-simple{}
.layer-wrap-simple .hd{ padding: 0 0 30px;}
.layer-wrap-simple .bd{ text-align: center;}
.layer-wrap-simple .bd p{ padding: 20px 0; font-size: 14px;}
.layer-wrap-simple .bd input{ width: 60%; height: 36px; line-height: 36px; border-radius: 3px; border: 1px solid #e6e6e6; padding: 5px 10px;}
.layer-wrap-simple .bd .button{ padding: 10px 60px;}
.layer-wrap-complex{}

.layer-wrap-footer{ position: absolute; width: 560px; bottom: 0; border-top: 1px solid #ddd; height: 44px; padding-top: 15px; text-align: right;}

.bui-menu-item-expanded { background: #ff0;}

/**/
.form-window{ width: 560px; height: 300px; border: 3px solid #bbe9c7; border-radius: 3px; padding: 50px 20px; text-align: center; background: rgba(255,255,255,1); margin: 0 auto; position: relative; top: 100px; }
.form-window .hd i{ width: 80px; height: 80px; border-radius: 40px; background: #ef6d44; text-align: center; font-size: 36px; line-height: 80px; overflow: hidden; color: #fff; display: block; margin: 0 auto;}
.form-window .bd{ padding: 20px 0 0;}
.form-window .bd h2{ font-size: 18px; line-height: 30px; color: #4d4d4d; padding: 10px 0;}
.form-window .bd p{ color: #808080; line-height: 24px; padding: 10px 0 20px;}
.form-window .bd a.button{ padding: 10px 50px; margin: 0 5px;}
.form-window-wrap a{ padding: 30px 0; border-radius: 3px; color: #4d4d4d; font-size: 18px; display: inline-block; width: 220px; margin: 20px;}
.form-error .bd h2{ color: #ef6d44;}

/*彩色背景*/
.green-bg{ background: rgba(140,220,120,0.8);}
.red-bg{ background: rgba(240,130,140,0.8);}
.yellow-bg{ background: rgba(240,240,140,0.8);}
.blue-bg{ background: rgba(120,170,220,0.8);}
.green-bg:hover{ background: rgba(140,220,120,1);}
.red-bg:hover{ background: rgba(240,130,140,1);}
.yellow-bg:hover{ background: rgba(240,240,140,1);}
.blue-bg:hover{ background: rgba(120,170,220,1);}
/*----收件箱----*/
.add-wrap{ text-align: center; position: relative; padding: 2px;}
.add-wrap a{ text-align: center; height: 60px; line-height: 60px; padding: 0; margin: 0; font-size: 14px; color: #4d4d4d;}
.add-wrap a i{ padding-right: 10px; color: #999;}
.add-wrap .textarea{ border: 0; width:auto; height: 60px; padding: 0; margin: 0; width: 100%;}
.add-wrap .button{ position: absolute; bottom: 10px; right: 10px;}
.add-content .hd{ padding: 10px 0 20px; text-align: center;}
.add-content .hd h2{ font-size: 14px; padding-top: 10px;}
/*组织架构*/
.framework{ border: 1px solid #ddd; border-radius: 3px;}
.framework td{ padding: 0;}
.framework table td .fk-content-info input{ padding: 5px 10px;}
.framework table td .fk-content-info select{ height: 30px;}
.fk-tree ul{ /*padding: 0 10px;*/}
.fk-tree h2{ border-bottom: 1px solid #e6e6e6; font-size: 14px; text-indent: 15px; padding: 10px 0; height: 24px;}
.fk-content-menu{ border-bottom: 1px solid #e6e6e6; padding: 10px 10px 10px 15px; font-size: 14px;}
.fk-content-info{ padding: 10px 0;}
.fk-content-info .row{ margin-left: 20px; padding: 5px 0;}
.fk-content{ padding: 21px 20px 0;}
.fk-content td{ padding: 5px;}
.highlight{ height: 15px; line-height: 15px; overflow: hidden; padding: 1px 5px; background: #d9534f; color: #fff; display: inline; margin-left: 10px; border-radius: 3px;}
.mtt5{ margin-top: -5px;}
/**/
.graphic-wrap{ padding: 0 20px;}
.graphic-wrap li{ margin: 20px 0; position: relative;}
.graphic-wrap i{ font-size: 30px; position: absolute; left: 30px; top: 25px;}
.graphic-wrap a{ color: #4d4d4d; display: inline-block; padding: 20px 60px; border-radius: 3px; background: none; transition: background 0.6s;}
/*动画背景*/
.zero-state { position: relative;/* height: 100%;*/ height: auto; padding: 0 50px 100px; background-color: #ffffff; background-image: url(../../img/webimg/zero-state-bg1.svg), url(../../img/webimg/zero-state-bg2.svg); background-size: 2000px 400px; background-position: 0px 40px, 0px 40px; background-repeat: repeat-x, repeat-x;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-animation: shapesBackground 50s infinite linear;
-moz-animation: shapesBackground 50s infinite linear;
-ms-animation: shapesBackground 50s infinite linear;
-o-animation: shapesBackground 50s infinite linear;
}
@-webkit-keyframes shapesBackground {
  0% {
    background-position: 0px 40px, 0px 40px;
  }
  100% {
    background-position: 2000px 40px, -2000px 40px;
  }
}
@-moz-keyframes shapesBackground {
  0% {
    background-position: 0px 40px, 0px 40px;
  }
  100% {
    background-position: 2000px 40px, -2000px 40px;
  }
}
@-ms-keyframes shapesBackground {
  0% {
    background-position: 0px 40px, 0px 40px;
  }
  100% {
    background-position: 2000px 40px, -2000px 40px;
  }
}
@-o-keyframes shapesBackground {
  0% {
    background-position: 0px 40px, 0px 40px;
  }
  100% {
    background-position: 2000px 40px, -2000px 40px;
  }
}
@keyframes shapesBackground {
  0% {
    background-position: 0px 40px, 0px 40px;
  }
  100% {
    background-position: 2000px 40px, -2000px 40px;
  }
}
/**/
@font-face {
  font-family: "iconfont";
  src: url('../../fonts/webfonts/iconfont.eot'); /* IE9*/
  src: url('../../fonts/webfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/webfonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../../fonts/webfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../../fonts/webfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*点将财会*/
.member-wrap{ padding: 20px 0; display: block;}
.member-wrap ul{ margin-left: -20px;}
.member-wrap li,.member{ float: left; display: inline-block; margin-left: 20px; position: relative;}
.member-wrap .member-photo,.member .member-photo{ overflow: hidden; border: 1px solid #ddd; padding: 4px; width: 200px; position: relative;}
.member-wrap .member-photo img,.member .member-photo img{ width: 200px; height: 200px;}
.member-wrap .member-text,.member .member-text { padding: 8px 0;}
.member-wrap .member-text p,.member .member-text p{ position: relative; margin: 0; padding: 2px 0 2px 70px;}
.member-wrap .member-text label,.member .member-text label{ width: 60px; position: absolute; left: 0; top: 3px;}
/*幻灯*/
#playBox{ width:940px; height:380px; margin: 0 auto; position:relative; overflow:hidden; border: 1px solid #e6e6e6;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left; width: 940px; height: 300px; padding: 20px 0;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../../img/webimg/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:9999999;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../../img/webimg/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:9999999;}
#playBox .smalltitle {width:1000px; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#e6e6e6; float:left; overflow:hidden;*display:inline;*zoom:1; cursor: pointer;}
#playBox .smalltitle .thistitle{ background:#5da09a;}
/*文字隐藏*/
.text-hide{ height: 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*模拟checkbox*/
.checkbox-con{ position: absolute; width: 200px; height: 200px; top: 0; right: 0; z-index: 99999;}
.checkbox-con .checkbox,.checkbox-con .cur{ width: 200px; height: 200px; display: block;}
.checkbox-con .checkbox i{ width: 40px; height: 40px; display: block; background: url(../../img/webimg/icon-bg.png) 0 -102px no-repeat;top: 10px; right: 10px; position: absolute;}
.checkbox-con .cur i{ background-position: 0 -142px;}
.checkbox-con .ipt-hide{position: absolute;width: 0;height: 0;border: none; top: -50px; right: 0;}
/*模拟表格样式*/
/*.th{ border-bottom: 1px solid #e6e6e6; padding: 5px;}
.td{ border-bottom: 1px solid #e6e6e6; background: #fff; padding: 5px;}
.td a{ margin-left: 10px;}
.td a:first-child{ margin-left: 0;}*/
.table .th,.table .td { padding: 10px 0; line-height: 20px; vertical-align: top; border-bottom: 1px solid #e5e5e5;}
.table .th a,.table .td a { margin-left: 10px;}
.table .th a:first-child,.table .td a:first-child { margin-left: 0;}
.table .th input,.table .td input,.table .th select,.table .td select{ padding: 1px 5px; width: 90%;}
.table .th textarea,.table .td textarea { padding: 1px 5px; width: 99%;}
.table .th select,.table .td select { height: 24px;}
.table .th textarea,.table .td textarea { height: 20px;}
.table .th { font-weight: bold; vertical-align: bottom; border-bottom: 2px solid #e5e5e5; background: #f5f5f5;}
/*表单布局*/
.control-btn .control-label{ min-height: 30px}
.control-btn .controls{ padding: 10px 0;}
/*上传控件*/
.file { position: relative; display: inline-block; background: #e5e5e5; border: 1px solid #ccc; border-radius: 3px; padding: 4px 12px; overflow: hidden; color: #4d4d4d; text-decoration: none; text-indent: 0; line-height: 20px; cursor: pointer;}
.file input { position: absolute; font-size: 100px; right: 0; top: 0; opacity: 0; cursor: pointer;}
.file:hover { background: #fff; border-color: #ccc; color: #4d4d4d; text-decoration: none; cursor: pointer;}
.file-green/*,.bui-uploader-button-text*/ { position: relative; display: inline-block; background: #7db3ae; border: 1px solid #6daaa4; border-radius: 3px; padding: 4px 12px; overflow: hidden; color: #fff; text-decoration: none; text-indent: 0; line-height: 20px; cursor: pointer;}
.file-green input { position: absolute; font-size: 100px; right: 0; top: 0; opacity: 0; cursor: pointer;}
.file-green:hover/*,.bui-uploader-button-text:hover*/ { background: #5da09a; border-color: #508984; color: #fff; text-decoration: none; cursor: pointer;}

.form-uploader{ padding: 10px 20px; height: 400px;}
.form-uploader .hd{ padding: 30px 0 0;}
.form-uploader .bd{ padding: 0 0 20px;}
.form-uploader .bd h2{ padding: 10px 0 0;}
.form-uploader .bd p{ padding: 5px 0;}
.form-uploader .input-normal{ width: 280px;}
.form-uploader .row{ padding-left: 30px;}

/*.uploader-wrap{ position: relative; margin-left: 70px; margin-top: 90px; text-align: left;}
.uploader-text{ position: absolute; width: 202px; height: 40px; line-height: 40px; text-align: center; z-index: 99; border: 1px solid #6daaa4; background: #7db3ae; font-size: 14px; color: #fff; border-radius: 3px;}
.defaultTheme{ position: absolute; left: 0; top: 0; width: 204px;}
.bui-uploader-button-wrap{ position: absolute; border-radius: 3px; z-index: 888;}
.bui-uploader-button-text{ display: none;}
.file-input-wrapper{ width: 204px; height: 42px; position: absolute; background: rgba(0,0,0,0.0001); z-index: 999; left: 0; top: 0; cursor: pointer;}
.file-input-wrapper:hover{ background: rgba(0,0,0,0.1);}
.uploader-wrap .button{ width: 204px; height: 40px; line-height: 42px; text-align: center; font-size: 14px; color: #fff; padding: 0; margin: 0 0 0 226px;}

.bui-queue{ position: absolute; left: 100px; top: -100px; height: 70px; overflow: auto; overflow-x: hidden; width: 280px; border: 1px solid #ccc;  border-radius: 3px; padding: 0 0 0 10px;}
.uploader-label{ position: absolute; top: -100px; left: 30px;}
.bui-queue .error{ width: 200px; height: 20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}*/

/*上传15-06-09*/
.uploader-wrap{ position: relative; margin-left: 70px; margin-top: 90px; text-align: left;}
.uploader-text{ position: absolute; width: 202px; height: 40px; line-height: 40px; text-align: center; z-index: 99; border: 1px solid #6daaa4; background: #7db3ae; font-size: 14px; color: #fff; border-radius: 3px;}
.defaultTheme{ position: absolute; left: 0; top: 0; width: 204px;}
.bui-uploader-button-wrap{ position: absolute; border-radius: 3px; z-index: 888;}
.bui-uploader-button-text{ display: none;}
.file-input-wrapper{ width: 204px; height: 42px; position: absolute; background: rgba(0,0,0,0.0001); z-index: 999; left: 0; top: 0; cursor: pointer;}
.file-input-wrapper:hover{ background: rgba(0,0,0,0.1);}
.uploader-wrap .button{ width: 204px; height: 40px; line-height: 42px; text-align: center; font-size: 14px; color: #fff; padding: 0; margin: 0 0 0 226px;}

.bui-queue{ position: absolute; left: 100px; top: -100px; height: 70px; overflow: auto; overflow-x: hidden; width: 300px; border: 1px solid #ccc;  border-radius: 3px; padding: 0 0 0 10px;}
.bui-queue .bui-queue-item{ height: 24px; line-height: 24px; clear: both;}
.bui-queue .bui-queue-item input,.bui-queue .bui-queue-item select{ height: 22px; line-height: 22px; padding: 0;}
.uploader-label{ position: absolute; top: -100px; left: 30px;}
.bui-queue .uploader-name{ width: 150px; height: 20px; margin-right: 10px; display: inline-block; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.bui-queue .error{}
/*.bui-queue li{ border-left: 1px solid #e6e6e6; width: 432px;}
.bui-queue li:first-child{ border-top: 1px solid #e6e6e6;}
.bui-queue li:last-child{ border-bottom: 1px solid #e6e6e6;}*/
/*图片浏览*/
.imgviewwrap{ position: relative;}
.controls-wrap{ position: absolute; left: 770px; top: 15px;}
.resume,.zoom,.micrify{ position: relative; line-height: 40px; height: 40px; cursor: pointer; border: 1px solid #ddd; background: #fafafa; display: block; margin-top: 10px; padding: 0 10px;}
.resume i,.zoom i,.micrify i{ font-size: 24px; top: 0; position: relative; left: 0; margin-right: 10px;}