<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>上海元升财务咨询有限公司</title>
<link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
<link rel="stylesheet" type="text/css" href="/css/webcss/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="/css/webcss/jquery.dataTables.min.css">

<style>
a:hover {
	cursor: pointer;
}
</style>
<style type="text/css">
a {
	text-decoration: none;
}

.table2 {
	border: #C8C8C8 solid;
	border-width: 1px 0px 0px 1px;
	background: #F3F0F0;
	margin-top: 25px;
}

.td0 {
	border: #C8C8C8 solid;
	border-width: 0 0 1px 0;
}

.td2 {
	border: #C8C8C8 solid;
	border-width: 0 1px 1px 0;
}

.barcon {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.barcon1 {
	font-size: 17px;
	float: left;
	margin-top: 20px;
}

.barcon2 {
	float: right;
}

.barcon2 ul {
	margin: 20px 0;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.barcon2 li {
	display: inline;
}

.barcon2 a {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	padding: 5px;
	padding-top: 0;
	color: black;
	border: 1px solid #ddd;
	background-color: #fff;
}

.barcon2 a:hover {
	background-color: #eee;
}

.ban {
	opacity: .4;
}
</style>
</head>

<body onload="goPage(1,20);">
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png">
				<h1>上海元升财务咨询有限公司</h1>
			</div>
			<div class="side-bar-content" id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i
							class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="menu">
				<a href="#" class="active">公司客户管理</a>
			</div>
			<table id="table_demo" class="table table-striped">
				<colgroup>
	    			<col style="width:20%;">
	    			<col style="width:8%;">
	    			<col style="width:8%;">
	    			<col style="width:8%;">
	    			<col style="width:10%;">
	    			<col style="width:10%;">
	    			<col style="width:15%;">
	    			<col style="width:15%;">
	    			<col style="width:8%;">
	    		</colgroup>
				<thead>
					<tr>
						<th>公司名称</th>
						<th>记账状况</th>
						<th>报税状况</th>
						<th>收费状况</th>
						<th>记账会计</th>
						<th>淘宝账号</th>
						<th>上传好评</th>
						<th>好评数量</th>
						<th>用户操作</th>
					</tr>
				</thead>
				<tbody id="adminTbody">
				</tbody>
				<tfoot>
					<tr>
						<th>公司名称</th>
						<th>记账状况</th>
						<th>报税状况</th>
						<th>收费状况</th>
						<th>记账会计</th>
						<th>淘宝账号</th>
						<th>上传好评</th>
						<th>好评数量</th>
						<th>用户操作</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div id="barcon" class="barcon">
			<div id="barcon1" class="barcon1"></div>
			<div id="barcon2" class="barcon2">
				<ul>
					<li><a href="###" id="firstPage">首页</a></li>
					<li><a href="###" id="prePage">上一页</a></li>
					<li><a href="###" id="nextPage">下一页</a></li>
					<li><a href="###" id="lastPage">尾页</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="mask" style="width:100vw;height:100vh; position: absolute; top:0px; left: 0px;z-index:-1;"></div>
	<div id="modifyPwd" style="display: none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width: 250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer">
					<a href="javascript:void(0);" id="modify_pwd_button"
						class="button button-success">确定修改</a>
				</div>
			</div>
		</div>
	</div>
	<div style="position: fixed; bottom: 0; right: 0;">
		<a target="_blank"
			href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img
			border="0"
			src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41"
			alt="点我联系我" title="点我联系我" /></a>
	</div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="/js/webjs/jquery-1.11.1.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script type="text/javascript"
		src="/js/webjs/datatable/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	$.ajaxSetup({
		  async: false
		  });
			BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay) {
				var modifyPwdForm = new Overlay.Dialog({
					title: '密码修改',
					width: 600,
					height: 280,
					contentId: 'modifyPwd',
					success: function() {
						this.close();
					},
					buttons: []
				});
				$('#setPwd').click(function() {
						modifyPwdForm.show();
				});
						
				$('#modify_pwd_button').click(function() {
					var oldPwd = $('#old_pwd').val();
					var newPwd = $('#new_pwd').val();
					var confirmNewPwd = $('#confirm_new_pwd').val();
					if(oldPwd == null || oldPwd == "") {
						BUI.Message.Alert('请输入旧密码！', 'warning');
						return;
					}
					if(newPwd == null || newPwd == "") {
						BUI.Message.Alert('请输新密码！', 'warning');
						return;
					}
					if(confirmNewPwd == null || confirmNewPwd == "") {
						BUI.Message.Alert('请输入新密码！', 'warning');
						return;
					}
					if(newPwd != confirmNewPwd) {
						BUI.Message.Alert('两次输入的新密码不一致，请检查！', 'warning');
						return;
					}
					$.ajax({
						url: '/modifyPassword',
						type: "POST",
						data: {
							oldPwd: oldPwd,
							newPwd: newPwd
						},
						success: function(data) {
							if(data.error_code == "0") {
								BUI.Message.Alert('修改密码成功！', 'success');
							} else {
								BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg, 'warning');
							}
						},
						error: function(data) {
							BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg, 'warning');
						}
					});
				});
				
				
				//
				$.post('/accounter/getCustomerManagementDetails', function(data) {
					for(var key in data) {
						var item = data[key];
						var tr = "<tr id='" + item.company_id + "'>"
								+ "<td>" + item.name + "</td>"
								+ "<td>" + item.create_time + "</td>"
								+ "<td>" + item.tax_status + "</td>"
								+ "<td>" + item.expired_time + "</td>"
								+ "<td>" + item.user_name + "</td>"
								+ "<td><input type='text' style='width:100%' value='" + item.taobao_accounter + "'/></td>"
								+ "<td><input type='file' style='width:90%'/></td>"
								+ "<td><span style='margin-right:10px'>" + item.comment_count + "次</span><select class='select' style='width:70%'><option value='1'>一个月内</option><option value='3'>三个月内</option><option value='6'>六个月内</option></select></td>"
								+ "<td><button class='submit'>提交</button></td>"
						$('#adminTbody').append(tr);
					}
				});
				
				$.ajax({
					url: '/accounter/accounterHasFinishRegister',
					type: "POST",
					data: {},
					success: function(data) {
						if(data != null && data.hasFinishRegister == 'false') {
							$('#currentTips').html('您还没有完成信息的详细注册，公司无法查看到您的信息，请先在完善注册信息菜单中完善您的个人信息！');
							$('#currentTips').show();
						} else {
							$.ajax({
								url: '/accounter/accounterHasBelongToCompany',
								type: "POST",
								data: {},
								success: function(data) {
									if(data != null && data.hasBind == 'false') {
										$('#currentTips').html('当前还没有任何公司选中您，因此没有相关数据可以查看！');
										$('#currentTips').show();
									} else {
										/* $.ajax({
											url : '/accounter/getAllCompanyExpense',
											type : "POST",
											data : {},
											success : function(data) {
												createDataList(data);
											}
										}); */
									}
								}
							});
						}
					}
				});
			});
			//侧栏高度
			(function() {
				var H = $(window).height();
				var h1 = $(".side-bar-top").height() + $(".side-bar-bottom").height();
				$(".side-bar-content").height(H - h1);
				$(window).resize(function() {
					H = $(window).height();
					$(".side-bar-content").height(H - h1);
				});
			})()
			//竖状菜单
			//竖状菜单
			var menu = new menuTree({
				"nodes": [{
					text: '完善注册信息',
					id: '20',
					href: "/views/webviews/accounter/finish_reg_info.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '公司费用信息',
					id: '10',
					href: "/views/webviews/accounter/company_expense_records.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '公司工资模板上传',
					id: '30',
					href: "/views/webviews/accounter/company_salary_template_upload.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '预约取发票方式查询',
					id: '40',
					href: "/views/webviews/accounter/take_bill_way.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '公司发票信息',
					id: '50',
					href: "/views/webviews/accounter/company_expense_account.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '销售记录',
					id: '60',
					href: "/views/salesviews/record.html",
					leaf: false,
					expanded: false,
					children: []
				}, {
					text: '客户管理',
					id: '70',
					href: "/views/webviews/accounter/company_customer_management.html",
					leaf: false,
					expanded: false,
					children: []
				}]
			}, "menuTree");
			defaultSelect("10");

			function defaultSelect(id) {
				$("#" + id).parent().addClass("bui-menu-item-selected")
			}
		</script>
		<script>
		$('#adminTbody').on('click', '.submit', function() {
			var company_id = $(this).parent().parent().attr('id');
			var file = $(this).parent().prev().prev().children()[0].files[0];
			var taobao_accounter =  $(this).parent().prev().prev().prev().children().val();
			if (file == null || file == undefined) {
				BUI.Message.Alert('文件列表为空，请检查！', 'warning');
			} 
			else {
				BUI.use([ 'bui/mask' ], function(Mask) {
					var loadMask = new Mask.LoadMask({
						el : '#mask',
						msg : 'loading ....'
					});
					$("#mask").css("z-index", 99);
					loadMask.show();
					var fm = new FormData();
				    fm.append('file', file);
				    fm.append('company_id', company_id);
				    fm.append('taobao_accounter', taobao_accounter);
				    $.ajax(
				        {
				            url: '/accounter/uploadCustomerSnapshot',
				            type: 'POST',
				            data: fm,
				            contentType: false, //禁止设置请求类型
				            processData: false, //禁止jquery对DAta数据的处理,默认会处理
				            success: function (result) {
				            	window.location.reload();
				                loadMask.hide();
				            },
				        	error: function() {
				        		loadMask.hide();
				        	}
				        }
				    );
				});
			}
		});
		</script>
		
	<script>  
	/** 
	 * 分页函数 
	 * pno--页数 
	 * psize--每页显示记录数 
	 * 分页部分是从真实数据行开始，因而存在加减某个常数，以确定真正的记录数 
	 * 纯js分页实质是数据行全部加载，通过是否显示属性完成分页功能 
	**/  
	  
	var pageSize=0;//每页显示行数  
	var currentPage_=1;//当前页全局变量，用于跳转时判断是否在相同页，在就不跳，否则跳转。  
	function goPage(pno,psize){  
	    var itable = document.getElementById("adminTbody");  
	    var num = itable.rows.length;//表格所有行数(所有记录数)  
	  
	    pageSize = psize;//每页显示行数  
	    //总共分几页   
	    if(num/pageSize > parseInt(num/pageSize)){     
	            totalPage=parseInt(num/pageSize)+1;     
	       }else{     
	           totalPage=parseInt(num/pageSize);     
	       }     
	    var currentPage = pno;//当前页数  
	    currentPage_=currentPage;  
	    var startRow = (currentPage - 1) * pageSize+1;   
	    var endRow = currentPage * pageSize;  
	        endRow = (endRow > num)? num : endRow;      
	       //遍历显示数据实现分页  
	    for(var i=1;i<(num+1);i++){      
	        var irow = itable.rows[i-1];  
	        if(i>=startRow && i<=endRow){  
	            irow.style.display = "";      
	        }else{  
	            irow.style.display = "none";  
	        }  
	    }  
	    var tempStr = "共"+num+"条记录 分"+totalPage+"页 当前第"+currentPage+"页";  
	     document.getElementById("barcon1").innerHTML = tempStr;  
	       
	    if(currentPage>1){  
	        $("#firstPage").on("click",function(){  
	            goPage(1,psize);  
	        }).removeClass("ban");  
	        $("#prePage").on("click",function(){  
	            goPage(currentPage-1,psize);  
	        }).removeClass("ban");     
	    }else{  
	        $("#firstPage").off("click").addClass("ban");  
	        $("#prePage").off("click").addClass("ban");    
	    }  
	  
	    if(currentPage<totalPage){  
	        $("#nextPage").on("click",function(){  
	            goPage(currentPage+1,psize);  
	        }).removeClass("ban")  
	        $("#lastPage").on("click",function(){  
	            goPage(totalPage,psize);  
	        }).removeClass("ban")  
	    }else{  
	        $("#nextPage").off("click").addClass("ban");  
	        $("#lastPage").off("click").addClass("ban");  
	    }     
	    var tempOption="";  
	    for(var i=1;i<=totalPage;i++)  
	    {  
	        tempOption+='<option value='+i+'>'+i+'</option>'  
	    }  
	    $("#jumpWhere").html(tempOption);  
	    $("#jumpWhere").val(currentPage);  
	}  
	  
	</script>
	<script>
		$('#adminTbody').on('change', '.select', function() {
			var count = $(this).prev();
			var company_id = $(this).parent().parent().attr('id');
			var month = $(this).val();
			$.post('/accounter/getCustomerTaoBaoCountByMonth', {
				company_id : company_id,
				search_type : month
			}, function(data) {
				count.html(data.count + '次');
			});
		});
	</script>
</body>

</html>