<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"  id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="zero-state">
				<div class="form-window">
					<div class="hd">
						<i class="iconfont">&#xe60b;</i>
					</div>
					<div class="bd">
						<h2>工资计算模板上传</h2>
						<p>
							请在这里上传公司工资计算模板
						</p>
                        <label for="" class="control-label">公司名称：</label>
                        <select name="companyName" id="companyName" class="input input-normal" style="width:300px;"></select>
                        <div style="text-align:left;margin-left:100px;margin-bottom:10px;margin-top:10px;">
                        	<label for="" class="control-label">文件路径：</label><span id="fileInfo" style="height: 50px;" class="text-primary"></span>
						</div>
						<form id="templateUpload" action="/accounter/uploadCompanySalaryTemplate" method="POST"	enctype="multipart/form-data">				
							<a href="javascript:;" class="file button button-success file-green">选择模板文件
								<input type="file" id="salaryFile" name="files">
								<input type="hidden" id="companyId" name="companyId">
							</a> 
							<a href="javascript:submitUpload();" class="button button-success">上传模板文件</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script src="/js/webjs/layout.js"></script>
	<script type="text/javascript">
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		var modifyPwdForm = new Overlay.Dialog({
            title:'密码修改',
            width:600,
            height:280,
            contentId:'modifyPwd',
            success:function () {
              	this.close();
            },
            buttons : []
        });
		$('#setPwd').click(function(){
			modifyPwdForm.show();
		})
		$('#modify_pwd_button').click(function(){
			var oldPwd = $('#old_pwd').val();
			var newPwd = $('#new_pwd').val();
			var confirmNewPwd = $('#confirm_new_pwd').val();
			if(oldPwd == null || oldPwd == "") {
				BUI.Message.Alert('请输入旧密码！','warning');
				return;
			}
			if(newPwd == null || newPwd == "") {
				BUI.Message.Alert('请输新密码！','warning');
				return;
			}
			if(confirmNewPwd == null || confirmNewPwd == "") {
				BUI.Message.Alert('请输入新密码！','warning');
				return;
			}
			if(newPwd != confirmNewPwd) {
				BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
				return;
			}
			$.ajax({
				url : '/modifyPassword',
				type : "POST",
				data : {oldPwd:oldPwd, newPwd:newPwd},
				success : function(data) {
					if(data.error_code == "0") {
						BUI.Message.Alert('修改密码成功！','success');
					} else {
						BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
					}
				},
				error : function(data) {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			});
		})
	})
	$.ajax({
		url : '/accounter/getAllAccounterCompany',
		type : "POST",
		data : {},
		success : function(data) {
			if(data == null || data == '') return;
			var options = '';
			for(var i=0; i<data.length; i++) {
				options += "<option value='"+data[i].companyId+"'>"+data[i].companyName+"</option>";
			}
			$('#companyName').html(options);
		}
	});
		function submitUpload() {
			var companyId = $('#companyName option:selected').val();
			if(companyId == null || companyId == "") {
				BUI.use(['bui/overlay'], function(Overlay){
					BUI.Message.Alert('请先选择公司名称，如果没有任何公司可选，说明当前您还没有被任何一家公司选为会计或您负责的公司尚没有设置工资相关参数！','warning');
				});
				return;
			}
			$('#companyId').val(companyId);
			if($('#salaryFile').val() == null || $('#salaryFile').val() == '') {
				BUI.use(['bui/overlay'], function(Overlay){
					BUI.Message.Alert('请先选择文件，再上传！','warning');
				});
			} else {
				$('#templateUpload').submit();
			}
		}
		$("#salaryFile").attr('onChange', $.browser.msie ? "$(this).data('onChange').apply(this)" : "")
		.change( function(){if(!$.browser.msie)$(this).data('onChange').apply(this)} )
		.data('onChange',function(){$("#fileInfo").html($("#salaryFile").val());});
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
		//竖状菜单
	   var menu = new menuTree(
            {"nodes" : [
					{text : '完善注册信息',id : '20',href:"/views/webviews/accounter/finish_reg_info.html",  leaf:false, expanded : false,children: []},
					{text : '公司费用信息',id : '10',href:"/views/webviews/accounter/company_expense_records.html", leaf:false, expanded : false,children: []},
					{text : '公司工资模板上传',id : '30',href:"/views/webviews/accounter/company_salary_template_upload.html", leaf:false, expanded : false,children: []},
					{text : '预约取发票方式查询',id : '40',href:"/views/webviews/accounter/take_bill_way.html", leaf:false, expanded : false,children: []},
					{text : '公司发票信息',id : '50',href:"/views/webviews/accounter/company_expense_account.html", leaf:false, expanded : false,children: []}
					]
            },"menuTree"
        );
	    defaultSelect("30");
	    function defaultSelect(id){ 
	        $("#"+id).parent().addClass("bui-menu-item-selected")
	    }
        //弹层
        BUI.use(['bui/overlay','bui/form'],function(Overlay,Form){
    
			var form = new Form.Form({
				srcNode : '#form'
			}).render();

			var dialog = new Overlay.Dialog({
				title:'标题',
				width:500,
				height:320,
				//配置DOM容器的编号
				contentId:'content',
				success:function () {
					alert('确认');
					this.close();
				}
			});
			//dialog.show();
 
	        $('#btnGroup .button').on('click',function () {
	          var sender = $(this),
	            type = sender.text(),
	            effect = {
	              effect : type,
	              duration : 400// 
	              //callback : function(){} ,callback 回调函数
	            };
	 
	          dialog.set('effect',effect);
	          dialog.show();
	 
	        });
	    });
	</script>
</body>
</html>