<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>上海元升财务咨询有限公司</title>
    <link rel="stylesheet" type="text/css" href="/css/webcss/bui.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/golbal.css">
	<link rel="stylesheet" type="text/css" href="/css/webcss/layout.css">
</head>
<body>
	<div class="wrap">
		<div class="side-bar">
			<div class="side-bar-top">
				<img src="/img/webimg/bss-logo.png" >
				<h1>上海元升财务咨询有限公司</h1>
			</div>
            <div class="side-bar-content"  id="menuTree"></div>
			<div class="side-bar-bottom">
				<ul>
					<li><a href="javascript:void(0);" id="setPwd"><i class="setting"></i>设置</a></li>
					<li><a href="/logout"><i class="exit"></i>安全退出</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="zero-state">
				<div class="form-window">
					<form name="accounterRegForm" id="accounterRegForm" action="/accounter/updateAccounterInfo" method="post" enctype="multipart/form-data">
					<div class="form-horizontal onlineTools" style="margin-top:-40px;">
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">您的姓名</label>
                            <div class="controls"><input type="text" id="userName" name="userName" class="input input-small"><a href="javascript:;" class="file button button-success" style="margin-left:10px;">选择头像文件<input type="file" id="files" name="files" class="ml10"></a></div>
						</div>
						
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">您的联系电话</label>
                            <div class="controls"><input type="text" id="userPhone" name="userPhone" class="input input-small" style="width:240px;"></div>
						</div>
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">选择工作年限</label>
                            <div class="controls"><select id="career" class="input input-normal" style="width:250px;"></select></div>
						</div>
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">选择工作行业</label>
                            <div class="controls" id="s2"><input id="industry_info" type="hidden" class="input input-normal" style="width:250px;"></div>
						</div>
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">选择工作证书</label>
                            <div class="controls" id="s1"><input id="certificate_info" type="hidden" class="input input-normal" style="width:250px;"></div>
						</div>
						<div class="row-fluid show-grid mt10">
							<label class="control-label control-label-small">选择工作地区</label>
                            <div class="controls"><select class="input input-mini" id="province" name="province" style="width:120px;"></select><select class="input input-mini ml10" id="city" name="city" style="width:120px;"></select><select class="input input-mini ml10" id="area" name="area" style="width:140px;"></select></div>
						</div>
						<div style="margin:20px;padding:0; width:500px;height:2px;background-color:#bbe9c7;overflow:hidden;"></div>  
						<div class="row-fluid show-grid mt10" style="margin-left:260px;margin-top:-10px;">
							<label class="control-label control-label-small">&nbsp;</label>
                            <div class="controls"><a class="button button-success" onclick="checkInput();">提交详细注册信息</a></div>
						</div>
					</div>
					<div style="z-index:9999999;"><img id="perPic" src="" style="width:150px;height:150px;float:right;margin-top:-350px;margin-right:10px;"></div>
					<input id="provinceName" name ="provinceName" type="hidden">
					<input id="cityName" name ="cityName" type="hidden">
					<input id="areaName" name ="areaName" type="hidden">
					<input id="industryName" name ="industryName" type="hidden">
					<input id="careerName" name ="careerName" type="hidden">
					<input id="certificateName" name ="certificateName" type="hidden">
					<input id="image" name ="image" type="hidden">
					<input id="industry" name ="industry" type="hidden">
					<input id="certificate" name ="certificate" type="hidden">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="modifyPwd" style="display:none;">
		<div id="form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label">输入旧密码：</label>
				<div class="controls">
					<input id="old_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">再次输入新密码：</label>
				<div class="controls control-row-auto">
					<input id="confirm_new_pwd" type="password" class="input-large"
						data-rules="{required : true}" style="width:250px;">
				</div>
			</div>
			<div class="control-group">
				<label id="modify_pwd_tips"></label>
			</div>
			<div class="control-group control-btn">
				<div class="layer-wrap-footer"><a href="javascript:void(0);" id="modify_pwd_button" class="button button-success">确定修改</a></div>
			</div>
		</div>
	</div>
	<div style="position:fixed; bottom: 0; right: 0;"><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=a1a51fb184a88bbb4c1756a211f1ff1fbc9d47079f63eb30&pic=41" alt="点我联系我" title="点我联系我"/></a></div>
	
	<!--该js需要修改js路径及修改seajs路径-->
	<script src="/js/webjs/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">
	$(function(){
    	$("#files").change(function(){
    		if($.browser.msie){//判断是否为ie浏览器
    			$("#perPic").attr("src",$(this).val())
    			//$("#info").text("当前选择的文件:"+$(this).val())
    			//alert("当前选择的文件:"+$(this).val());
    		}else{//不是IE浏览器
    			//$("#info").text("当前选择的文件:"+$(this).val())
    			var objUrl=getObjectURL(this.files[0]);
    			console.log("objUrl="+objUrl);
    			if(objUrl){
    				$("#perPic").attr("src",objUrl);
    			}
    		}
    	})
    	//建立一個可存取到該file的url
    	function getObjectURL(file) {
    		var url = null ; 
    		if (window.createObjectURL!=undefined) { // basic
    			url = window.createObjectURL(file) ;
    		} else if (window.URL!=undefined) { // mozilla(firefox)
    			url = window.URL.createObjectURL(file) ;
    		} else if (window.webkitURL!=undefined) { // webkit or chrome
    			url = window.webkitURL.createObjectURL(file) ;
    		}
    		return url ;
    	}
    });
	</script>
	<script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
	<script src="http://g.alicdn.com/bui/bui/1.1.17/config.js"></script>
	<script src="/js/webjs/menuTree.js"></script>
	<script type="text/javascript">
	var globalData;
	var globalIndustryDataJson = [];
	var globalCertificateDataJson = [];
	var globalIndustrySelected = "";
	var globalCertificateSelected = "";
	$.ajax({
		url : '/getAccounterInfo',
		type : "POST",
		async : false,
		data : {},
		success : function(data) {
			globalData = data;
			$('#userName').val(data.userName);
			$('#userPhone').val(data.userPhone);
			$('#image').val(data.image);
			$('#industryName').val(data.industry);
			$('#certificateName').val(data.certificate);
			if(data.image != null && data.image != "") {
				$('#perPic').attr('src', "/files/image/"+data.image);
			} else {
				$('#perPic').attr('src', "../../../img/webimg/pic_per.jpg");
			}			
		}
	});
	$.ajax({
		url : '/getAllAccounterIndustry',
		type : "POST",
		data : {},
		async : false,
		success : function(data) {
			$.each(data,function(name,value) {
				var item = {text:value,value:name};
				globalIndustryDataJson.push(item);
				var industryList = new Array();
				if(globalData.industry != null && globalData.industry != "") {
					industryList = globalData.industry.split(",");
				}
				for(var i=0; i<industryList.length; i++) {
					if(value == industryList[i]) {
						if(globalIndustrySelected == "") {
							globalIndustrySelected = name;
						} else {
							globalIndustrySelected = globalIndustrySelected + "," + name;
						}
					}
				}
			});
		}
	});
	$.ajax({
		url : '/getAllAccounterCertificate',
		type : "POST",
		data : {},
		async : false,
		success : function(data) {
			$.each(data,function(name,value) {
				var item = {text:value,value:name};
				globalCertificateDataJson.push(item);
				var certificateList = new Array();
				if(globalData.certificate != null && globalData.certificate != "") {
					certificateList = globalData.certificate.split(",");
				}
				for(var i=0; i<certificateList.length; i++) {
					if(value == certificateList[i]) {
						if(globalCertificateSelected == "") {
							globalCertificateSelected = name;
						} else {
							globalCertificateSelected = globalCertificateSelected + "," + name;
						}
					}
				}
			});
		}
	});
	BUI.use('bui/select',function(Select){
	        select = new Select.Select({
	          render:'#s1',
	          width:250,
	          valueField:'#certificate',
	          multipleSelect:true,
	          items:globalCertificateDataJson
	        });
	    select.render();
	    select.setSelectedValue(globalCertificateSelected);
	    select.on('change', function(ev){
	    	if(ev.text != null || ev.text != "") {
	    		$('#certificateName').val(ev.text);
	    	}
	    });
	  });
	BUI.use('bui/select',function(Select){
	   select = new Select.Select({
			  render:'#s2',
	          width:250,
	          valueField:'#industry',
	          multipleSelect:true,
	          items:globalIndustryDataJson
	    });
	    select.render();
	    select.setSelectedValue(globalIndustrySelected);
	    select.on('change', function(ev){
	    	if(ev.text != null || ev.text != "")  $('#industryName').val(ev.text);
	    });
	  });
	BUI.use(['bui/imgview', 'bui/overlay'], function(Imgview, Overlay){
		var modifyPwdForm = new Overlay.Dialog({
            title:'密码修改',
            width:600,
            height:280,
            contentId:'modifyPwd',
            success:function () {
              	this.close();
            },
            buttons : []
        });
		$('#setPwd').click(function(){
			modifyPwdForm.show();
		})
		$('#modify_pwd_button').click(function(){
			var oldPwd = $('#old_pwd').val();
			var newPwd = $('#new_pwd').val();
			var confirmNewPwd = $('#confirm_new_pwd').val();
			if(oldPwd == null || oldPwd == "") {
				BUI.Message.Alert('请输入旧密码！','warning');
				return;
			}
			if(newPwd == null || newPwd == "") {
				BUI.Message.Alert('请输新密码！','warning');
				return;
			}
			if(confirmNewPwd == null || confirmNewPwd == "") {
				BUI.Message.Alert('请输入新密码！','warning');
				return;
			}
			if(newPwd != confirmNewPwd) {
				BUI.Message.Alert('两次输入的新密码不一致，请检查！','warning');
				return;
			}
			$.ajax({
				url : '/modifyPassword',
				type : "POST",
				data : {oldPwd:oldPwd, newPwd:newPwd},
				success : function(data) {
					if(data.error_code == "0") {
						BUI.Message.Alert('修改密码成功！','success');
					} else {
						BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
					}
				},
				error : function(data) {
					BUI.Message.Alert('修改密码失败！错误信息：' + data.error_msg,'warning');
				}
			});
		})
	});
		//侧栏高度
        (function(){
            var H=$(window).height();
            var h1=$(".side-bar-top").height()+$(".side-bar-bottom").height();
            $(".side-bar-content").height(H-h1);
            $(window).resize(function(){
                H=$(window).height();
                $(".side-bar-content").height(H-h1);
            });
        })()
        
        addProvince($('#province'), $('#city'));
		$("#province").change(function(){
			$("#city").empty();
			addCity($('#city'), $('#province option:selected').val());
		});
		$("#city").change(function(){
			$("#area").empty();
			addArea($('#area'), $('#city option:selected').val());
		});
		
		$("#userFile").attr('onChange', $.browser.msie ? "$(this).data('onChange').apply(this)" : "")
		.change( function(){if(!$.browser.msie)$(this).data('onChange').apply(this)} )
		.data('onChange',function(){$("#userFileInfo").html($("#userFile").val() != null ? ($("#userFile").val().length>20 ? ($("#userFile").val().substr(0, 20) + "...") : $("#userFile").val()) : (""));});
		
		addIndustry();
		addCareer();
		addCertificate();
        
		function addIndustry() {
			
		}
        
		function addCareer() {
			$.ajax({
				url : '/getAllAccounterCareer',
				type : "POST",
				data : {},
				success : function(data) {
					$.each(data,function(name,value) {
						if(value == globalData.career) {
							$('#career').append("<option value='"+name+"' selected>"+value+"</option>");
						} else {
							$('#career').append("<option value='"+name+"'>"+value+"</option>");
						}
					});
				}
			});
		}
		
		function addCertificate() {
			
		}
		
        function addProvince(obj) {
			$.ajax({
				url : '/getAllProvinces',
				type : "POST",
				data : {},
				success : function(data) {
					$.each(data,function(name,value) {
						if(value == globalData.province) {
							obj.append("<option value='"+name+"' selected>"+value+"</option>");
						} else {
							obj.append("<option value='"+name+"'>"+value+"</option>");
						}
					});
					addCity($('#city'), $('#province option:selected').val());
				}
			});
		}

		function addCity(obj, provinceId) {
			obj.empty();
			$.ajax({
				url : '/getCities',
				type : "POST",
				data : {provinceId:provinceId},
				success : function(data) {
					$.each(data,function(name,value) {
						if(value == globalData.city) {
							obj.append("<option value='"+name+"' selected>"+value+"</option>");
						} else {
							obj.append("<option value='"+name+"'>"+value+"</option>");
						}
					});
					addArea($('#area'), $('#city option:selected').val());
				}
			});
		}

		function addArea(obj, cityId) {
			obj.empty();
			$.ajax({
				url : '/getAreas',
				type : "POST",
				data : {cityId:cityId},
				success : function(data) {
					$.each(data,function(name,value) {
						if(value == globalData.area) {
							obj.append("<option value='"+name+"' selected>"+value+"</option>");
						} else {
							obj.append("<option value='"+name+"'>"+value+"</option>");
						}
					});
				}
			});
		}
		
        function checkInput() {
        	var province = $('#province option:selected').text();
    		var city = $('#city option:selected').text();
    		var area = $('#area option:selected').text();
    		var industry = $('#industryName').val();
    		var career = $('#career option:selected').text();
    		var certificate = $('#certificateName').val();
    		var userName = $('#userName').val();
    		var userPhone = $('#userPhone').val();
    		var userFile = $("#files").val();
    		$('#provinceName').val(province);
    		$('#cityName').val(city);
    		$('#areaName').val(area);
    		$('#industryName').val(industry);
    		$('#careerName').val(career);
    		$('#certificateName').val(certificate);
    		if(userName == null || userName == '') {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('用户姓名不能为空，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		var imageTmp = $('#image').val();
    		if(imageTmp == "" || imageTmp.length == 0) {
	    		if(userFile == null || userFile == '') {
	    			BUI.use('bui/overlay',function(overlay){
						function show () {
							BUI.Message.Alert('头像文件没有选择，请检查！',function(){
							},'warning');
						}
						show();	      
					});
	    			return;
	    		}
    		}
    		if(userPhone == null || userPhone == '' || !isTelephone(userPhone)) {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('联系电话为空或不正确，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		if(industry == null || industry == '') {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('行业选择不能为空，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		if(career == null || career == '') {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('职业选择不能为空，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		if(certificate == null || certificate == '') {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('证书选择不能为空，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		if(province == null || province == '' ||
    				city == null || city == '' ||
    				area == null || area == '') {
    			BUI.use('bui/overlay',function(overlay){
					function show () {
						BUI.Message.Alert('地区选择不正确，请检查！',function(){
						},'warning');
					}
					show();	      
				});
    			return;
    		}
    		$('#accounterRegForm').submit();
		}
        
		//竖状菜单
	    var menu = new menuTree(
            {"nodes" : [
					{text : '完善注册信息',id : '20',href:"/views/webviews/accounter/finish_reg_info.html",  leaf:false, expanded : false,children: []},
					{text : '公司费用信息',id : '10',href:"/views/webviews/accounter/company_expense_records.html", leaf:false, expanded : false,children: []},
					{text : '公司工资模板上传',id : '30',href:"/views/webviews/accounter/company_salary_template_upload.html", leaf:false, expanded : false,children: []},
					{text : '预约取发票方式查询',id : '40',href:"/views/webviews/accounter/take_bill_way.html", leaf:false, expanded : false,children: []},
					{text : '公司发票信息',id : '50',href:"/views/webviews/accounter/company_expense_account.html", leaf:false, expanded : false,children: []},
					{text : '客户管理', id: '70', href:"/views/webviews/accounter/company_customer_management.html", leaf:false, expanded: false, children:[]}
					]
            },"menuTree"
        );
	    defaultSelect("20");
	    function defaultSelect(id){ 
	        $("#"+id).parent().addClass("bui-menu-item-selected")
	    }
	    
	    function isTelephone(phoneNumber) {
	    	var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
	    	var isMob = /^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[012356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;
	    	/* if(isMob.test(phoneNumber)||isPhone.test(phoneNumber)){ */
	    	if (isMob.test(phoneNumber)) {
	    		return true;
	    	} else {
	    		return false;
	    	}
	    }
	</script>
</body>
</html>